<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Autoslalom.it</title>
	<atom:link href="http://www.autoslalom.it/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.autoslalom.it</link>
	<description>Passione tra i birilli</description>
	<lastBuildDate>Wed, 07 Aug 2019 18:34:42 +0000</lastBuildDate>
	<language>it-IT</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.2</generator>
	<item>
		<title>Aperte le iscrizioni alla 47ª Garessio ? S. Bernardo che si correrà l&#8217;8 di settembre</title>
		<link>http://www.autoslalom.it/aperte-le-iscrizioni-alla-47a-garessio-s-bernardo-che-si-correra-l8-di-settembre/</link>
				<comments>http://www.autoslalom.it/aperte-le-iscrizioni-alla-47a-garessio-s-bernardo-che-si-correra-l8-di-settembre/#respond</comments>
				<pubDate>Wed, 07 Aug 2019 18:27:40 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[Garessio2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26175</guid>
				<description><![CDATA[<p>GARESSIO (CN) &#8211; Anche quest&#8217;anno, il mese di settembre vedrà il via della Garessio-San Bernardo, una delle gare più importanti del panorama automobilistico della montagna con i migliori e più spettacolari protagonisti della specialità sfidarsi in tre manches cronometrate: oltre quattro chilometri di slalom tra sedici postazioni di rallentamento disposte lungo un nastro d?asfalto che [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/aperte-le-iscrizioni-alla-47a-garessio-s-bernardo-che-si-correra-l8-di-settembre/">Aperte le iscrizioni alla 47ª Garessio ? S. Bernardo che si correrà l&#8217;8 di settembre</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/aperte-le-iscrizioni-alla-47a-garessio-s-bernardo-che-si-correra-l8-di-settembre/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Nel 4° Slalom di San Nicola vittoria di Fabio Emanuele davanti a Scarafone e Di Cristofaro</title>
		<link>http://www.autoslalom.it/nel-4-slalom-di-san-nicola-vittoria-di-fabio-emanuele-davanti-a-scarafone-e-di-cristorfaro/</link>
				<comments>http://www.autoslalom.it/nel-4-slalom-di-san-nicola-vittoria-di-fabio-emanuele-davanti-a-scarafone-e-di-cristorfaro/#respond</comments>
				<pubDate>Sun, 04 Aug 2019 18:56:20 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[sanicola2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26166</guid>
				<description><![CDATA[<p>E? Fabio Emanuele il vincitore del quarto slalom di San Nicola, organizzato ottimamente dalla Tecno Motor Racing Team unitamente alla Asd Tecno Motor-Ufficiali di gara La Casta con il sostegno del comune di San Giuliano del Sannio. Una kermesse che in questo 2019 per la prima volta ha avuto la validità di coppa Aci Sport [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/nel-4-slalom-di-san-nicola-vittoria-di-fabio-emanuele-davanti-a-scarafone-e-di-cristorfaro/">Nel 4° Slalom di San Nicola vittoria di Fabio Emanuele davanti a Scarafone e Di Cristofaro</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/nel-4-slalom-di-san-nicola-vittoria-di-fabio-emanuele-davanti-a-scarafone-e-di-cristorfaro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Girolamo Ingardia si aggiudica il 5° Autoslalom Città di Sant?Angelo Muxaro</title>
		<link>http://www.autoslalom.it/girolamo-ingardia-si-aggiudica-il-5-autoslalom-citta-di-santangelo-muxaro/</link>
				<comments>http://www.autoslalom.it/girolamo-ingardia-si-aggiudica-il-5-autoslalom-citta-di-santangelo-muxaro/#respond</comments>
				<pubDate>Sun, 04 Aug 2019 18:48:05 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[muxaro2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26163</guid>
				<description><![CDATA[<p>Sant&#8217;Angelo Muxaro (AG) &#8211; E&#8217; Girolamo Ingardia il vincitore del 5° Autoslalom Città di Sant&#8217;Angelo Muxaro. La gara tra i birilli, valevole per il Campionato Siciliano Slalom (coefficiente 1,5 &#8211; ZONA DUE), curato dalla Delegazione regionale Sicilia AciSport, per la Coppa Slalom 5a Zona e per lo Challenge Paliké 2019, ha visto imporsi il pilota [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/girolamo-ingardia-si-aggiudica-il-5-autoslalom-citta-di-santangelo-muxaro/">Girolamo Ingardia si aggiudica il 5° Autoslalom Città di Sant?Angelo Muxaro</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/girolamo-ingardia-si-aggiudica-il-5-autoslalom-citta-di-santangelo-muxaro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>La prima di Alessandro Zanoni sui Sette Tornanti</title>
		<link>http://www.autoslalom.it/la-prima-di-alessandro-zanoni-sui-sette-tornanti/</link>
				<comments>http://www.autoslalom.it/la-prima-di-alessandro-zanoni-sui-sette-tornanti/#respond</comments>
				<pubDate>Sun, 04 Aug 2019 18:43:04 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[7tornanti2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26160</guid>
				<description><![CDATA[<p>Si è decisa sul filo dei secondi la settima edizione dello «Slalom Sette Tornanti» e ad esultare, alla fine, è stato il veronese Alessandro Zanoni su Gloria C8, che dopo il secondo posto dello scorso anno e il terzo del 2017 ha finalmente agguantato la vittoria in una delle gare più prestigiose della specialità. Ci [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/la-prima-di-alessandro-zanoni-sui-sette-tornanti/">La prima di Alessandro Zanoni sui Sette Tornanti</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/la-prima-di-alessandro-zanoni-sui-sette-tornanti/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Domani semaforo verde per il 4° Slalom di San Nicola nella valle del Tammaro</title>
		<link>http://www.autoslalom.it/domani-semaforo-verde-per-il-4-slalom-di-san-nicola-nella-valle-del-tammaro/</link>
				<comments>http://www.autoslalom.it/domani-semaforo-verde-per-il-4-slalom-di-san-nicola-nella-valle-del-tammaro/#respond</comments>
				<pubDate>Sat, 03 Aug 2019 17:56:48 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[sanicola2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26157</guid>
				<description><![CDATA[<p>San Giuliano del Sannio (CB) &#8211; Da domani mattina, domenica 4 agosto alle ore 10,30 si farà sul serio. Scatterà infatti la manche di ricognizione del quarto slalom di San Nicola, gara organizzata dalla Tecno Motor Racing Team, unitamente all?A.S.D. Tecno Motor &#8211; Ufficiali di Gara La Casta, in collaborazione con l?amministrazione di San Giuliano [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/domani-semaforo-verde-per-il-4-slalom-di-san-nicola-nella-valle-del-tammaro/">Domani semaforo verde per il 4° Slalom di San Nicola nella valle del Tammaro</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/domani-semaforo-verde-per-il-4-slalom-di-san-nicola-nella-valle-del-tammaro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Via libera per i 91 piloti ammessi al 5° Autoslalom Città di Sant?Angelo Muxaro</title>
		<link>http://www.autoslalom.it/via-libera-per-i-91-piloti-ammessi-al-5-autoslalom-citta-di-santangelo-muxaro/</link>
				<comments>http://www.autoslalom.it/via-libera-per-i-91-piloti-ammessi-al-5-autoslalom-citta-di-santangelo-muxaro/#respond</comments>
				<pubDate>Sat, 03 Aug 2019 17:49:18 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[muxaro2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26154</guid>
				<description><![CDATA[<p>Sant&#8217;Angelo Muxaro (AG) &#8211; Ci siamo, ora è davvero tutto pronto per il 5° Autoslalom Città di Sant&#8217;Angelo Muxaro. Nella cittadina dell&#8217;agrigentino si svolgerà per il quinto anno consecutivo la manifestazione automobilistica tra i birilli. L&#8217;evento, valevole per il Campionato Siciliano Slalom (coefficiente 1,5 &#8211; ZONA DUE), curato dalla Delegazione regionale Sicilia AciSport, per la [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/via-libera-per-i-91-piloti-ammessi-al-5-autoslalom-citta-di-santangelo-muxaro/">Via libera per i 91 piloti ammessi al 5° Autoslalom Città di Sant?Angelo Muxaro</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/via-libera-per-i-91-piloti-ammessi-al-5-autoslalom-citta-di-santangelo-muxaro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Settanta al via della 7ª edizione dello Slalom dei 7 tornanti</title>
		<link>http://www.autoslalom.it/settanta-al-via-della-7a-edizione-dello-slalom-dei-7-tornanti/</link>
				<comments>http://www.autoslalom.it/settanta-al-via-della-7a-edizione-dello-slalom-dei-7-tornanti/#respond</comments>
				<pubDate>Sat, 03 Aug 2019 16:40:18 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[7tornanti2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26151</guid>
				<description><![CDATA[<p>Saranno settanta i piloti che domani si sfideranno lungo il tortuoso ed affascinante percorso dello Slalom Sette Tornanti per divertirsi fra le dieci birillate della manifestazione organizzata dalla Scuderia Trentina in uno dei segmenti più apprezzati della «Trento Bondone». Un tratto lungo appena 3 chilometri, molto tecnico, in grado di mettere a dura prova driver [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/settanta-al-via-della-7a-edizione-dello-slalom-dei-7-tornanti/">Settanta al via della 7ª edizione dello Slalom dei 7 tornanti</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/settanta-al-via-della-7a-edizione-dello-slalom-dei-7-tornanti/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Semaforo giallo per il San Nicola, domani le verifiche tecniche e sportive</title>
		<link>http://www.autoslalom.it/semaforo-giallo-per-il-san-nicola-domani-le-verifiche-tecniche-e-sportive/</link>
				<comments>http://www.autoslalom.it/semaforo-giallo-per-il-san-nicola-domani-le-verifiche-tecniche-e-sportive/#respond</comments>
				<pubDate>Fri, 02 Aug 2019 15:30:15 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[sanicola2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26147</guid>
				<description><![CDATA[<p>Il rombo dei motori riecheggerà da domani pomeriggio e proseguirà per tutta la giornata di domenica in tutta la Valle del Tammaro. In una San Giuliano vestita a festa, come si conviene ai grandi appuntamenti, con le verifiche tecniche (dalle 15,30 alle 20,30) e sportive (dalle 15 alle 20) in programma in un?unica giornata domani, [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/semaforo-giallo-per-il-san-nicola-domani-le-verifiche-tecniche-e-sportive/">Semaforo giallo per il San Nicola, domani le verifiche tecniche e sportive</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/semaforo-giallo-per-il-san-nicola-domani-le-verifiche-tecniche-e-sportive/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Domani le verifiche tecniche del 7° Slalom dei 7 Tornanti Monte Bondone</title>
		<link>http://www.autoslalom.it/domani-le-verifiche-tecniche-del-7-slalom-dei-7-tornanti-monte-bondone/</link>
				<comments>http://www.autoslalom.it/domani-le-verifiche-tecniche-del-7-slalom-dei-7-tornanti-monte-bondone/#respond</comments>
				<pubDate>Fri, 02 Aug 2019 15:11:33 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[7tornanti2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26139</guid>
				<description><![CDATA[<p>La settima edizione dello «Slalom Sette Tornanti» è alle porte. Domani pomeriggio l?ampio parcheggio davanti al ristorante Il Marinaio, a Trento, ospiterà le verifiche tecniche e sportive, mentre domenica si gareggerà. La lista iscritti definitiva annovera 70 piloti, un numero in linea con quelli delle precedenti edizioni, che saliranno per quattro volte da Sardagna a [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/domani-le-verifiche-tecniche-del-7-slalom-dei-7-tornanti-monte-bondone/">Domani le verifiche tecniche del 7° Slalom dei 7 Tornanti Monte Bondone</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/domani-le-verifiche-tecniche-del-7-slalom-dei-7-tornanti-monte-bondone/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Boom di iscrizioni al 5° Autoslalom Città di Sant?Angelo Muxaro</title>
		<link>http://www.autoslalom.it/boom-di-iscrizioni-al-5-autoslalom-citta-di-santangelo-muxaro/</link>
				<comments>http://www.autoslalom.it/boom-di-iscrizioni-al-5-autoslalom-citta-di-santangelo-muxaro/#respond</comments>
				<pubDate>Thu, 01 Aug 2019 20:27:59 +0000</pubDate>
		<dc:creator><![CDATA[niki]]></dc:creator>
				<category><![CDATA[home]]></category>
		<category><![CDATA[Prima pagina]]></category>
		<category><![CDATA[muxaro2019]]></category>

		<guid isPermaLink="false">http://www.autoslalom.it/?p=26135</guid>
				<description><![CDATA[<p>Sant?Angelo Muxaro (AG) &#8211; Passione alle stelle per il 5° Autoslalom Città di Sant&#8217;Angelo Muxaro. Mai così tanti iscritti come quest&#8217;anno. Il lavoro della Muxaro Corse, coadiuvata dal Team Paliké, ha portato i suoi frutti: tantissimi i consensi con un centinaio di piloti, che arriverà da tutta la Sicilia. Numeri importanti per una manifestazione che [&#8230;]</p>
<p>L'articolo <a rel="nofollow" href="http://www.autoslalom.it/boom-di-iscrizioni-al-5-autoslalom-citta-di-santangelo-muxaro/">Boom di iscrizioni al 5° Autoslalom Città di Sant?Angelo Muxaro</a> proviene da <a rel="nofollow" href="http://www.autoslalom.it">Autoslalom.it</a>.</p>
]]></description>
						<wfw:commentRss>http://www.autoslalom.it/boom-di-iscrizioni-al-5-autoslalom-citta-di-santangelo-muxaro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
