<!doctype html>
<html AMP>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="https://www.ilmessaggero.it/favicon.ico">
    <title>Università, La Sapienza star mondiale negli studi classici. Politecnico di Milano tra i primi dieci</title>
    <meta name="keywords" content="classifica, la sapienza, politecnico milano, università" />
    <meta name="news_keywords" content="classifica, la sapienza, politecnico milano, università" />
    <meta property="og:url" content="https://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html"/>
    <meta property="og:description" content="La Sapienza &egrave; la star mondiale negli Studi classici e Storia Antica.&nbsp;La classifica sulle universit&agrave; pi&ugrave; seguita al mondo registra, in questo finale dell&#39;inverno 2019,..."/>
            <meta property="og:image" content="https://www.ilmessaggero.it/photos/MED/79/28/4327928_1001_41667958sapienza.jpg" />
        <meta name="amp-google-client-id-api" content="googleanalytics">
    <meta property="article:publisher" content="https://www.facebook.com/Messaggero.it"/>
    <meta property="og:type" content="article"/>
    <meta property="al:ios:app_store_id" content="396297761"/>
    <meta property="article:section" content="Roma News"/>
    <meta property="article:published_time" content="2019-02-27T10:10:22+0100"/>
    <meta property="og:title" content="Università, La Sapienza star mondiale negli studi classici. Politecnico di Milano tra i primi dieci"/>
    <meta property="fb:app_id" content="545581918837233"/>
    <meta property="article:tag" content="classifica, la sapienza, politecnico milano, università"/>
    <meta property="al:ios:app_name" content="ilmessaggeroit"/>
    <meta property="og:site_name" content="ilmessaggeroit"/>
    <meta property="article:modified_time" content="2019-02-27 21:51:55"/> 
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html" />
    <meta name="twitter:site" content="@ilmessaggeroit" />
    <meta name="twitter:title" content="Università, La Sapienza star mondiale negli studi classici. Politecnico di Milano tra i primi dieci" />
    <meta name="twitter:description" content="La Sapienza &egrave; la star mondiale negli Studi classici e Storia Antica.&nbsp;La classifica sulle universit&agrave; pi&ugrave; seguita al mondo registra, in questo finale dell&#39;inverno 2019,..." />
    <meta name="twitter:images" content="https://www.ilmessaggero.it/photos/MED/79/28/4327928_1001_41667958sapienza.jpg" />    

    <link rel="canonical" href="https://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html">
    <style amp-custom>
        body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
            font-size: 100%;
            line-height: 1.5rem;
            color: #000;
            background: rgb(246, 246, 246);
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
        .main-body {
            background: #fff;
            max-width: 600px;
            margin: 0 auto;
            overflow-x: hidden;
        }
        .main-header {
            background: #f2f2f2;
            border-bottom: 1px solid #dfe0e0;
            min-height: 35px;
            position: relative;
        }
        .logo-wrapper {
            width: 200px;
            display: block;
            margin: 0 auto;
            padding-top: 0.5rem;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: #303030;
        }
        p {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 300;
            margin: 0px 0px 12px;
        }
        p.copy {
            font-size: 0.80rem;
        }

        p a{
            text-decoration: underline;
        }
        figure {
            margin: 0;
            position: relative;
        }
        .content_headline {
            font-family: Tahoma, Geneva, Arial, Verdana, sans-serif;
            color: #333;
            font-size: 1.75rem;
            font-weight: bold;
            line-height: 2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin: 0;
        }
        .content_labels {
            padding: 1rem 0 0.5rem 0;
            border-bottom: 0.0625rem solid #dfe0e0;
            position: relative;
            z-index: 1;
        }
        .content_section-label_link {
            text-transform: uppercase;
            font-size: 14px;
            background:#a40000;
            color: #ffffff;
            padding: 5px;
        }
        a.content_section-label_link {
            color: #ffffff;
        }
        .content__meta-container {
            border-top: 0.0625rem solid #dfe0e0;
            border-bottom: 0.0625rem solid #dfe0e0;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }
        .content__dateline {
            font-size: 0.75rem;
            line-height: 1rem;
            padding: 0.5rem 0;
            margin: 0;
            font-weight: 400;
            color: #767676;
        }
        .content__header,
        .content__article-body,
        .content__meta-container {
            margin: 0 0.625rem;
        }
        .content__article-body {
            margin-top: 0.625rem;
        }
        .content__labels {
            padding: 0.375rem 0;
            border-bottom: 0.0625rem dotted #dfdfdf;
            position: relative;
            z-index: 1;
        }
        .content__headline {
            color: #333;
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: -.02rem;
            padding-top: 0.125rem;
            padding-bottom: 1.5rem;
            margin: 0;
        }
        .byline {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 600;
            padding-top: 0.25rem;
            margin: 0;
            font-weight: 400;
            color: #767676;
        }
        .rounded-icon {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            -webkit-border-radius: 62.5rem;
            border-radius: 62.5rem;
        }
        .inline-icon {
            fill: #ffffff;
        }
        .control__icon-wrapper {
            border: 0.0625rem solid rgba(255, 255, 255, 0.3);
            float: left;
            height: 2.125rem;
            width: 2.125rem;
            text-align: center;
        }
        .social {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-y: hidden;
            height: 2rem;
        }
        .inline-icon__fallback,
        .submeta hr:first-of-type {
            display: none;
        }
        .social__item {
            display: inline-block;
            vertical-align: top;
            padding: 0 0.1875rem 0.375rem 0;
        }
        .social-icon {
            text-align: center;
            height: 2rem;
            width: 2rem;
        }
        .social-icon svg {
            height: 88%;
            width: 88%;
            vertical-align: middle;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
        .meta__extras {
            padding: 0.375rem 0;
        }
        .submeta hr,
        .meta__extras {
            border: 0;
            border-top: 0.0625rem solid #dfe0e0;
        }
        .social-icon--facebook {
            background-color: #3067a3;
        }
        .social-icon--twitter {
            background-color: #03b3ee;
        }
        .social-icon--email {
            background-color: #767676;
        }
        .social-icon--gplus {
            background-color: #e15440;
        }
        .social-icon--whatsapp {
            background-color: #59cb3f;
        }
        .control__icon-wrapper {
            border: 0.0625rem solid rgba(255, 255, 255, 0.3);
            float: left;
            height: 2.125rem;
            width: 2.125rem;
            text-align: center;
        }
        .rounded-icon {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            -webkit-border-radius: 62.5rem;
            border-radius: 62.5rem;
        }
        .u-h {
            display: none;
        }
        .brand-bar__item {
            height: 2.25rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            font-size: 0.875rem;
            font-weight: bold;
        }
        .l-footer__primary {
            position: relative;
            overflow: hidden;
            background: rgb(48,48,48);
        }
        .l-footer {
            padding: 0;
            margin-top: 1.5rem;
            background: #f2f2f2;
            clear: both;
        }
        .l-footer__secondary,
        .l-footer__secondary a {
            color: #333;
        }
        .l-footer__secondary {
            font-size: 0.75rem;
            line-height: 1rem;
            padding-right: 0.625rem;
            padding-left: 0.625rem;
        }
        .l-footer__misc {
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
            border-top: 0.0625rem solid #dfdfdf;
            text-align: right;
            text-transform: uppercase;
        }
        .signposting {
            background: #dfdfdf;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        .control_top {
            color: #fff;
            padding: 0.625rem;
        }
        .signposting {
            background: #dfdfdf;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        .signposting__item {
            white-space: nowrap;
            display: inline-block;
            height: 36px;
            line-height: 36px;
        }
        .signposting__action {
            padding: 0 0.625rem;
            vertical-align: middle;
        }
        .signposting__separator {
            color: #767676;
            vertical-align: -3px;
            font-size: 20px;
            margin: 0 -0.375rem;
        }
        .brand-bar {
            text-align: right;
            padding: 0.225rem;
        }
        .colophon {
            font-size: 0.875rem;
            list-style: none;
            margin: 0;
            padding: 0.375rem 0.375rem 0.375rem 0;
        }
        .colophon a {
            display: inline-block;
        }
        .adv_container{
            text-align: center;
            margin: 15px 0;
        }
        .adv_BannerTop,
        .adv_BannerArticoli {
            text-align: center;
        }
        .adv_BannerTop {
            height: 100px;
            padding-top: 0.8rem;
        }
        .onward-list {
            clear: both;
        }
        .fc-container__inner {
            padding-top: 0.1875rem;
            overflow: hidden;
            position: relative;
            margin-top: 24px;
        }
        .fc-container__header__title {
            position: relative;
            padding: 0.325rem;
            font-size: 1.375rem;
            line-height: 1.5rem;
            color: #fff;
            background: rgb(151, 27, 27);
        }
        .fc-item {
            background-color: #fff;
            border-bottom: 1px solid #cfcfcf;
            padding-left: 95px;
            position: relative;
            height: 100px;
            margin: 10px 0;
            overflow: hidden;
        }
        .fc-item__image-container {
            position: absolute;
            left: 0;
            width: 100px;
        }
        .fc-item__content {
            min-height: 57px;
            padding: 0 0.3125rem 18px;
            position: relative;
            overflow: hidden;
        }
        .fc-item__link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            overflow: hidden;
            text-indent: 200%;
            white-space: nowrap;
            background: transparent;
        }
        .fc-item__title {
            padding: 0;
            margin: 1px 0 0;
            font: inherit;
            word-wrap: break-word;
            font-size: 1rem;
            line-height: 1.25rem;
            color: #333333;
        }
        .fc-item__meta {
            font-size: 0.75rem;
            line-height: 1rem;
            position: absolute;
            bottom: 0;
            left: 0.3125rem;
            right: 0.3125rem;
            color: #767676;
        }
        .fc-item__meta .inline-icon {
            fill: #bdbdbd;
            position: relative;
            bottom: -1px;
        }
        .fc-item__byline {
            line-height: 1;
        }
        .list-overflow {
            position: absolute;
            bottom: 0;
        }
        a.url-button {
            display: block;
            width: 80%;
            text-align: center;
            margin: 20px auto;
            border: 1px dotted #006699;
            padding: 10px 0;
            color: #006699;
            text-decoration: none;
            border-bottom: 1px dotted #006699;
        }
        .iconvideo {
            width: 84px;
            height: 84px;
            overflow: auto;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-indent: -9999px;
            /* background: url(../img/player.png) 0 0 no-repeat; */
            z-index: 999;
        }
        @media (min-width: 30rem) {
            .content_headline {
                font-size: 2.25rem;
                line-height: 2.5rem;
            }
        }



        /* cookie notify */
        amp-user-notification {
            position: fixed;
            bottom: 0;
            z-index: 10000;
            min-height: 30px;
            font-family: arial, verdana, sans-serif;
            color: #fff;
            font-size: 15px;
            line-height: 22px;
            padding: 8px 30px 8px 8px;
            box-sizing: border-box;
            background: #000;
            opacity:0.85;
            filter:Alpha(opacity=85);
        }

        amp-user-notification .btn {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            height: 26px;
            min-width: 32px;
            padding: 0 5px;
            margin: 8px 0px;
            text-transform: uppercase;
            letter-spacing: 0;
            cursor: pointer;
            vertical-align: middle;
            line-height: 26px;
            text-align: center;
            font-family: arial, verdana, sans-serif;
            font-size: 16px;
            color: #fff;
        }
        @-webkit-keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @-moz-keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        amp-user-notification.amp-active {
            opacity: 0;
            -webkit-animation: fadeIn ease-in 1s 1 forwards;
            -moz-animation: fadeIn ease-in 1s 1 forwards;
            animation: fadeIn ease-in 1s 1 forwards;
        }
        /* end cookie notify */



        amp-user-notification .btn {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            height: 26px;
            min-width: 32px;
            padding: 0 5px;
            margin: 8px 0px;
            text-transform: uppercase;
            letter-spacing: 0;
            cursor: pointer;
            vertical-align: middle;
            line-height: 26px;
            text-align: center;
            font-family: "Arial";
            font-size: 16px;
            color: #fff;
        }

        .more{
            color: #00CCBD;
        }

        .amp-social-share-whatsapp {
            background-color: #25d366;
        }


        .amp-social-share-whatsapp {
            background-image: url(/img/amp/wa.png);
        }

        /* ---- navigation ---- */
        .hamburger {
            position: absolute;
            left: 10px;
            top: 10px;
        }
        amp-sidebar {
            max-width: 280px;
            min-width: 150px;
            background-color: #fff;
        }
        .sidebar {
            padding: 10px;
            margin: 0;
        }
        .sidebar > li {
            list-style: none;
            margin-bottom:10px;
            padding-right:40px;
            padding-bottom: 7px;
            border-bottom: 1px solid #eee;
        }
        .sidebar a {
            text-decoration: none;
            color: #000;
        }
        .close-sidebar {
            font-size: 2em;
            padding: 8px;
        }

        .card.related span{
            text-decoration: none;
            cursor: pointer;
            color: #000;
            font-size: 1.1em;
            line-height: 1.3em;
            display: block;
            margin-bottom: 10px;
            padding-bottom: 10px;
            min-height: 100px;
            border-bottom: 1px solid #eee;
        }
        .card.related amp-img{
            float: left;
            margin-right: 10px;
        }
        .testatina-related{
            font-size: 1rem;
            margin: 0px 0px 12px;
            background-color: #069;
            color: #fff;
            padding: 0.2em;
            padding-left: 0.4em;
        }

        amp-video{
            margin: 15px 0px;
        }
        #article{
            margin-top:10px;
        }

        /* ---- GDPR popup ---- */
        .consentPopup {
            position: fixed;
            bottom: 0;
            z-index: 10000;
            min-height: 30px;
            font-family: arial, verdana, sans-serif;
            color: #fff;
            font-size: 15px;
            line-height: 22px;
            padding: 8px 30px 8px 8px;
            box-sizing: border-box;
            background: #000;
            /*
            opacity:0.85;
            filter:Alpha(opacity=85);
            */
        }

        .consentPopup .btn {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            height: 26px;
            min-width: 32px;
            padding: 0 5px;
            margin: 8px 0px;
            text-transform: uppercase;
            letter-spacing: 0;
            cursor: pointer;
            vertical-align: middle;
            line-height: 26px;
            text-align: center;
            font-family: arial, verdana, sans-serif;
            font-size: 16px;
            color: #fff;
        }

        .consentPopup.amp-active {
            opacity: 0;
            -webkit-animation: fadeIn ease-in 1s 1 forwards;
            -moz-animation: fadeIn ease-in 1s 1 forwards;
            animation: fadeIn ease-in 1s 1 forwards;
        }

        .consentPopup button {
            border: none;
            border-radius: 2px;
            height: 26px;
            min-width: 32px;
            padding: 0 16px;
            margin: 0 16px;
            cursor: pointer;
            vertical-align: middle;
            text-align: center;
            background: #037cbc;
            color: #fff;
        }
        /* ---- /GDPR popup ---- */
        amp-sticky-ad {
            padding-top:5px;
        }
    </style>

        <script type="application/ld+json">
	    {
	    "@context": "http://schema.org",
	    "@type": "NewsArticle",
	    "mainEntityOfPage": "https://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html",
	    "headline": "Università, La Sapienza star mondiale negli studi classici. Politecnico di Milano tra i primi dieci",
	    "description": "La Sapienza &amp;egrave; la star mondiale negli Studi classici e Storia Antica.&amp;nbsp;La classifica...",
	    "keywords": "classifica, la sapienza, politecnico milano, università",
	    "articleSection": "Roma",
	    "datePublished": "2019-02-27T10:10:22+0100",
        "dateModified": "2019-02-27T10:10:22+0100",
	    "publisher": {
	    "@type": "Organization",
	    "name": "Il Messaggero",
	    "url": "https://www.ilmessaggero.it",
	    "logo": {
	    "@type": "ImageObject",
	     "url": "https://www.ilmessaggero.it/img/amp/msgr_logo.png",
	     "width": 263,
         "height": 20
	    }
	    },
	    "copyrightYear": 2019,
	    "copyrightHolder": {
	    "@type": "Organization",
	    "name": "ilmessaggero",
	    "logo": {
	    "@type": "ImageObject",
	    "url": "https://www.ilmessaggero.it/img/amp/msgr_logo_amp.png",
	    "width": 100,
	    "height": 100
	    }
	    },
	    "image": {
	    "@type": "ImageObject",
	    "url": "http://www.ilmessaggero.it/photos/HIGH/79/28/4327928_1001_41667958sapienza.jpg",
	    "width":990,
	    "height":658         },
	    "author": {
	    "@type": "Person",
	     "name": "Redazione Web",
	    "jobTitle": "Journalist"
	    }

	    }
	  </script>

    <script custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js" async></script>
    <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async></script>
    <!-- <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async></script> -->
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <!-- <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script> -->
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-sticky-ad" src="https://cdn.ampproject.org/v0/amp-sticky-ad-1.0.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
    <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

    <script async custom-element="amp-consent" src="https://cdn.ampproject.org/v0/amp-consent-0.1.js"></script>
    <script async custom-element="amp-geo" src="https://cdn.ampproject.org/v0/amp-geo-0.1.js"></script>
    
        
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>
<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
    <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">?</div>
    <ul class="sidebar">
        <li><a href="https://ilmessaggero.it/">Home</a></li>
        <li><a href="https://ilmessaggero.it/italia/">Italia</a></li>
        <li><a href="https://ilmessaggero.it/politica/">Politica</a></li>
        <li><a href="https://ilmessaggero.it/mondo/">Mondo</a></li>
        <li><a href="https://ilmessaggero.it/economia/">Economia</a></li>
        <li><a href="https://ilmessaggero.it/roma/">Roma</a></li>
        <li><a href="https://ilmessaggero.it/sport/">Sport</a></li>
        <li><a href="https://ilmessaggero.it/spettacoli/">Spettacoli</a></li>
        <li><a href="https://ilmessaggero.it/gossip/">Gossip</a></li>
        <li><a href="https://ilmessaggero.it/social/">Social</a></li>
        <li><a href="https://ilmessaggero.it/tecnologia/">Tecnologia</a></li>
        <li><a href="https://motori.ilmessaggero.it">Motori</a></li>
        <li><a href="https://ilmessaggero.it/moda/">Moda</a></li>
        <li><a href="https://ilmessaggero.it/salute/">Salute</a></li>
        <li><a href="https://ilmessaggero.it/viaggi/">Viaggi</a></li>
        <li><a href="https://ilmessaggero.it/foto/">FOTO</a></li>
        <li><a href="https://ilmessaggero.it/video/">VIDEO</a></li>
        <li><a href="https://ilmessaggero.it/oroscopo/">Oroscopo</a></li>
    </ul>
</amp-sidebar>

<!-- Serving non-personalized ads to all EEA users -->
<amp-geo layout="nodisplay">
    <script type="application/json">
        {
            "ISOCountryGroups": {
                "eu": ["al", "ad", "am", "at", "by", "be", "ba", "bg", "ch", "cy", "cz", "de", "dk", "ee", "es", "fo", "fi", "fr", "gb", "ge", "gi", "gr", "hu", "hr", "ie", "is", "it", "lt", "lu", "lv", "mc", "mk", "mt", "no", "nl", "po", "pt", "ro", "ru", "se", "si", "sk", "sm", "tr", "ua", "uk", "va"]
            }
        }
    </script>
</amp-geo>

<amp-consent id="myUserConsent" layout="nodisplay">
    <script type="application/json">
        {
            "consents": {
                "eu": {
                    "promptIfUnknownForGeoGroup": "eu",
                    "promptUI": "myConsentFlow"
                }
            }
        }
    </script>

    <div id="myConsentFlow" class="consentPopup">
        Questo sito utilizza cookie tecnici e profilativi, sia propri che di terze parti, per migliorare le
        funzionalit&agrave; e per inviarti pubblicit&agrave; e contenuti in linea con le tue preferenze. Se vuoi saperne di pi&ugrave; o negare il consenso a tutti o ad alcuni cookie <a href="//utils.cedsdigital.it/cookies/informativa.pdf" class="more" >clicca qui</a>.<br>
        Chiudendo questo banner acconsenti all&#39;uso dei cookie.
        <a class="btn" on="tap:myUserConsent.accept">X</a>
        <button on="tap:myUserConsent.accept">OK</button>
    </div>
</amp-consent>
<!-- /Serving non-personalized ads to all EEA users -->

<div class="main-body">
    <header class="main-header">
    <amp-img class="hamburger"
             src="/img/amp/ic_hamburger.png"
             width="32"
             height="32"
             alt="open sidebar"
             on="tap:sidebar1.toggle"
             role="button"
             tabindex="0"></amp-img>
    <a href="https://www.ilmessaggero.it" class="logo-wrapper" name="top">
        <amp-img src="/img/amp/msgr_logo.png" width=200 height=33></amp-img>
        <!-- <amp-img src="/img/amp/msgr_logo140.png" width=240 height=29></amp-img> -->
    </a>
</header>
<main role="main" class="container">
    
    <!-- ADV LdbMastheadPush spostato nello sticky -->
        <!--
        <div class="adv_container">        
            <amp-ad data-block-on-consent
                width=320 height=100
                type="doubleclick"
                data-slot="/38681514/Messaggero//LdbMastheadPush" 
                data-multi-size="320x100,320x50">
            </amp-ad>        
        </div>
        --> 
    
    <article id="article">
        <header class="content__header">
            <div class="content__labels">
                <div class="content_section-label">
                    <a class="content_section-label_link" data-link-name="article section" href="/roma/news/   ">News</a>
                </div>
            </div>
            <h1 itemprop="headline" class="content_headline">Universit&agrave;, La Sapienza star mondiale negli studi classici. Politecnico di Milano tra i primi dieci</h1>
        </header>
        
          
        
			                <figure itemprop="associatedMedia image" itemscope="" itemtype="//schema.org/ImageObject" data-component="image">
                                            <amp-img id="img1" src="/photos/MED/79/28/4327928_1001_41667958sapienza.jpg" width=360 height=216 layout="responsive" alt=""></amp-img>
                                    </figure>
                        
        
        <div class="content__meta-container js-content-meta js-football-meta u-cf">

            
            <p class="content__dateline" aria-hidden="true">
                <time itemprop="datePublished" datetime="2019-02-27T10:10:22+0100" data-timestamp="1551258622">
                    Mercoledì 27 Febbraio 2019                </time>
                                    <time itemprop="dateModified" datetime='2019-02-27T10:10:22+0100' data-timestamp="1551258622" >
                        Ultimo aggiornamento <span> 21:51 </span>
                    </time>
                            </p>
            <div>
                <amp-social-share type="facebook" width="50" height="36" data-param-app_id="602506186465830"></amp-social-share>
                <amp-social-share type="twitter" width="50" height="36"> </amp-social-share>
                <!--<amp-social-share type="gplus" width="50" height="36"></amp-social-share>-->
                <amp-social-share type="email" width="50" height="36"></amp-social-share>
                <amp-social-share type="whatsapp"  width="50" height="36"   data-share-endpoint="whatsapp://send" data-param-text="Dai un'occhiata a questo articolo: Titolo - CANONICAL_URL"></amp-social-share>
            </div>

        </div>
              
        <div class="content__article-body from-content-api js-article__body" itemprop="articleBody" data-test-id="article-review-body">

            <p>La Sapienza &egrave; la star mondiale negli Studi classici e Storia Antica.&nbsp;<span>La classifica sulle universit&agrave; pi&ugrave; seguita al mondo registra, in questo finale dell&#39;inverno 2019, un&#39;altra avanzata degli atenei italiani. Il nostro Paese, secondo il Quacquarelli Symonds world rankings by subjects (sta &quot;per aree e discipline&quot;), con i suoi 44 atenei citati in 48 discipline &egrave; il quarto in Europa per numero di universit&agrave; dopo Regno Unito, Germania e Francia e il settimo al mondo. Siamo la terza nazione europea, ancora, per la quantit&agrave; di posizioni occupate. Diciotto universit&agrave; italiane sono state classificate tra le prime cento per 36 distinte discipline.<br /><span>Il primato dell&#39;universit&agrave; La Sapienza ha una sua storia. La cattedra di Studi classici esiste a Roma dal XV secolo, ma fino a qualche anno fa sarebbe stato impensabile che la Sapienza aspirasse ai vertici di classifiche internazionali. Il risultato &egrave; confermato anche dal fatto che l&rsquo;ateneo,che pure ha perso qualche posizione in altre discipline, &egrave; comunque e in cima alla classifica italiana in ben 12 materie, da Archeologia a Filosofia.&nbsp;<br /><span>Per valutare i progressi nazionali, costanti in questa classifica nelle ultime stagioni, &egrave; interessante notare come il sistema Italia porti in graduatoria un ateneo in pi&ugrave; rispetto al 2018 e confermi il dipartimento di un&#39;universit&agrave;, la Sapienza di Roma, appunto, primo al mondo. Se approfondiamo nella top 50 ci sono cinque italiane in pi&ugrave; (quest&#39;anno sono 34), nella top 100 quindici in pi&ugrave; (ora sono 98) e nella top 200 ventitr&eacute; in pi&ugrave; (236 in tutto).<br /><span>Confermando la sua forza nei Classics, l&#39;universit&agrave; romana &egrave; undicesima in Archeologia, 34a in Fisica, 43a in Biblioteconomia. Aggiunge cinque discipline tra le prime cento classificate al carnet 2017 e avanza in quattro delle cinque macroaree. Il rettore Eugenio Gaudio: </span></span></span></span>&laquo;<span><span><span><span>Ci troviamo a competere con universit&agrave; straniere che godono di risorse nettamente maggiori. ll primato assoluto negli studi classici &egrave; il riconoscimento della centralit&agrave; culturale del Paese: questo patrimonio costituisce la base valoriale fondante della nostra societ&agrave; e abbiamo il dovere di trasmetterlo ai nostri studenti perch&eacute; offre strumenti di analisi e competenze trasversali che fanno la differenza anche in un mercato del lavoro in cui tecnologia e competenze tecnico-scientifiche si evolvono con estrema rapidit&agrave;, diventando obsolete in poco tempo</span></span></span></span>&raquo;<span><span><span><span>.</p>
            <div class="adv_container">
                <!-- ADV AmpTop -->
                <amp-ad data-block-on-consent
                    width=320 height=250
                    type="doubleclick"
                    data-slot="/38681514/Messaggero/Roma/AmpTop" 
                    data-multi-size="320x100,300x250,320x50,300x100,300x50">
                </amp-ad>
            </div><p><span>Cresce con forza il Politecnico di Milano: tra i migliori dieci in tre discipline: sesto in Arte &amp; Design (perde una posizione), settimo in Ingegneria civile (ne guadagna due) e settimo in Ingegneria meccanica (avanza di dieci). In Architettura &egrave; undicesimo. L&#39;Universit&agrave; di Bologna &egrave; la seconda italiana rappresentata in classifica e il migliore degli atenei nazionali in quattro materie: Arte e studi umanistici, Lingue moderne, Scienze agro-forestali e Odontoiatria. &quot;Siamo l&#39;unico ateneo a comparire tra i primi in tutte le cinque macroaree del sapere&quot;, dice il rettore Francesco Ubertini, &quot;solo sette in Europa ci sono riusciti&quot;. Il terzo campione nazionale &egrave; l&#39;Universit&agrave; di Padova, trentaseiesima al mondo in Anatomia (perde, tuttavia, undici posizioni nel confronto mondiale). La privata Bocconi di Milano &egrave; ottava al mondo per Business &amp; Management (+2), sedicesima in Economia (comferma) e diciottesima in Finanza (+11).</span></span></span></span></span></p><p>&nbsp;</p>            
            <a class="url-button" href="https://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html">
                Leggi l'articolo completo<br /> su Il Messaggero            </a>
            
            <!-- ad sticky position -->
            <amp-sticky-ad layout="nodisplay">                                
                <amp-ad data-block-on-consent
                    width=320 height=50
                    type="doubleclick"
                    data-slot="/38681514/Messaggero/Roma/LdbMastheadPush" 
                    data-multi-size="300x50,320x50">
                </amp-ad>                 
            </amp-sticky-ad>

        </div>
    </article>
    

    <amp-iframe width=100 height=100
                sandbox="allow-top-navigation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
                layout="responsive"
                frameborder="0"
                resizable
                src="https://widgets.outbrain.com/hub/amp.html#htmlURL=http://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html&ampURL=https://www.ilmessaggero.it/AMP/roma/la_sapienza_classifica_classici-4327928.html&widgetIds=AMP_1&index=0&testMode=false&originTarget=*">
        <div overflow tabindex=0 role=button aria-label="Outbrain Recommendations">Outbrain</div>
    </amp-iframe>
    
    <div class="adv_container">                
        <!-- ADV BoxTop -->            
        <amp-ad data-block-on-consent  
            width=300 height=250
            type="doubleclick"
            data-slot="/38681514/Messaggero/Roma/BoxBottom">            
        </amp-ad>            
    </div>
     
	<div class="content__article-body">
    <p class="testatina-related">MESSAGGERO NEWS</p>
          
       	<div>
        	<a class="card related" href="https://www.ilmessaggero.it/AMP/politica/elezioni_europee_2019_italia_voto_diretta-4516811.html">
              <amp-img width="100"
                height="100"
                src="https://www.ilmessaggero.it/photos/THUMB/68/11/4516811_1150_mattarellavoto.jpg"></amp-img> 
              <span>Europee, 51 milioni di italiani al voto
alle 12 affluenza del 15,9%</span>
            </a>
        </div>
	      
       	<div>
        	<a class="card related" href="https://www.ilmessaggero.it/AMP/pay/riscatto_laurea_conviene_sconto-4515455.html">
              <amp-img width="100"
                height="100"
                src="https://www.ilmessaggero.it/photos/THUMB/54/55/4515455_0011_laurea.jpg"></amp-img> 
              <span>Laurea, il riscatto con lo sconto conviene a chi guadagna di più</span>
            </a>
        </div>
	      
       	<div>
        	<a class="card related" href="https://www.ilmessaggero.it/AMP/economia/reddito_cittadinanza_lavoro_nero-4513728.html">
              <amp-img width="100"
                height="100"
                src="https://www.ilmessaggero.it/photos/THUMB/37/28/4513728_0853_reddito_cittadinanza.jpg"></amp-img> 
              <span>Reddito di cittadinanza, 500 mila poveri fantasma</span>
            </a>
        </div>
	      
       	<div>
        	<a class="card related" href="https://www.ilmessaggero.it/AMP/mondo/el_reno_tornado_oklahoma_city_storm-4516710.html">
              <amp-img width="100"
                height="100"
                src="https://www.ilmessaggero.it/photos/THUMB/67/10/4516710_0842_tornado1.jpg"></amp-img> 
              <span>Tornado spazza via un hotel in Oklahoma: corpi estratti dalle macerie Video</span>
            </a>
        </div>
	      
       	<div>
        	<a class="card related" href="https://www.ilmessaggero.it/AMP/vaticano/bambino_abusi_prete_milano_cristina_battaglia_lettera_vaticano-4516749.html">
              <amp-img width="100"
                height="100"
                src="https://www.ilmessaggero.it/photos/THUMB/67/49/4516749_1030_bassettipapa.jpg"></amp-img> 
              <span>Ragazzino abusato dal prete, la mamma scrive al cardinale Bassetti: «Perché tante menzogne?»</span>
            </a>
        </div>
	    </div>
    

</main>


<footer class="l-footer u-cf" data-link-name="footer" data-component="footer">
    <div class="l-footer__primary">
        <div id="footer-nav" class="gs-container">
            <div class="brand-bar">
                <a class="brand-bar__item brand-bar__item--action" data-link-name="back to top" href="#top">
                    <span class="control_top">Torna su &#9650; </span>
                </a>
            </div>
            <ul class="breadcrumb signposting">
                <li class="signposting__item signposting__item--parent">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/roma/" data-link-name="/roma/" class="signposting__action"><span itemprop="title">Roma</span></a>
                    </div>
                </li>
                                    <li class="signposting__item signposting__item--parent">
                        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="signposting__separator" aria-hidden="true"><span class="signposting__separator__inner">&#62;</span></span>
                            <a itemprop="url" href="/roma/news/" data-link-name="/roma/news/" class="signposting__action"><span itemprop="title">News</span></a>
                        </div>
                    </li>
                            </ul>
        </div>
    </div>
    <div class="l-footer__secondary gs-container" role="contentinfo">
        <ul class="colophon u-cf">
            <li class="colophon__item">
                <a data-link-name="terms" href="https://www.ilmessaggero.it/privacy/informativa.pdf">Privacy</a>
            </li>
        </ul>
        <div class="l-footer__misc">
            <div class="really-serious-copyright">&copy; 2019 ilmessaggero  C.F. e P.IVA 05629251009</div>
        </div>
    </div>
</footer></div>
<!-- Webtrekk (c) www.webtrekk.com WEB -->
<amp-pixel src="https://caltagironeeditore01.wt-eu02.net/927615140575951/wt.pl?p=328,https://www.ilmessaggero.it/roma/news/la_sapienza_classifica_classici-4327928.html - amp&cg1=Aggregato Caltagirone Editore&cg2=mobile&cg3=mob - Il Messaggero&cg4=mob - Messaggero - Roma"></amp-pixel>

<!-- Google Analytics -->
<amp-analytics type="googleanalytics" id="analytics">
    <script type="application/json">
        {
            "vars": {
                "account": "UA-28263965-1"
            },
            "triggers": {
                "defaultPageview": {
                    "on": "visible",
                    "request": "pageview",
                    "vars": {
                        "title": "Università, La Sapienza star mondiale negli studi classici. Politecnico di Milano tra i primi dieci"
                    }
                }
            }
        }
    </script>
</amp-analytics>


<!-- Google Analytics Cross -->
<amp-analytics type="googleanalytics" id="analytics">
    <script type="application/json">
        {
            "vars": {
                "account": "UA-129497415-1"
            },
            "triggers": {
				"sampledOnRandom": {
                    "on": "visible",
                    "request": "pageview",
                    "sampleSpec": {
                        "sampleOn": "${random}",
                        "threshold": 1
                    }
                }
            }
        }
    </script>
</amp-analytics>


<!-- comScore -->
<amp-analytics type="comscore">
    <script type="application/json">
        {
            "vars": {
             "c2": "28869672"
            },
            "extraUrlParams": {
             "comscorekw": "amp"
            }
        }
    </script>
</amp-analytics>


<!-- Nielsen nuova tracciatura (da aprile 2018) -->
<amp-analytics type="nielsen">
    <script type="application/json">
        {
            "vars": {
                "apid": "C0775986-E989-4150-8071-840D74B43772",
                "prefix": "eu-",
                "apv": "1.0",
                "apn": "ilmessaggero-it",
                "section": "IlMessaggero_AMP",
                "segA": "NA",
                "segB": "NA",
                "segC": "Google AMP"
            }
        }
    </script>
</amp-analytics>
<amp-pixel src="https://secure-it.imrworldwide.com/cgi-bin/m?ci=ilmessaggero-it&amp;cg=0&amp;cc=0&amp;ts=noscript"></amp-pixel>

<!-- CMS Tracking -->
<amp-pixel src="https://track.cedsdigital.it/track_views.php" layout="nodisplay"></amp-pixel>

<!--
<amp-user-notification layout=nodisplay  id="amp-user-notification-cookies">
    Questo sito utilizza i cookie per migliorare la tua esperienza di navigazione ed inviarti pubblicit&agrave; e servizi in linea con le tue preferenze. <a href="//utils.cedsdigital.it/cookies/informativa.pdf" class="more" >Se vuoi saperne di pi&ugrave; clicca qui</a>.<br>
    Chiudendo questo banner acconsenti all'uso dei cookie.
    <a class="btn" on="tap:amp-user-notification-cookies.dismiss">X</a>
</amp-user-notification>
-->
</body>
</html><!-- 2019-05-26 12:41:18 --><!-- TIME TO GENERATE 0.047327041625977 -->