/* MICRO GRID - https://github.com/albertojacini/micro-grid */

.grid-row {
    margin-right: -2px;
    margin-left: -2px;
}
.version-list-head .grid-row>div{
    cursor: pointer;
}

.grid-row:before,
.grid-row:after {
    display: table;
    content: " ";
}

.grid-row:after {
    clear: both;
}

.grid-col-1, .grid-col-2, .grid-col-3, .grid-col-4, .grid-col-5, .grid-col-6, .grid-col-7, .grid-col-8, .grid-col-9, .grid-col-10, .grid-col-11, .grid-col-12, .grid-col-13, .grid-col-14, .grid-col-15, .grid-col-16, .grid-col-17, .grid-col-18, .grid-col-19, .grid-col-20, .grid-col-21, .grid-col-22, .grid-col-23, .grid-col-24 {
    position: relative;
    min-height: 1px;
      padding-right: 2px;
      padding-left: 2px;
    float: left;
}

.grid-col-24 { width: 100%; }
.grid-col-23 { width: 95.83333333%; }
.grid-col-22 { width: 91.66666667%; }
.grid-col-21 { width: 87.5%; }
.grid-col-20 { width: 83.33333333%; }
.grid-col-19 { width: 79.16666667%; }
.grid-col-18 { width: 75%; }
.grid-col-17 { width: 70.83333333%; }
.grid-col-16 { width: 66.66666667%; }
.grid-col-15 { width: 62.5%; }
.grid-col-14 { width: 58.33333333%; }
.grid-col-13 { width: 54.16666667%; }
.grid-col-12 { width: 50%; }
.grid-col-11 { width: 45.83333333%; }
.grid-col-10 { width: 41.66666667%; }
.grid-col-9  { width: 37.5%; }
.grid-col-8  { width: 33.33333333%; }
.grid-col-7  { width: 29.16666667%; }
.grid-col-6  { width: 25%; }
.grid-col-5  { width: 20.83333333%; }
.grid-col-4  { width: 16.66666667%; }
.grid-col-3  { width: 12.5%; }
.grid-col-2  { width: 8.33333333%; }
.grid-col-1  { width: 4.166666667%; }

.grid-img {
    width: 100%;
}