@charset "utf-8";
/*
 *  Princess Cruises Content Hub
 *
 *  The purpose of this file is to house styles unique for the content hub
 */ 

.article-container > .floating-cards:first-child {
	margin-top: -10px;
}
.article-info {
	font-size: 1.1538461em; /*15px*/
}
.article-info-date, .article-info-author {
	display: block;
}
.article-img-caption > p {
	margin: 0;
}

.floating-cards > .card-col.clear-left {
	clear: left;
}
/* clear the floats on every 3th card column in the 2 card column view */
@media (min-width: 640px) and (max-width: 767px) {
	.floating-cards > .card-col:nth-of-type(2n+1) {
		clear: left;
	}
	
}
/* clear the floats on every 4th card column in the 3 card column view */
@media (min-width: 768px) {
	.floating-cards > .card-col:nth-of-type(3n+1) {
		clear: left;
	}
}
