
 


<!doctype html>
<html ? lang="it">
<head>
<meta charset="utf-8">
<title>Inps, boom cassa integrazione a giugno | ANSA.it</title><link rel="canonical" href="http://www.ansa.it/sito/notizie/economia/2019/07/18/inps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html"><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<style amp-custom>
body { font-family: 'Georgia', Serif; margin: 0; }
.container{ max-width:620px; margin:0 auto;}
.brand-logo { max-width:620px; display:block; text-align:center; }
.brand-logo amp-img { background: none; }
.ad-container { display: flex; justify-content: center;margin:15px 0;}
.content-container p { line-height: 24px; }
header{ padding:15px 10px;}
.header-bl{ padding:13px 0 7px; border-bottom:1px solid #dcdcdc;}
.article-body{font-family:Arial, Helvetica, sans-serif; }
footer .brand-logo a,.article-body a,.author a {color: #178131;text-decoration: none;border-bottom: 1px dotted #178131;}

.article-body { padding:0 10px;}
.section-area,.related-news h2{ font:bold 11px/14px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#fff; background:#178131; margin:10px 0 0; padding:5px 7px;}
.lightbox { background: #222; }
.full-bleed { margin: 0 -15px; }
.lightbox-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; }
.lightbox-content p { color: #fff; padding: 15px; }
.lightbox amp-img { width: 100%; }
figure { margin: 0; }
figcaption { color: #6f757a; padding: 9px 10px 0; font-size: .8em; font-family:Arial, Helvetica, sans-serif; }
.author { display: flex; align-items: center; margin:20px 0 0; padding: 3px 7px; font-size: 1em;color: #6f757a; border: solid #dcdcdc; border-width:1px 0; }
.author p { margin: 5px; }
.header-time { display:block;color: #000; font-size: 14px; }
.byline { display: inline-block; }
.byline p{ line-height: normal; }
.byline .brand{ color: #6f757a; }
.standfirst { color: #6f757a; margin:.5em 0 0;}
.mailto { text-decoration: none; }
#author-avatar { margin: 10px 5px 10px 0; border: 5px solid #fff; width: 50px; height: 50px; border-radius: 50%;}
h1 { margin:7px 0; font-weight: normal; }
footer {overflow:hidden; display:block;height: 100px; background: #f4f4f4; }
.footer-menu{ display:block;text-align: center; clear:both; margin:20px 0 14px; padding:0 0 20px;border-bottom:1px solid #dedede;}
.footer-menu a{ font-family:Arial, Helvetica, sans-serif; color:#000;text-decoration: none;font-size: .9em;padding: 6px 10px;}
footer .brand-logo{ font-size:.7em; color:#666;}
.url-button {display: block;width: 80%;text-align: center;margin: 20px auto;border: 1px dotted #178131;padding: 10px 0;}
hr { margin: 0; }
amp-img {background-color: #f4f4f4;}
amp-youtube {max-width: 620px;}
blockquote{ border-left:3px solid #ddd; padding-left:20px;}
.carousel img{width: auto;}
.amp-carousel-button {visibility: visible;background-color: rgba(41,172,87, .5);}
footer { margin-bottom: 50px; }
amp-user-notification { padding: 8px; background: beige; }
.social {padding:0;}
.share-icon {display: inline-block; position: relative; border-radius: 4px; -webkit-border-radius: 4px; height:38px;}
.ticon {fill: #ffffff;}
.social-share {display: inline-block; padding-right: 0.2rem;}
.social-share a {border: none;}
.social-facebook {background-color: #3b5998;}
.social-twitter {background-color: #55acee;}
.social-email {background-color: #D07628;}
.social-linkedin {background-color: #0077b5;}
.social-gplus {background-color: #dc4e41;}
.social-whatsapp {background-color: #25d366;}
.top-share {text-align:center;}
.bottom-share {text-align:center;}

.related-news{margin:0 10px 15px;border: solid #dcdcdc;border-width:0 0 1px;}
.related-item{overflow:hidden; clear:both; width:100%; display:block;padding:10px 0;border: solid #dcdcdc;border-width:1px 0 0;}
.related-news h2{ width:120px; margin-bottom:10px;}
.related-item h3{ margin:0 0 5px;}
.related-item h3 a{ font:bold 14px/16px Georgia, "Times New Roman", Times, serif; color:#000; text-decoration:none;}
.related-item p{ font:12px/14px Arial, Helvetica, sans-serif; margin:0 0 5px;}
.related-item amp-img{float:left; margin-right:7px;}
.related-ad { width: 100%; height: 120px; }
</style>
<!--style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript-->
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<script async custom-element="amp-anim" src="https://cdn.ampproject.org/v0/amp-anim-0.1.js"></script>
<script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<!--script async custom-element="amp-slides" src="https://cdn.ampproject.org/v0/amp-slides-0.1.js"></script-->
<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
<script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script> 
<script async src="https://cdn.ampproject.org/v0.js"></script>

<script type="application/ld+json">
	    {
	    "@context": "http://schema.org",
	    "@type": "NewsArticle",
	    "mainEntityOfPage": "/sito/notizie/economia/2019/07/18/inps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html",
	    "headline": "Inps, boom cassa integrazione a giugno",
	    "description": "A giugno 'il numero di ore di cassa integrazione complessivamente autorizzate e?stato pari a 27,6 milioni, in aumento del 42,6% rispetto allo stesso mese del 2018 (19,3 milioni)'. Lo rileva l'Inps.",
	    "keywords": "Inps",
	    "articleSection": "Economia - ",
	    "datePublished":"2019-07-18T09:08",
	    "dateModified": "2019-07-18T09:08",
	    "publishingPrinciples": "http://www.ansa.it/amphtml/ansa.amp.html",
	    "publisher": {
	    "@type": "Organization",
	    "name": "ANSA",
	    "url": "http://www.ansa.it",
	    "logo": {
	    "@type": "ImageObject",
	    "url": "http://www.ansa.it/amphtml/img/logo_ansait.png",
	    "width": 270,
	    "height": 60
	    }
	    },
	    "copyrightYear": 2016,
	    "copyrightHolder": {
	    "@type": "Organization",
	    "name": "ANSA.it",
	    "logo": {
	    "@type": "ImageObject",
	    "url": "http://www.ansa.it/amphtml/img/logo_ansait.png",
	    "width": 270,
	    "height": 60
	    }
	    },

	    "image": {
	    "@type": "ImageObject",
	    "url": "/webimages/img_700/2019/2/8/b52e46962d473be167ec4b2994f73c4e.jpg",
	    "width": 700,
	    "height": 467
	    },

	    "author": {
	    "@type": "Person",
	    "name": "Redazione ANSA",
	    "jobTitle": "Journalist"
	    }
	    
	    }
	  </script></head><body>
<amp-user-notification layout=nodisplay id="amp-user-notification-cookie-accepted">
	Questo sito utilizza cookie, anche di terze parti, a scopi pubblicitari e per migliorare servizi ed esperienza dei lettori.
	Per maggiori informazioni o negare il consenso, leggi l'<a href="http://www.ansa.it/sito/static/privacy.html#Cookies">informativa estesa</a>.
	Se decidi di continuare la navigazione consideriamo che accetti il loro uso.
	<button on="tap:amp-user-notification-cookie-accepted.dismiss">
		Ok
	</button>
</amp-user-notification>


	
        <amp-pixel src="https://www.google-analytics.com/collect?v=1&amp;t=pageview&amp;z=$RANDOM&amp;dt=$TITLE+-+AMPHTML&amp;dl=$CANONICAL_URL&amp;ds=amphtml&amp;tid=UA-950299-1&amp;cid=$RANDOM"></amp-pixel>
<div class="container">
    <header class="header-bl">
      <div class="brand-logo">
      <a href="http://www.ansa.it">
        <svg width="135px" height="30px" viewBox="0 0 283.46 64.684">
            <g>
                <path fill="#29AC57" d="M44.584,2.416l15.077,45.143c1.807,5.503,3.07,6.767,6.229,6.767h3.07v7.948H36.007v-7.948h2.709
                    c2.709,0,4.967-0.36,4.967-1.353c0-0.903-0.09-1.895-0.452-3.254l-1.896-6.494H22.918l-1.084,3.607
                    c-0.993,3.158-1.354,4.518-1.354,5.781c0,1.439,3.159,1.712,5.597,1.712h2.619v7.948H2.154v-7.948h3.069
                    c3.16,0,4.424-1.264,6.229-6.767L26.529,2.416H44.584z M25.536,35.276h13.091l-6.499-19.409h-0.183L25.536,35.276z"/>
                <path fill="#29AC57" d="M123.846,43.674h0.18V13.972c0-2.255-1.263-3.614-3.522-3.614h-5.506V2.416h27.808v7.941h-5.42
                    c-2.255,0-3.519,1.359-3.519,3.614v48.302h-18.237L90.531,17.762h-0.18v32.956c0,2.255,1.263,3.607,3.521,3.607h5.508v7.948H71.482
                    v-7.948h5.508c2.257,0,3.521-1.353,3.521-3.607V13.972c0-2.255-1.264-3.614-3.521-3.614h-5.599V2.416h29.071L123.846,43.674z"/>
                <path fill="#29AC57" d="M194.987,23.809h-8.31c-1.352-9.477-9.748-14.803-17.689-14.803c-5.238,0-10.116,1.719-10.116,7.766
                    c0,11.372,39.09,2.255,39.09,27.989c0,14.443-12.452,19.313-24.911,19.313c-6.957,0-13.995-1.439-19.681-5.598l-2.352,4.79h-7.581
                    V39.611h8.396c1.176,9.477,9.029,16.073,19.682,16.073c4.694,0,10.38-2.622,10.38-7.765c0-12.915-39.09-2.439-39.09-28.35
                    c0-14.898,13.451-18.961,25.911-18.961c6.134,0,12.004,1.991,17.153,5.238l1.624-4.246h7.493V23.809z"/>
                <path fill="#29AC57" d="M262.911,54.671c-11.145,0-20.173-9.028-20.173-20.173c0-4.188,1.271-8.066,3.453-11.292l-6.942-20.79
                    h-18.058l-15.074,45.143c-1.808,5.503-3.071,6.767-6.23,6.767h-3.07v7.948h26.542v-7.948h-2.615c-2.438,0-5.598-0.272-5.598-1.712
                    c0-1.264,0.359-2.623,1.352-5.781l1.087-3.607h18.418l1.895,6.494c0.36,1.359,0.448,2.351,0.448,3.254
                    c0,0.992-2.255,1.353-4.966,1.353h-2.703v7.948h32.948v-7.677C263.381,54.604,263.154,54.671,262.911,54.671z M220.199,35.276
                    l6.414-19.409h0.176l6.502,19.409H220.199z"/>
                <g>
                    <path fill="#29AC57" d="M261.743,42.711c0,1.234,0.309,1.896,1.587,1.896h1.8v3.512h-14.156v-3.512h1.896
                        c1.271,0,1.579-0.661,1.579-1.896v-9.756c0-1.234-0.309-1.895-1.579-1.895h-2.027v-3.512h10.901V42.711z M261.743,21.913
                        c0,2.16-1.667,3.828-3.82,3.828c-2.152,0-3.827-1.668-3.827-3.828c0-2.152,1.675-3.82,3.827-3.82
                        C260.076,18.094,261.743,19.761,261.743,21.913z"/>
                    <path fill="#29AC57" d="M274.18,19.364v8.184h5.407v3.512h-5.407v12.092c0,0.925,0.485,1.667,1.499,1.667
                        c1.667,0,2.108-1.183,2.108-3.203v-3.431h3.519v3.908c0,4.313-2.108,6.686-7.391,6.686c-4.525,0-7.03-2.196-7.03-6.686V31.06
                        h-2.946v-3.512c4.394,0,5.539-4.533,5.893-8.184H274.18z"/>
                </g>
            </g>
        </svg>
       </a>
      </div>
    </header>

<main role="main">
<article>
<div class="content-container">
<header>
<span class="section-area">Economia</span>
<h1>Inps, boom cassa integrazione a giugno</h1>
<p class="standfirst">L'aumento annuo per la Cigs sfiora il 100%</p>
</header>
<figure>
<amp-img layout="responsive" placeholder="placeholder" width="700" height="467" src="/webimages/img_700/2019/2/8/b52e46962d473be167ec4b2994f73c4e.jpg" alt="Inps, boom cassa integrazione a giugno"></amp-img>
<figcaption></figcaption>
</figure>
<div class="author">
<p>
<b>Redazione ANSA</b>
<time class="header-time">ROMA - Luglio 18, 2019 - News</time>
</p>
</div>
<div class="top-share">




<ul class="social">
<li class="social-share">
<a href="https://www.facebook.com/dialog/share?app_id=514987508589175&amp;href=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html&amp;redirect_uri=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Facebook">
<span class="ticon share-icon social-facebook">
<svg width="38" height="38" viewBox="-2 -2 32 32"><path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg>
</span>
</a>
</li>

<li class="social-share">
<a href="https://twitter.com/intent/tweet?text=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno&amp;url=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Twitter">
<span class="ticon share-icon social-twitter">
<svg width="38" height="38" viewBox="-2 -2 32 32"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg>
</span>
</a>
</li>

<li class="social-share">
<a href="whatsapp://send?text=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno%20http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su WhatsApp">
<span class="ticon share-icon social-whatsapp">
<svg width="38" height="38" viewBox="0 0 30 30"><path d="M22.09 7.87c-1.88-1.88-4.38-2.92-7.05-2.92-5.49 0-9.96 4.47-9.96 9.96 0 1.75.46 3.47 1.33 4.98L5 25.04l5.28-1.38c1.45.79 3.09 1.21 4.76 1.21 5.49 0 9.96-4.47 9.96-9.96 0-2.65-1.03-5.15-2.91-7.04m-7.05 15.32c-1.49 0-2.95-.4-4.22-1.15l-.3-.18-3.13.82.84-3.05-.2-.31C7.2 18 6.76 16.47 6.77 14.91c0-4.56 3.71-8.27 8.28-8.27 2.21 0 4.29.86 5.85 2.43 1.56 1.56 2.42 3.64 2.42 5.85 0 4.56-3.72 8.27-8.28 8.27m4.54-6.2c-.25-.12-1.47-.73-1.7-.81s-.39-.12-.56.12c-.17.25-.64.81-.79.97-.14.17-.29.19-.54.06-.25-.12-1.05-.39-2-1.23-.74-.66-1.24-1.47-1.38-1.72-.15-.25-.02-.38.11-.51.11-.11.25-.29.37-.44.12-.15.17-.25.25-.42.08-.17.04-.31-.02-.44-.06-.12-.56-1.35-.77-1.85-.2-.49-.41-.42-.56-.43-.14-.01-.31-.01-.48-.01-.17 0-.44.06-.66.31-.22.25-.87.85-.87 2.08 0 1.22.89 2.41 1.02 2.57.12.17 1.75 2.68 4.25 3.76.59.26 1.06.41 1.42.52.6.19 1.14.16 1.57.1.48-.07 1.47-.6 1.68-1.18s.21-1.08.14-1.18c-.06-.08-.23-.14-.48-.27"></path></svg>
</span>
</a>
</li>

<li class="social-share">
<a href="http://www.linkedin.com/shareArticle?mini=true&amp;title=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno&amp;url=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su LinkedIn">
<span class="ticon share-icon social-linkedin">
<svg width="38" height="38" viewBox="0 0 30 30"><path d="M10.576 7.985c.865 0 1.568.703 1.568 1.568 0 .866-.703 1.57-1.568 1.57-.867 0-1.568-.704-1.568-1.57 0-.865.7-1.568 1.568-1.568zm-1.353 4.327h2.706v8.704H9.222v-8.704zm4.403 0h2.595v1.19h.038c.36-.685 1.244-1.407 2.56-1.407 2.737 0 3.243 1.803 3.243 4.147v4.774h-2.7v-4.232c0-1.01-.02-2.308-1.407-2.308-1.408 0-1.623 1.1-1.623 2.235v4.306h-2.704v-8.704"></path></svg>
</span>
</a>
</li>

<!-- li class="social-share">
<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Google plus">
<span class="ticon share-icon social-gplus">
<svg width="38" height="38" viewBox="4 -4 32 32"><path d="M8.8 12c-.1 2.9 2 5.7 4.7 6.6 2.6.9 5.8.2 7.5-2 1.3-1.6 1.6-3.6 1.4-5.6h-6.7v2.4h4c-.3 1.2-1.1 2.2-2.3 2.7-2.3 1-5.1-.3-5.8-2.7-.9-2.3.5-5 2.9-5.7 1.4-.5 2.9.1 4.1.8l1.8-1.8c-1.4-1.2-3.2-1.9-5-1.7-3.6.1-6.8 3.4-6.6 7zm18-3v2h-2v2h2v2h2v-2h2v-2h-2V9h-2z"></path></svg>
</span>
</a>
</li -->

<li class="social-share">
<a href="mailto:?subject=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno&amp;body=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Email">
<span class="ticon share-icon  social-email">
<svg width="38" height="38" viewBox="-2 -2 32 32"><path d="m 20.2,11.7 -0.4,-0.4 -5.7,2.7 -5.7,-2.7 -0.3,0.4 6,3.205085 z M 22.99322,7.1016949 4.940678,7.0338983 C 4.9510035,11.794283 5.1394766,15.8245 4.938983,20.101695 l 18.052542,0 c 0.01574,-4.468521 0.01203,-9.146972 0.0017,-13.0000001 z M 20.9,17.8 l -13.8,0 0,-8.6 13.8,0 z"></path></svg>
</span>
</a>
</li>

</ul>

</div>
<!-- AdSense ->
<div class="ad-container">
<amp-ad width=300 height=250
type="adsense"
data-ad-client="ca-pub-2538762546398839"
data-ad-slot="1128808142">
</amp-ad>
</div>-->

<!--amp-ad width=300 height=250
    type="doubleclick"
    data-slot="/316475115/ansa_300x250_news_mobile"
>
</amp-ad-->
<div class="ad-container">
<amp-ad layout="fluid" height="fluid"
    type="doubleclick"
    data-slot="/316475115/ansa_news_amp"
    data-multi-size="300x600,300x250">
</amp-ad>
</div>

<!-- AdSense -->

<!-- Ad dotandads 
<div class="ad-container">
	<amp-ad width=300 height=250
	type="dotandads"
	data-cid="31"
	data-mpo="ansa3_amp"
	data-mpt="adv.amp/amp"
	data-sp='300x250-r16'></amp-ad>
</div>
<!-- Ad dotandads -->

<div class="article-body"><p>A giugno "il numero di ore di cassa integrazione complessivamente autorizzate e?stato pari a 27,6 milioni, in aumento del 42,6% rispetto allo stesso mese del 2018 (19,3 milioni)". Lo rileva l'Inps. In particolare "il numero di ore di cassa integrazione straordinaria autorizzate a giugno 2019 e? stato pari a 18,8 milioni, di cui 5,2 milioni per solidarietà, registrando un incremento pari al 99,8%" su anno.</p>
<p>Gli interventi in deroga sono stati invece pari a circa 0,6 milioni di ore autorizzate, con un incremento del 451,7%.<br />   </p><a class="url-button" href="http://www.ansa.it/sito/notizie/economia/2019/07/18/inps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html">
    Leggi l'articolo completo su ANSA.it</a>
</div>
</div>
</article>
</main>
<div class="bottom-share">


<ul class="social">
<li class="social-share">
<a href="https://www.facebook.com/dialog/share?app_id=514987508589175&amp;href=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html&amp;redirect_uri=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Facebook">
<span class="ticon share-icon social-facebook">
<svg width="38" height="38" viewBox="-2 -2 32 32"><path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg>
</span>
</a>
</li>

<li class="social-share">
<a href="https://twitter.com/intent/tweet?text=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno&amp;url=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Twitter">
<span class="ticon share-icon social-twitter">
<svg width="38" height="38" viewBox="-2 -2 32 32"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg>
</span>
</a>
</li>

<li class="social-share">
<a href="whatsapp://send?text=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno%20http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su WhatsApp">
<span class="ticon share-icon social-whatsapp">
<svg width="38" height="38" viewBox="0 0 30 30"><path d="M22.09 7.87c-1.88-1.88-4.38-2.92-7.05-2.92-5.49 0-9.96 4.47-9.96 9.96 0 1.75.46 3.47 1.33 4.98L5 25.04l5.28-1.38c1.45.79 3.09 1.21 4.76 1.21 5.49 0 9.96-4.47 9.96-9.96 0-2.65-1.03-5.15-2.91-7.04m-7.05 15.32c-1.49 0-2.95-.4-4.22-1.15l-.3-.18-3.13.82.84-3.05-.2-.31C7.2 18 6.76 16.47 6.77 14.91c0-4.56 3.71-8.27 8.28-8.27 2.21 0 4.29.86 5.85 2.43 1.56 1.56 2.42 3.64 2.42 5.85 0 4.56-3.72 8.27-8.28 8.27m4.54-6.2c-.25-.12-1.47-.73-1.7-.81s-.39-.12-.56.12c-.17.25-.64.81-.79.97-.14.17-.29.19-.54.06-.25-.12-1.05-.39-2-1.23-.74-.66-1.24-1.47-1.38-1.72-.15-.25-.02-.38.11-.51.11-.11.25-.29.37-.44.12-.15.17-.25.25-.42.08-.17.04-.31-.02-.44-.06-.12-.56-1.35-.77-1.85-.2-.49-.41-.42-.56-.43-.14-.01-.31-.01-.48-.01-.17 0-.44.06-.66.31-.22.25-.87.85-.87 2.08 0 1.22.89 2.41 1.02 2.57.12.17 1.75 2.68 4.25 3.76.59.26 1.06.41 1.42.52.6.19 1.14.16 1.57.1.48-.07 1.47-.6 1.68-1.18s.21-1.08.14-1.18c-.06-.08-.23-.14-.48-.27"></path></svg>
</span>
</a>
</li>

<li class="social-share">
<a href="http://www.linkedin.com/shareArticle?mini=true&amp;title=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno&amp;url=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su LinkedIn">
<span class="ticon share-icon social-linkedin">
<svg width="38" height="38" viewBox="0 0 30 30"><path d="M10.576 7.985c.865 0 1.568.703 1.568 1.568 0 .866-.703 1.57-1.568 1.57-.867 0-1.568-.704-1.568-1.57 0-.865.7-1.568 1.568-1.568zm-1.353 4.327h2.706v8.704H9.222v-8.704zm4.403 0h2.595v1.19h.038c.36-.685 1.244-1.407 2.56-1.407 2.737 0 3.243 1.803 3.243 4.147v4.774h-2.7v-4.232c0-1.01-.02-2.308-1.407-2.308-1.408 0-1.623 1.1-1.623 2.235v4.306h-2.704v-8.704"></path></svg>
</span>
</a>
</li>

<!-- li class="social-share">
<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Google plus">
<span class="ticon share-icon social-gplus">
<svg width="38" height="38" viewBox="4 -4 32 32"><path d="M8.8 12c-.1 2.9 2 5.7 4.7 6.6 2.6.9 5.8.2 7.5-2 1.3-1.6 1.6-3.6 1.4-5.6h-6.7v2.4h4c-.3 1.2-1.1 2.2-2.3 2.7-2.3 1-5.1-.3-5.8-2.7-.9-2.3.5-5 2.9-5.7 1.4-.5 2.9.1 4.1.8l1.8-1.8c-1.4-1.2-3.2-1.9-5-1.7-3.6.1-6.8 3.4-6.6 7zm18-3v2h-2v2h2v2h2v-2h2v-2h-2V9h-2z"></path></svg>
</span>
</a>
</li -->

<li class="social-share">
<a href="mailto:?subject=Inps%2C%20boom%20cassa%20integrazione%20a%20giugno&amp;body=http%3A%2F%2Fwww.ansa.it%2Fsito%2Fnotizie%2Feconomia%2F2019%2F07%2F18%2Finps-boom-cassa-integrazione-a-giugno_6cb25846-a42f-4c71-af3b-385740513c2e.html" target="_blank" title="Condividi su Email">
<span class="ticon share-icon  social-email">
<svg width="38" height="38" viewBox="-2 -2 32 32"><path d="m 20.2,11.7 -0.4,-0.4 -5.7,2.7 -5.7,-2.7 -0.3,0.4 6,3.205085 z M 22.99322,7.1016949 4.940678,7.0338983 C 4.9510035,11.794283 5.1394766,15.8245 4.938983,20.101695 l 18.052542,0 c 0.01574,-4.468521 0.01203,-9.146972 0.0017,-13.0000001 z M 20.9,17.8 l -13.8,0 0,-8.6 13.8,0 z"></path></svg>
</span>
</a>
</li>

</ul>

</div>
<div class="related-news">
	<h2>Ultima ora</h2>

	<!--include virtual="/sito/notizie/topnews/ind_amp_ultimenotizie.shtml"-->
	<div class="related-item">
		<figure><a href="/sito/notizie/topnews/2019/07/18/appendino-confronto-sereno-ce-dialogo_908b749a-6964-4cd9-b344-2eee45fcd049.html" title=""><amp-img src="/webimages/img_85x60/2019/7/16/5e436a94a4492549e8538c2f6e5ebf09.jpg" alt=" (ANSA)" width="80" height="60" /></a></figure>
        <h3><a href="/sito/notizie/topnews/2019/07/18/appendino-confronto-sereno-ce-dialogo_908b749a-6964-4cd9-b344-2eee45fcd049.html">Appendino, confronto sereno, c'è dialogo</a></h3>
        <p>Maggioranza M5S si ricompone, Sonia Schellino nuova vicesindaco</p>
    </div>
<div class="related-item">
		<figure><a href="/sito/notizie/topnews/2019/07/18/epstein-resta-in-carcere-per-molestie_941cfeeb-a644-47db-96ec-d51c744be88a.html" title=""><amp-img src="/webimages/img_85x60/2019/7/18/e5589ceacd3bf44a7937fa27f1668aa5.jpg" alt=" (ANSA)" width="80" height="60" /></a></figure>
        <h3><a href="/sito/notizie/topnews/2019/07/18/epstein-resta-in-carcere-per-molestie_941cfeeb-a644-47db-96ec-d51c744be88a.html">Epstein resta in carcere per molestie</a></h3>
        <p>Negati i domiciliari, 'rischio di fuga e di inquinamento prove'</p>
    </div>
<div class="related-item">
		<figure><a href="/sito/notizie/topnews/2019/07/18/trump-si-dissocia-dai-cori-contro-le-dem_10329705-9358-4d00-bc1d-b0d0ad06498b.html" title=""><amp-img src="/webimages/img_85x60/2019/7/18/62956816cb324cbb0f51f8d5617e6b4f.jpg" alt=" (ANSA)" width="80" height="60" /></a></figure>
        <h3><a href="/sito/notizie/topnews/2019/07/18/trump-si-dissocia-dai-cori-contro-le-dem_10329705-9358-4d00-bc1d-b0d0ad06498b.html">Trump si dissocia dai cori contro le dem</a></h3>
        <p>'Non sono contento, disapprovo'. Ma ieri non ha mosso un dito</p>
    </div>

	<!-- AdSense
	<div class="related-item">
		<div class="related-ad">
			<amp-ad width=320 height=120
			type="adsense"
			data-ad-client="ca-pub-2538762546398839"
			data-ad-slot="3836423344"></amp-ad>
		</div>
	</div>
	 -->
</div>


<!-- Ad dotandads -> 
<div class="ad-container">
	<amp-ad width=300 height=250
	type="dotandads"
	data-cid="31"
	data-mpo="ansa3_amp"
	data-mpt="adv.amp/amp"
	data-sp='300x250-r16'></amp-ad>
</div>
<!-- Ad dotandads -->
<!--div class="ad-container"-->
<div class="related-news">
	<h2>Atre news</h2>

<!-- outbrain -->
<amp-embed width="100" height="100" type="outbrain" layout="responsive" data-widgetIds="AMP_1"></amp-embed>

<!-- Google
<amp-ad
   	layout="responsive"
   	width=300
   	height=600
   	type="adsense"
    data-ad-format="autorelaxed"
	data-ad-client="ca-pub-2538762546398839"
	data-ad-slot="7599849387">
</amp-ad> -->
<!--/div-->
</div>

<footer>
    <nav class="footer-menu"><a href="/">Home</a><a href="/sito/static/disclaimer.html">Disclaimer</a><a href="/sito/static/privacy.html">Privacy</a><a href="/sito/static/copyright.html">Copyright</a></nav>
    <div class="brand-logo"><a href="/">&copy; ANSA</a> - Tutti i diritti riservati</div>
</footer>

</div>
</body>


</html>

