@charset "utf-8";
#ricerca_autocomplete {
	width: 388px;
	position: absolute;
	top: 73px;
	left: -195px;
	min-height: 200px;
	z-index: 11;
	border: solid 1px #c9c9c9;
	background-color: #fff;
	display: none;
}
#ricerca_autocomplete_item {
	margin: 0 20px;
	padding: 25px 15px 10px 15px;
	min-height: 50px;
	border-bottom: solid 1px #c4c4c4;
}
.ricerca_autocomplete_riga1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #7c7c7c;
}
.ricerca_autocomplete_riga2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #213366;
}
#ricerca_autocomplete_mostratutti {
	margin: 0 20px;
	padding: 25px 15px 25px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5578bd;
	text-align: center;
}
/* UTENTE LOGGATO */
#utente_loggato {
	width: 200px;
	position: absolute;
	top: 138px;
	left: 275px;
	z-index: 13;
	display: block;
}
#utente_loggato_freccia {
}
#utente_loggato_freccia img {
	padding-left: 130px;
}
#utente_loggato_corpo {
	background-color: #cf0320;
	min-height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(255,255,255,1);
}
#utente_loggato_corpo_wishlist {
	padding-top: 20px;
	padding-left: 20px;
	height: 30px;
	text-align: left;
	width: 100%
}
#utente_loggato_corpo_wishlist img {
	padding-right: 10px;
}
#utente_loggato_corpo_confronta {
	padding-left: 20px;
	height: 30px;
	text-align: left;
	width: 100%
}
#utente_loggato_corpo_confronta img {
	padding-right: 10px;
}
#utente_loggato_corpo_recensioni {
	padding-left: 20px;
	vertical-align: middle;
	display: table-cell;
	height: 30px;
	text-align: left;
	width: 100%
}
#utente_loggato_corpo_recensioni img {
	padding-right: 10px;
}
#utente_loggato_corpo_ordini {
	padding-left: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 12px;
	border-top: solid 1px #e88896;
	margin-top: 10px;
}
#utente_loggato_corpo_modifica {
	padding-left: 20px;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	border-top: solid 1px #e88896;
}
#utente_loggato_corpo_logout {
	padding-left: 20px;
	padding-top: 12px;
	border-top: solid 1px #e88896;
	padding-bottom: 15px;
}
/* CARRELLO APERTO */
#carrello_aperto {
	width: 391px;
	position: absolute;
	top: 80px;
	left: 82px;
	z-index: 10;
	display: none;
}
#carrello_aperto_freccia {
}
#carrello_aperto_freccia img {
	position: relative;
	top: 15px;
	left: 267px;
}
#carrello_aperto_corpo {
	border: solid 1px #c9c9c9;
	background-color: #fff;
	padding: 20px;
}
#carrello_aperto_footer {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #c9c9c9;
	border-bottom-color: #c9c9c9;
	border-left-color: #c9c9c9;
	height: 73px;
	background-image: url(../images/cssimages/carrello_sfondo_basso.png);
	background-repeat: no-repeat;
}
#carrello_aperto_vuoto {
	display: none;
}
.carrello_aperto_vuoto_primariga {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #213366;
	padding: 10px 30px;
}
.carrello_aperto_vuoto_secondariga {
	padding: 10px 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #213366;
}
.carrello_aperto_footer_testo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #213366;
	padding-left: 120px;
	padding-top: 20px;
}
.carrello_aperto_pieno_item {
	padding-right: 15px;
	border-bottom: solid 2px #d2d2d2;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.carrello_aperto_pieno_item table tbody td {
    padding: 0px 0px;
}
.carrello_aperto_pieno_categoria {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #7c7c7c;
}
.carrello_aperto_pieno_prodotto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #213366;
}
.carrello_aperto_pieno_prezzo {
	font-family: Anton, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #da0015;
	float: right;
}
.carrello_aperto_pieno_testo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #213366;
}
.carrello_aperto_pieno_rimuovi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #5578bd;
	text-transform: uppercase;
}

.carrello_aperto_pieno_rimuovi>a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #5578bd;
	text-transform: uppercase;
}
.carrello_aperto_pieno_prezzo2 {
	font-family: Anton, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #0b284f;
}
.rigagrigia {
	border-bottom: solid 1px #d2d2d2;
}
.carrello_aperto_pieno_tuttiprodotti {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5578bd;
	text-align: right;
	border-bottom: solid 2px #d2d2d2;
	padding-bottom: 5px;
	margin-bottom: 10px;
	padding-right: 15px;
}
.carrello_aperto_pieno_totale {
	font-family: 'FuturaMdBTBold';
	font-size: 16px;
	font-weight: bold;
	color: #0b284f;
}
.carrello_aperto_pieno_prezzototale {
	font-family: Anton, Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #da0015;
}
.carrello_aperto_pieno_note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
/* LOGIN */
#loyaltybar_login {
	width: 272px;
	position: absolute;
	top: 100px;
	left: 203px;
	z-index: 8;
	display: none;
}
#loyaltybar_login_bordo {
	border: solid 1px #c9c9c9;
	/*box-shadow: 1px 1px 5px #C9C9C9;*/
	/*box-shadow: 1px 1px 5px #999999;*/
	box-shadow: 1px 1px 5px rgba(201,201,201,0.8);
}
#loyaltybar_login_accedi {
	border: solid 1px #c9c9c9;
	border-bottom: none;
	background-color: #fff;
	position: relative;
	top: 1px;
	width: 85px;
	height: 34px;
	margin-left: 185px;
}
#loyaltybar_login_accedi div {
	padding: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #cf0320;
	text-align: center;
	cursor: pointer;
}
#loyaltybar_login_corpo {
	padding: 13px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #fff;
}
.loyaltybar_login_textbox_scuro {
	width: 188px;
	height: 45px;
	background-color: #ececec;
	border: solid 1px #d0d0d0;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #213366;
	padding: 0px 20px;
}
.loyaltybar_login_textbox_chiaro {
	width: 188px;
	height: 45px;
	background-color: #fff;
	border: solid 1px #d0d0d0;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #213366;
	padding: 0px 20px;
}
#loyaltybar_login_corpo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #5578bd;

}
#loyaltybar_login_corpo div>a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #5578bd;
	padding-top: 0px;
	text-transform: uppercase;
}
#reset_forgot{
	padding-top: 8px;
}


#loyaltybar_login_footer {
	height: 63px;
	background-image: url(../images/cssimages/login_sfondo_basso.png);
	background-repeat: no-repeat;
	padding-left: 80px;
}
.loyaltybar_login_footer_cartafan {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0b284f;
	padding-top: 13px;
}
.loyaltybar_login_footer_accedi {
	font-family: 'FuturaMdBTBold';
	font-size: 10px;
	font-weight: bold;
	color: #5578bd;
}
.loyaltybar_login_footer_accedi a{
	color: #5578BD;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
#loyaltybar_login_resetta_password {
	background-image: url(../images/cssimages/login_sfondo_reset.png);
	height: 186px;
	background-repeat: no-repeat;
	background-color: #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #213366;
	display: none;
}
#loyaltybar_login_resetta_password div {
	padding-top: 25px;
	padding-bottom: 10px;
}
/* CENTRO CONTROLLO FLOATING DIVS - ELIMINARE IN FASE DI PUBBLICAZIONE */
#floating_control {
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid 2px #F90;
	padding: 20px;
	z-index: 100;
	background-color: rgba(255,255,204,1);
}
/* MAIN VISUAL - MENU ESPANSO */
#main_visual_menu_espanso {
	width: 100%;
	height: 415px;
	position: absolute;
	top: 195px;
	left: 0px;
	/*background-color: rgba(153,153,153,1);*/
	background-image: url(../images/cssimages/main_menu_sfondo.png);
	z-index: 9;
	overflow: hidden;
	display: none;
}
#main_visual_menu_espanso_corpo {
	display: table;
}
#main_visual_menu_espanso_corpo_colonna1 {
	display: table-cell;
	padding-top: 30px;
}
#main_visual_menu_espanso_corpo_colonna2 {
	display: table-cell;
	padding-top: 30px;
}
#main_visual_menu_espanso_corpo_colonna3 {
	display: table-cell;
	padding-top: 30px;
}
#main_visual_menu_espanso_corpo_colonna4 {
	width: 330px;
	display: table-cell;
	vertical-align: top;
	padding-top: 20px;
}
.main_visual_menu_espanso_corpo_categoria {
	font-family: "FuturaMdBTBold";
	font-size: 12px;
	color: #212958;
	text-transform: uppercase;
	white-space: nowrap;
}
.main_visual_menu_espanso_corpo_sottocategoria {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4866a1;
	/*white-space: nowrap;*/
}
.main_visual_menu_espanso_corpo_icona {
	padding-top: 2px;
	width: 30px;
	text-align: right;
	margin-right: 10px;
}
.main_visual_menu_espanso_corpo_elenco {
	padding-left: 10px;
	padding-bottom: 25px;
}
.main_visual_menu_espanso_corpo_chiudi {
	position: absolute;
	bottom: 30px;

}
.main_visual_menu_espanso_corpo_testo
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #4866a1;
	white-space: nowrap;
	padding-top: 3px;
	padding-left: 10px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"] {

}
input[type="text"], input[type="email"], input[type="password"], textarea {

}