
<!DOCTYPE html>
<html lang="en-gb" xml:lang="en-gb">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        
	
<title>MSC Meraviglia Christening: event and guests | MSC Cruises</title>
<meta name="keywords" content="" />
<meta name="description" content="MSC Meraviglia Christening will take place on 3rd June in Le Havre. Discover more details about the guests and the ribbon cutting by Sophia Loren." />
<!-- Facebook, Google+ -->
<meta property="og:type" content="article"/>
<meta property="og:title" content="MSC Meraviglia Christening: event and guests | MSC Cruises"/>
<meta property="og:description" content="MSC Meraviglia Christening will take place on 3rd June in Le Havre. Discover more details about the guests and the ribbon cutting by Sophia Loren."/>
<meta property="og:url" content="http://m.msccruises.co.uk/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Meraviglia/Christening/Event.aspx"/>
<meta property="og:site_name" content="MSC Cruises UK Mobile Website"/>
<meta property="og:image" content="http://m.msccruises.co.uk/Assets/img/logo_social.png"/>
<meta property="og:image:secure_url" content="https://m.msccruises.co.uk/Assets/img/logo_social.png"/>
<meta property="article:publisher" content="https://www.facebook.com/MSC.Cruises.UK" />
<link href="https://plus.google.com/+msccruisesuk" rel="publisher" />
<!-- Twitter -->
<meta name="twitter:site" content="@MSC_Cruises_UK"/>
<meta name="twitter:domain" content="MSC Cruises"/>
<meta name="twitter:creator" content="@MSC_Cruises_UK"/>
<meta name="twitter:card" content="summary" />
<!-- Tag URL Canonical -->
<link rel="canonical" href="https://www.msccruises.co.uk/en-gb/Discover-MSC/Cruise-Ships/MSC-Meraviglia/Christening/Event.aspx" />

      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-itunes-app" content="app-id=1221939391">
    	<meta name="google-play-app" content="app-id=com.msccruises">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- CSS -->
        <link title="fonts" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/Assets/img/assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/Assets/Mobile/css/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" type="text/css" href="/Assets/Mobile/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" type="text/css" href="/Assets/Mobile/css/mobile.css" />      
        <link rel="stylesheet" href="/Assets/css/msc-newships-templates-responsive.css"/>
        <link rel="stylesheet" type="text/css" href="/Assets/Mobile/css/msc-newships.css"/>

        <!-- JS -->








<script async src="//70244.tctm.co/t.js"></script>





<script>var main_dir ="/en-gb/Mobile";
 var isStaging = "false";
 var chatActive = false;
var PubId = "136";
var officeCode = "GBR";
            switch (PubId) {
                case "117": // ITA
                    chatActive = true;
                    break;
                case "144": //FRA
                    chatActive = true;
                    break;
                case "137": //DEU
                    chatActive = true;
                    break;
                case "160": //USA
                    chatActive = true;
                    break;
                case "150": //ESP
                    chatActive = true;
                    break;
                case "136": //UK
                    chatActive = true;
                    break;
                case "147": //CH_FR
                    if (isStaging == 'True') chatActive = true;
                    break;
                case "149": //CH_DE
                    if (isStaging == 'True') chatActive = true;
                    break;
                case "145": //AUT
                    if (isStaging == 'True') chatActive = true;
                    break;
                case "158": //ZAF
                    chatActive = true;
                    break;
                case "81": //BRA
                    chatActive = true;
                    break;
            }
                    if(chatActive) {
                window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:'49368858'||'',section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn);},0);},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json);},1);}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn);}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn);}else{this._defL=this._defL||[];this._defL.push(fn);}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id);},0);},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site;}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id);}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s);},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady');});}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady');},false);window.addEventListener('load',function(){that._domReady('domReady');},false);}if(typeof(window._lptStop)=='undefined'){this.load();}},start:function(){this.autoStart=true;},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n});}this._timing[n]=(new Date()).getTime();},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init();}else{window.lpTag._tagCount+=1;}
                lpTag.section = [officeCode.toLowerCase() + "_dynamicLanding" + ((isStaging == 'True') ? "_test": "")];
            }

</script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="/Assets/Mobile/js/vendor/jquery.carouFredSel-6.2.1.js" defer></script>
        <script src="/Assets/Mobile/js/jquery.mmenu.min.all.js" defer></script>
        <script src="/Assets/Mobile/js/datepicker/jquery.plugin.js" defer></script> 
        <script src="/Assets/Mobile/js/datepicker/jquery.datepick.js" defer></script>       
       <script src="/Assets/Mobile/js/mobile.js"></script>


<script type="text/javascript" src="/Assets/js/jquery.cookiebar.js" defer></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.cookieBar({
            message: 'We use cookies to give you the best possible experience. By continuing to use the site you agree to our use of cookies.',
            acceptButton: false,
            declineButton: false,
            policyButton: true,
            policyText: 'Find out more',
            policyURL: '/en-gb/Mobile/Privacy.aspx',
            closeButton: true,
            closeImageURL: '/Assets/img/assets/closebox.png',
            autoEnable: true,
            acceptOnContinue: false,
            expireDays: 365,
            forceShow: false,
            effect: 'hide',
            element: 'body',
            append: false,
            fixed: true,
            bottom: false,
            zindex: '10000'
        });
        setTimeout(function () {
            cookieBarHeaderActions();
        }, 300);
    });
    
</script>


    </head>
  <body>
<div id="page">
   <form method="post" action="./Event.aspx" id="mainForm">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTExNjA5MDU1NzBkZC7IkzRVJfyj6EmXz6Ltm2zHaETbD8P4bqxFhhRBVO+i" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['mainForm'];
if (!theForm) {
    theForm = document.mainForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="http://ajax.aspnetcdn.com/ajax/4.5.1/1/WebForms.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
window.WebForm_PostBackOptions||document.write('<script type="text/javascript" src="/en-gb/WebResource.axd?d=o0w1SvOby8NszfgjrPLlwimTbnHk-TQu5wSVVpSwsyfXbwipMwX7gc-WPgQEFn7LuCXLOfaYFojjDK9NLS_93hNmDzD9PC-NtgmMzsZqVgk1&amp;t=635793099765829480"><\/script>');//]]>
</script>


<script type="text/javascript">var nb = 'no';</script><script type="text/javascript">var searchURL = '/en-gb/Mobile/system/Search-Results.aspx';</script>
<script src="http://ajax.aspnetcdn.com/ajax/4.5.1/1/MicrosoftAjax.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
(window.Sys && Sys._Application && Sys.Observer)||document.write('<script type="text/javascript" src="/en-gb/ScriptResource.axd?d=se_JQNGdwXAYxHQyq3uYWWWSjgXfRaDQ9pCSrkwPOevAYH6mCjH2jtHoBNiSscSVS0-YXr0-4GWBM85b361QwYY1aSX2POh2pvuB7j8sX_7IhhrK5EmuEbeiwsbx-l43Jlljx5QR3Z6vxdQeElWxBiBbk_M5zfqk8QiV9BnF3gI1&t=72e85ccd"><\/script>');//]]>
</script>

<script src="http://ajax.aspnetcdn.com/ajax/4.5.1/1/MicrosoftAjaxWebForms.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
(window.Sys && Sys.WebForms)||document.write('<script type="text/javascript" src="/en-gb/ScriptResource.axd?d=Kk2IofovzwY1aj13ttsA0yf9HeCWu4ipTl5KPeLU5--Yduibf9mDKvGCPXJuUngotykCF3qG20rRuaJsSVppijsJPc1sngk6St_MI2mtXfesHfnBo6QHNTSoCt7csYag995fXfNH1WFus1L6Mn4cgQYgRVnVZL4hf20VSEQohyrO88BVjcfV0nJY-SFZlAmk0&t=72e85ccd"><\/script>');//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="D1A84F69" />
</div>
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$mscScriptManager', 'mainForm', [], [], [], 90, 'ctl00');
//]]>
</script>


        
            
        <!-- Header -->
              	<div class="header">
  <a href="#menu" class="menuIconHeader"></a>
 <a href="tel:02034294050" class="phoneHeader"></a> 
		
            
                <a href="/en-gb/Mobile/Homepage.aspx"  target="_self" data-role="none" class="logoHeader" ><img src="/en-gb/Mobile/Assets/logo-mobile-uk-180x60.png"  id="home-logo" alt="MSC Cruises " /></a>            
            
        

</div>        <!-- Header end -->
        <!-- Menu -->
            	<nav id="menu">
  <ul>
  
      
      
							
									 <li><a href="/en-gb/Mobile/Homepage.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">HOME</a></li>
                            
							                              
							
                         	
      
  
      
      
							
									 <li><a href="/en-gb/Mobile/Plan-Book/Find-Cruise.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">FIND YOUR CRUISE</a></li>
                            
							                              
							
                         	
      
  
      
             <li>
                  <a href="#item2">CRUISE DEALS</a> 
                  <ul>
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Cruise-Deals/Cruises-from-Southampton.aspx" data-ajax="false">CRUISES FROM SOUTHAMPTON</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Choose-and-Cruise.aspx" data-ajax="false">CHOOSE &amp; CRUISE</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Top-Deals/Summer-2018.aspx" data-ajax="false">CRUISES FROM SOUTHAMPTON</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/All-Inclusive-Mediterranean-Cruises.aspx" data-ajax="false">ALL-INCLUSIVE CRUISES</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Deals-By-Destination/Cuba-Cruises.aspx" data-ajax="false">CUBA CRUISES</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Deals-By-Destination/Mediterranean-Cruises.aspx" data-ajax="false">MEDITERRANEAN CRUISES</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Deals-By-Destination/Dubai-Abu-Dhabi-SirBaniYas-Cruises.aspx" data-ajax="false">ABU DHABI, DUBAI &amp; SIR BANI YAS</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Deals-By-Destination/Caribbean-Cruises.aspx" data-ajax="false">CARRIBEAN CRUISES</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Deals-By-Destination/Northern-Europe-Cruises.aspx" data-ajax="false">NORTHERN EUROPE CRUISES</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/Cruise-Deals/Top-Deals/Last-Minute.aspx" data-ajax="false">LAST MINUTE CRUISE DEALS</a></li>
                              	                              
                            
                         							
                  
                  </ul>
             </li>
      
      
  
      
             <li>
                  <a href="#item3">DESTINATIONS</a> 
                  <ul>
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Mediterranean.aspx"  tridion:textonfail="" target="_self">MEDITERRANEAN</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Northern-Europe.aspx"  tridion:textonfail="" target="_self">NORTHERN EUROPE</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/South-America.aspx"  tridion:textonfail="" target="_self">SOUTH AMERICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Caribbean-Cuba-Antilles.aspx"  tridion:textonfail="" target="_self">CARIBBEAN, CUBA &amp; ANTILLES</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Dubai-Abu-Dhabi-Sir-Bani-Yas.aspx"  tridion:textonfail="" target="_self">DUBAI, ABU DHABI &amp; SIR BANI YAS</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/South-Africa.aspx"  tridion:textonfail="" target="_self">SOUTH AFRICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/MSC-Grand-Voyages.aspx"  tridion:textonfail="" target="_self">MSC GRAND VOYAGES</a></li>
                            
							                              
							
                         							
                  
                  </ul>
             </li>
      
      
  
      
             <li>
                  <a href="#item4">SHIPS</a> 
                  <ul>
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Armonia.aspx"  tridion:textonfail="" target="_self">MSC ARMONIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Ships/MSC-Bellissima.aspx"  tridion:textonfail="" target="_self">MSC BELLISSIMA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Divina.aspx"  tridion:textonfail="" target="_self">MSC DIVINA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Fantasia.aspx"  tridion:textonfail="" target="_self">MSC FANTASIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Lirica.aspx"  tridion:textonfail="" target="_self">MSC LIRICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Magnifica.aspx"  tridion:textonfail="" target="_self">MSC MAGNIFICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Meraviglia.aspx"  tridion:textonfail="" target="_self">MSC MERAVIGLIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Musica.aspx"  tridion:textonfail="" target="_self">MSC MUSICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Opera.aspx"  tridion:textonfail="" target="_self">MSC OPERA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Orchestra.aspx"  tridion:textonfail="" target="_self">MSC ORCHESTRA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Poesia.aspx"  tridion:textonfail="" target="_self">MSC POESIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Preziosa.aspx"  tridion:textonfail="" target="_self">MSC PREZIOSA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaside.aspx"  tridion:textonfail="" target="_self">MSC SEASIDE</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Sinfonia.aspx"  tridion:textonfail="" target="_self">MSC SINFONIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Splendida.aspx"  tridion:textonfail="" target="_self">MSC SPLENDIDA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaview.aspx"  tridion:textonfail="" target="_self">MSC SEAVIEW</a></li>
                            
							                              
							
                         							
                  
                  </ul>
             </li>
      
      
  
      
      
							
									 <li><a href="/en-gb/Mobile/Newsletter-Sign-Up.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">NEWSLETTER</a></li>
                            
							                              
							
                         	
      
  
      
      
							
									 <li><a href="/en-gb/Mobile/Contact/Contact-Us.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">CONTACT</a></li>
                            
							                              
							
                         	
      
  
      
      
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/About-MSC/News.aspx" data-ajax="false">NEWS</a></li>
                              	                              
                            
                         	
      
  

  </ul>
</nav>            
        <!-- Menu end -->
   
            <!-- Content -->
            <div class="content">
             
              
	<script>
		var page_id ="tcm:136-55474-64";
		var page_num ="55474";
	</script>

	<!-- Image Header -->
	<section id="head-content">
      
   
       
          
      	
          
      	
          
      	
          
      	
          
      	

         <!-- Start - Visual section -->
      	 
            
            	      

	<div id="root-header-container" class="destination-head" style="background-image: url('/en-gb/Mobile/Assets/MR_christening_visual_new_tcm136-55419.jpg'); background-attachment: inherit; ">

          
   <div class="center">
     
     	<h1>MSC MERAVIGLIA</h1>
     	<hr>
     
    
     
     	<p>RELIVE THE CHRISTENING HIGHLIGHTS</p>
     
     
          
     	    
     		<a class="play-video-popup" data-event="show-overlay"></a>
     	
     	
     
   </div>
</div>
            
      	
            
      	
            
      	
            
      	
            
      	
      <!-- End - Visual section -->      
      
	</section>
	<section id="body-content" class="center">
       
      	<!--[if IE 9]>        <div id="root-page-container" class="ie9"><![endif]-->
        <!--[if gt IE 10]>    <div id="root-page-container" class="ie10+ "><![endif]-->
        <!--[if !IE]><!-->    <div id="root-page-container"><!--<![endif]-->
      
      
        <div id="msc-newships-entertainment" class="msc-newships-page hidden-layout">

            <div class="content-region" data-region="content">
             
	       		
              		
              
              		
             			<!-- Start - Text section -->
<div class="section row text-section" id="text" data-section-name="text-section">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">

            

          
          	<h2 class="title">MSC MERAVIGLIA</h2>
          	<hr class="divide title">
           
                
          <div class="body">
            
        <p style="text-align: center;">
          <strong>THE EIGHTH WONDER OF THE WORLD IS HERE</strong>
        </p>
					<p style="text-align: center;">This exclusive event took place on <strong>3rd June</strong> in <strong>Le Havre</strong> and featured entertainment from acclaimed performers in the company of numerous international stars, authorities and global media. </p>
					<p style="text-align: center;"><strong>Relive the extraordinary event by scrolling through the photo gallery below.</strong></p>

                     
            
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End - Text section -->              		
              
              		
             			<!--coin-ceremony-->
<div class="section row carousel-section" style="margin-bottom:30px !important;" id="coin-ceremony-images" data-section-name="carousel-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 slick-carousel">
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_10_tcm136-63328.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_6_tcm136-63332.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/PF_Vago_tcm136-63314.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_11_tcm136-63327.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/Gianni_Onorato_tcm136-63333.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_12_tcm136-63334.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_1_tcm136-63308.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_9_tcm136-63329.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/GAD-ELMALEH_tcm136-63306.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/PATRICK-BRUEL_tcm136-63313.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_2_tcm136-63309.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_4_tcm136-63311.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_3_tcm136-63310.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/Sophia-Loren_2_tcm136-63317.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/Sophia-Loren2_tcm136-63320.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/Sophia-Loren_G-Aponte2_tcm136-63319.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_8_tcm136-63330.jpg');"></div>                
        
        <div style="background-image: url('/en-gb/Mobile/Assets/MR_Christening_7_tcm136-63331.jpg');"></div>                
        
      </div>
    </div>
  </div>
</div>

<div class="section row event-section" id="coin-ceremony" data-section-name="event-section" data-index-event-section="1">
  <div class="container-fluid active">
    <div class="content-expand">
      <div class="wrapper-content-bottom">
        <div class="content-bottom">
        </div>
      </div>
    </div>
  </div>
</div>



                  		
              
              		
             			
    
            
          <!-- Begin - Image and description section -->
           
          <div class="section row image-and-description-section" id="0" data-section-name="image-and-description-section">

              <div class="container-fluid"> 
          
	
              <div class="wrapper">
                  
                      <div class="image">
	
                                  <div class="inner cover" style="background-image: url('/en-gb/Mobile/Assets/sophia-loren_big2_tcm136-55401.jpg');"></div>   
                          
	                
                      </div> 
                  
                                         
                
                  
	
                      <div class="content right bg-blue">
        
	
                  
                   
        
                        
                    <h2>SOPHIA LOREN</h2> 
                        
                    <hr class="center">
                    <p>The Godmother of the new flagship is once again the glamorous Sophia Loren, global icon of Italian cinema. As the MSC Cruises fleet grows, she continues to bless each and every new ship, reflecting MSC Cruises? belief not only in loyalty, but also in Ms Loren?s unique beauty, talent and Mediterranean style, the same style that distinguishes every detail on board.</p>
                         
                     
                  </div>
                        
                   
              </div>
            </div>
          </div>
          <!-- End - Image and description section -->  
        
     
            
     
     
            

 

    
            
          <!-- Begin - Image and description section -->
           
          <div class="section row image-and-description-section" id="1" data-section-name="image-and-description-section">

              <div class="container-fluid"> 
          
	
              <div class="wrapper">
                  
                                         
                
                  
                  
	
                      <div class="content bg-blue">
        
	
                   
        
                        
                    <h2>GAD ELMALEH</h2> 
                        
                    <hr class="center">
                    <p>The Master of Ceremony for the event was the Moroccan-French actor and comedian Gad Elmaleh. Already one of Europe?s best loved talents, Gad recently embarked on a new chapter of his career: breaking through to American audiences. Performing in English for the first time, he played more than 70 sell-out shows in the United States between 2015 and 2016.</p>
                         
                     
                  </div>
                        
                  
                      <div class="image pull-element">
	
                         <div class="inner cover" style="background-image: url('/en-gb/Mobile/Assets/Elmaleh-Gad_big_tcm136-55406.jpg');"></div>
                          
	                    
                      </div> 
                   
              </div>
            </div>
          </div>
          <!-- End - Image and description section -->  
        
     
            
     
     
            

 

    
            
          <!-- Begin - Image and description section -->
           
          <div class="section row image-and-description-section" id="2" data-section-name="image-and-description-section">

              <div class="container-fluid"> 
          
	
              <div class="wrapper">
                  
                      <div class="image">
	
                                  <div class="inner cover" style="background-image: url('/en-gb/Mobile/Assets/PATRICK-BRUEL_tcm136-55405.jpg');"></div>   
                          
	                
                      </div> 
                  
                                         
                
                  
	
                      <div class="content right bg-blue">
        
	
                  
                   
        
                        
                    <h2>PATRICK BRUEL</h2> 
                        
                    <hr class="center">
                    <p>
						<strong>Patrick Bruel</strong> is one of the most familiar faces in French cinema, TV, theatre and pop music, having enjoyed considerable success over the last four decades both as an actor and as a singer. Following the South Asian tsunami of 2004, he co-wrote the song ?Et puis la terre?, to benefit the Red Cross. He participates in numerous industry events every year eg. Restos du Coeur, Telethon (sponsor 2013) and actively supports causes such as the eradication of cyber bullying.</p>
                         
                     
                  </div>
                        
                   
              </div>
            </div>
          </div>
          <!-- End - Image and description section -->  
        
     
            
     
     
            

 

    
            
          <!-- Begin - Image and description section -->
           
          <div class="section row image-and-description-section" id="3" data-section-name="image-and-description-section">

              <div class="container-fluid"> 
          
	
              <div class="wrapper">
                  
                                         
                
                  
                  
	
                      <div class="content bg-blue">
        
	
                   
        
                        
                    <h2>KIDS UNITED</h2> 
                        
                    <hr class="center">
                    <p>Created in 2015 to support UNICEF campaigns, <strong>Kids United</strong> is a French pop group made up of talented children from 8 to 16 years old, who come from a wide range of backgrounds. Together, they promote the rights of children around the world. And with over 1 million albums sold, their songs celebrating peace and hope have clearly struck a chord with audiences across the globe.</p>
                         
                     
                  </div>
                        
                  
                      <div class="image pull-element">
	
                         <div class="inner cover" style="background-image: url('/en-gb/Mobile/Assets/GROUPE-KIDS-big_tcm136-55404.jpg');"></div>
                          
	                    
                      </div> 
                   
              </div>
            </div>
          </div>
          <!-- End - Image and description section -->  
        
     
            
     
     
            

 

    
            
          <!-- Begin - Image and description section -->
           
          <div class="section row image-and-description-section" id="4" data-section-name="image-and-description-section">

              <div class="container-fluid"> 
          
	
              <div class="wrapper">
                  
                      <div class="image">
	
                                  <div class="inner cover" style="background-image: url('/en-gb/Mobile/Assets/Unicef_big_tcm136-55402.jpg');"></div>   
                          
	                
                      </div> 
                  
                                         
                
                  
	
                      <div class="content right bg-blue">
        
	
                  
                   
        
                        
                    <h2>UNICEF</h2> 
                        
                    <hr class="center">
                    <p>Goodwill ambassadors were also present at the event, supporting the MSC Cruises and <strong>UNICEF</strong> initiative ?Get on Board for Children?, a global partnership launched in 2009. To date, the lives of nearly 41,000 children and their families have been impacted by the support provided by MSC and the contributions of MSC Cruises guests.</p>
                         
                     
                  </div>
                        
                   
              </div>
            </div>
          </div>
          <!-- End - Image and description section -->  
        
     
            
     
     
            

 
    
    

                  		
              
              		
              

          	</div>
        </div>
    </section>
	<!--SITE_EDIT_INIT-->

            	  
<div id="phoneBanner" class="phoneBanner">
    <div id="phoneBannerTelNumber" class="phoneBannerTelNumber">
        <a id="closePopup" class="closePopup" onclick="bannerShow(false)">x</a>
        <span id="PhoneBanner_ReceiverIcon" class="PhoneBannerReceiver" OnClick="phoneCall()"></span>    
        <span id="PhoneBanner_LabelTelNumber" class="ico-phone-number-fix" OnClick="phoneCall()">CALL US</span>
        <span id="PhoneBanner_LabelNote" class="block phoneBannerNote">Need help planning? Call us!</span>      
    </div>
    <div id="phoneBannerLinks" class="phoneBannerLinks">
        <a id="PhoneBanner_phoneBannerLink1" class="leftLink link-goto-white" href="/en-gb/Mobile/Contact/Contact-Us.aspx" target="_blank">Email us<span class='ico-span right-arrow-small'></span></a>
        
    </div>
</div>
<script>
    $(document).ready(function () {
        var d = new Date(); 
        var h = parseInt(d.getHours());
        var opentime = h >= 8 && h < 22;
       
        var showPhoneBanner = sessionStorage.getItem("showPhoneBanner");
        if ((showPhoneBanner == null || showPhoneBanner == "") && opentime) {
            showPhoneBanner = true;
        }
        bannerShow(showPhoneBanner);
    });

    function bannerShow(show) {
        if (show == true || show == 'true') {
            $('.phoneBanner').show();
        } else {
            $('.phoneBanner').hide();
        }
        sessionStorage.setItem("showPhoneBanner", show);
    }

    function phoneCall() {
        dataLayer.push({
            'event': 'Mobile',
            'EventCategory': 'Mobile',
            'EventAction': 'Click-to-Call the Reservation Office - requests',
            'EventLabel': 'Floating banner ? click to call'
        });
        window.location = 'tel:00442034294050';
    }
</script> 
              
              <!-- Footer -->
          	  	<div class="footer">
    <div id="bottom-bar" class="center">
      <ul class="bottom-link-col">
          
                
                       
                  <li class="bottom-link inline-block">
                      <a href="javascript:noMobileLink();" target="_self" rel="external">About MSC</a>
                  </li>	  
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Terms-Conditions.aspx"  target="_self" rel="external">Terms &amp; Conditions</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Privacy.aspx"  target="_self" rel="external">Privacy</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Passenger-Bill-of-Rights.aspx"  target="_self" rel="external">Passenger Bill of Rights</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Terms-Of-Use.aspx"  target="_self" rel="external">Terms of Use</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Contact/Contact-Us.aspx"  target="_self" rel="external">Contact Us</a>                  </li>	  
                
                
          
       </ul>
    </div>
  <br clear="all" />
  <div class="footer-hr"></div>
<span class="fullsitetxt"><a href="https://www.msccruises.co.uk?desktop=true" style="color:white;" rel="external">View full site</a></span>
<p class="copyright">© 2017 MSC Cruises S.A. All rights reserved</p>
<p class="copyright"></p>
<div>			
<!-- END Footer -->
			
		</div><!-- END Content -->
		
</div> 
<!-- Page end -->
<div style="display:none" id="divNoMobileLink">At the moment this section is accessible only on our desktop site. Our apologies for any inconvenience caused.</div>


<script type="text/javascript">
//<![CDATA[
var parSymbol = decodeURI('£') + ' ';var parSeparator = '.';var parDecimDefault = '0';var parCentDefault = '0';var parSymbolPos = 'LEFT';//]]>
</script>
</form>
</div>
<!-- END div id=page -->
        <!-- COMMON STUFF -->        
        <script type="text/javascript">var pageLocale = "en-GB";</script>
<div class="hidden">            <div id="social-list-container">
              <ul>
                    
                           
                           <li id="fb-item" class="social-item action fb-item">
                             <a class="social-ico fb-ico" href="https://www.facebook.com/MSC.Cruises.UK" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
                
                    
              			   
                           <li id="tw-item" class="social-item action tw-item">
                             <a class="social-ico tw-ico" href="https://twitter.com/MSC_Cruises_UK" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
              
                    
                           
                           <li id="yt-item" class="social-item action yt-item">
                             <a class="social-ico yt-ico" href="https://www.youtube.com/channel/UCcnKYIf1sDi2HN1uhOUEpyA" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
              
                    
              			   
                           <li id="gp-item" class="social-item action gp-item">
                             <a class="social-ico gp-ico" href="https://plus.google.com/+msccruisesuk" target="_blank">&nbsp;</a>
                		   </li>
                                     
                    
              
                    
              			   
                           <li id="pi-item" class="social-item action pi-item">
                             <a class="social-ico pi-ico" href="http://www.pinterest.com/MSCCruisesUK/" target="_blank">&nbsp;</a>
              			   </li>
              			   
                    
              
                    
                           
                           <li id="ig-item" class="social-item action ig-item">
                             <a class="social-ico ig-ico" href="http://instagram.com/msccruisesofficial" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
              </ul>
           </div>

</div>
  <a href="#top" id="backTop" data-role="none"></a>
<div id="tagph">GTM-K23Q8F</div>


<script type="text/javascript" src="/Assets/Mobile/js/bundleB.js"></script>


</html>