
<!DOCTYPE html>
<html lang="en-gb" xml:lang="en-gb">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        
	
<title>Cruise ships: fleet information | MSC Cruises</title>
<meta name="keywords" content="msc cruises, msc, cruise, cruises, ship, ships, line, liner, fleet, style, world, class, comfort, modern, environment, design, facilities, decks, holiday, sailing," />
<meta name="description" content="Explore MSC Cruises fleet and discover details about our eco ships, deck plan, cabins and on board entertainment. Visit MSC for more information." />
<!-- Facebook, Google+ -->
<meta property="og:type" content="article"/>
<meta property="og:title" content="Cruise ships: fleet information | MSC Cruises"/>
<meta property="og:description" content="Explore MSC Cruises fleet and discover details about our eco ships, deck plan, cabins and on board entertainment. Visit MSC for more information."/>
<meta property="og:url" content="http://m.msccruises.co.uk/en-gb/Mobile/Discover-MSC/Cruise-Ships.aspx"/>
<meta property="og:site_name" content="MSC Cruises UK Mobile Website"/>
<meta property="og:image" content="http://m.msccruises.co.uk/Assets/img/logo_social.png"/>
<meta property="og:image:secure_url" content="https://m.msccruises.co.uk/Assets/img/logo_social.png"/>
<meta property="article:publisher" content="https://www.facebook.com/MSC.Cruises.UK" />
<link href="https://plus.google.com/+msccruisesuk" rel="publisher" />
<!-- Twitter -->
<meta name="twitter:site" content="@MSC_Cruises_UK"/>
<meta name="twitter:domain" content="MSC Cruises"/>
<meta name="twitter:creator" content="@MSC_Cruises_UK"/>
<meta name="twitter:card" content="summary" />
<!-- Tag URL Canonical -->
<link rel="canonical" href="https://www.msccruises.co.uk/en-gb/Discover-MSC/Cruise-Ships.aspx" />

      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-itunes-app" content="app-id=860597243">
    	<meta name="google-play-app" content="app-id=com.msccruises.mscforme">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- CSS -->
        <link title="fonts" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/Assets/img/assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/Assets/Mobile/css/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" type="text/css" href="/Assets/Mobile/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" type="text/css" href="/Assets/Mobile/css/mobile.css" />
        <link rel="stylesheet" type="text/css" href="/Assets/Mobile/css/msc-newships-templates-desktop-onlyB.css"/>


        <!-- JS -->

<script>var main_dir ="/en-gb/Mobile";
 var isStaging = "false";
 var chatActive = false;
var PubId = "136";
var officeCode = "GBR";
            switch (PubId) {
                case "95": // GBL
                    chatActive = true;
                    break;
                case "117": // ITA
                    chatActive = true;
                    break;
                case "144": //FRA
                    chatActive = true;
                    break;
                case "137": //DEU
                    chatActive = true;
                    break;
                case "160": //USA
                    chatActive = true;
                    break;
                case "150": //ESP
                    chatActive = true;
                    break;
                case "136": //UK
                    chatActive = true;
                    break;
                case "147": //CH_FR
                    if (isStaging == 'True') chatActive = true;
                    break;
                case "149": //CH_DE
                    if (isStaging == 'True') chatActive = true;
                    break;
                case "145": //AUT
                    if (isStaging == 'True') chatActive = true;
                    break;
                case "158": //ZAF
                    chatActive = true;
                    break;
                case "168": //BRA
                    chatActive = true;
                    break;
            }
                    if(chatActive) {
                window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:'49368858'||'',section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn);},0);},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json);},1);}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn);}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn);}else{this._defL=this._defL||[];this._defL.push(fn);}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id);},0);},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site;}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id);}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s);},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady');});}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady');},false);window.addEventListener('load',function(){that._domReady('domReady');},false);}if(typeof(window._lptStop)=='undefined'){this.load();}},start:function(){this.autoStart=true;},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n});}this._timing[n]=(new Date()).getTime();},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init();}else{window.lpTag._tagCount+=1;}
                lpTag.section = [officeCode.toLowerCase() + "_dynamicLanding" + ((isStaging == 'True') ? "_test": "")];
            }

</script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="/Assets/Mobile/js/vendor/jquery.carouFredSel-6.2.1.js" defer></script>
        <script src="/Assets/Mobile/js/jquery.mmenu.min.all.js" defer></script>
        <script src="/Assets/Mobile/js/datepicker/jquery.plugin.js" defer></script> 
        <script src="/Assets/Mobile/js/datepicker/jquery.datepick.js" defer></script> 
        <script type="text/javascript" defer src="/Assets/js/datepicker/jquery.datepick-en-GB.js"></script>    

       <script src="/Assets/Mobile/js/mobile.js"></script>
       <script type="text/javascript" src="/Assets/Mobile/js/bundleB.js" defer></script>

<script type="text/javascript" src="/Assets/js/jquery.cookiebar.js" defer></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.cookieBar({
            message: 'We use cookies to give you the best possible experience. By continuing to use the site you agree to our use of cookies.',
            acceptButton: false,
            declineButton: false,
            policyButton: true,
            policyText: 'Find out more',
            policyURL: '/en-gb/Mobile/Privacy.aspx',
            closeButton: true,
            closeImageURL: '/Assets/img/assets/closebox.png',
            autoEnable: true,
            acceptOnContinue: false,
            expireDays: 365,
            forceShow: false,
            effect: 'hide',
            element: 'body',
            append: false,
            fixed: true,
            bottom: false,
            zindex: '10000'
        });
        setTimeout(function () {
            cookieBarHeaderActions();
        }, 300);
    });
    
</script>


    </head>
  <body>
<div id="page">
   <form method="post" action="./Cruise-Ships.aspx" id="mainForm">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMjEzMzY3NzY3MWRkwG+ocmoyFuQ83teiLBf7E/tXfKE0qmH4RbAbvhuZ9WY=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['mainForm'];
if (!theForm) {
    theForm = document.mainForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/en-gb/WebResource.axd?d=o0w1SvOby8NszfgjrPLlwimTbnHk-TQu5wSVVpSwsyfXbwipMwX7gc-WPgQEFn7LuCXLOfaYFojjDK9NLS_93hNmDzD9PC-NtgmMzsZqVgk1&amp;t=635793099765829480" type="text/javascript"></script>

<script type="text/javascript">var nb = 'no';</script><script type="text/javascript">var searchURL = '/en-gb/Mobile/system/Search-Results.aspx';</script>
<script src="/en-gb/ScriptResource.axd?d=se_JQNGdwXAYxHQyq3uYWWWSjgXfRaDQ9pCSrkwPOevAYH6mCjH2jtHoBNiSscSVS0-YXr0-4GWBM85b361QwYY1aSX2POh2pvuB7j8sX_7IhhrK5EmuEbeiwsbx-l43Jlljx5QR3Z6vxdQeElWxBiBbk_M5zfqk8QiV9BnF3gI1&amp;t=72e85ccd" type="text/javascript"></script>
<script src="/en-gb/ScriptResource.axd?d=Kk2IofovzwY1aj13ttsA0yf9HeCWu4ipTl5KPeLU5--Yduibf9mDKvGCPXJuUngotykCF3qG20rRuaJsSVppijsJPc1sngk6St_MI2mtXfesHfnBo6QHNTSoCt7csYag995fXfNH1WFus1L6Mn4cgQYgRVnVZL4hf20VSEQohyrO88BVjcfV0nJY-SFZlAmk0&amp;t=72e85ccd" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="DC9F104A" />
</div>
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$mscScriptManager', 'mainForm', [], [], [], 90, 'ctl00');
//]]>
</script>


        
            
        <!-- Header -->
              	<div class="header">
  <a href="#menu" class="menuIconHeader"></a>
 <a href="tel:02034294050" class="phoneHeader"></a> 
		
            
                <a href="/en-gb/Mobile/Homepage.aspx"  target="_self" data-role="none" class="logoHeader" ><img src="/en-gb/Mobile/Assets/logo-mobile-uk-180x60.png"  id="home-logo" alt="MSC Cruises " /></a>            
            
        

</div>        <!-- Header end -->
        <!-- Menu -->
            	<nav id="menu">
  <ul>
  
      
      
							
									 <li><a href="/en-gb/Mobile/Homepage.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">HOME</a></li>
                            
							                              
							
                         	
      
  
      
      
							
									 <li><a href="/en-gb/Mobile/Plan-Book/Find-Cruise.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">FIND YOUR CRUISE</a></li>
                            
							                              
							
                         	
      
  
      
             <li>
                  <a href="#item2">CRUISE DEALS</a> 
                  <ul>
                                         
							
							                              
							
                                
                                
								     <li><a href="https://www.msccruises.co.uk/en-gb/Mobile/Cruise-Deals/Top-Deals/Last-Minute.aspx" data-ajax="false">LAST MINUTE CRUISE DEALS</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="https://www.msccruises.co.uk/en-gb/Mobile/Cruise-Deals/Get-The-Best.aspx" data-ajax="false">Get the Best</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="https://www.msccruises.co.uk/en-gb/Mobile/Cruise-Deals/UK-Sailings.aspx" data-ajax="false">Sailings from the UK</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="https://www.msccruises.co.uk/en-gb/Mobile/Family-cruises.aspx" data-ajax="false">Family Cruises</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="https://www.msccruises.co.uk/en-gb/Mobile/Cruise-Deals/MSC-Bellissima-Sales-Opening.aspx" data-ajax="false">MSC Bellissima opening sales</a></li>
                              	                              
                            
                         							
                                         
							
							                              
							
                                
                                
								     <li><a href="https://www.msccruises.co.uk/en-gb/Mobile/Cruise-Deals/Top-Deals/early-booking.aspx" data-ajax="false">Early bookings</a></li>
                              	                              
                            
                         							
                  
                  </ul>
             </li>
      
      
  
      
             <li>
                  <a href="#item3">DESTINATIONS</a> 
                  <ul>
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Mediterranean.aspx"  tridion:textonfail="" target="_self">MEDITERRANEAN</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Northern-Europe.aspx"  tridion:textonfail="" target="_self">NORTHERN EUROPE</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/South-America.aspx"  tridion:textonfail="" target="_self">SOUTH AMERICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Caribbean-Cuba-Antilles.aspx"  tridion:textonfail="" target="_self">CARIBBEAN, CUBA &amp; ANTILLES</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/Dubai-Abu-Dhabi-Sir-Bani-Yas.aspx"  tridion:textonfail="" target="_self">DUBAI, ABU DHABI &amp; SIR BANI YAS</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/South-Africa.aspx"  tridion:textonfail="" target="_self">SOUTH AFRICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Destinations/MSC-Grand-Voyages.aspx"  tridion:textonfail="" target="_self">MSC GRAND VOYAGES</a></li>
                            
							                              
							
                         							
                  
                  </ul>
             </li>
      
      
  
      
             <li>
                  <a href="#item4">SHIPS</a> 
                  <ul>
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Armonia.aspx"  tridion:textonfail="" target="_self">MSC ARMONIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Cruise-Ships/MSC-Bellissima.aspx"  tridion:textonfail="" target="_self">MSC BELLISSIMA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Divina.aspx"  tridion:textonfail="" target="_self">MSC DIVINA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Fantasia.aspx"  tridion:textonfail="" target="_self">MSC FANTASIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Lirica.aspx"  tridion:textonfail="" target="_self">MSC LIRICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Magnifica.aspx"  tridion:textonfail="" target="_self">MSC MAGNIFICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Meraviglia.aspx"  tridion:textonfail="" target="_self">MSC MERAVIGLIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Musica.aspx"  tridion:textonfail="" target="_self">MSC MUSICA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Opera.aspx"  tridion:textonfail="" target="_self">MSC OPERA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Orchestra.aspx"  tridion:textonfail="" target="_self">MSC ORCHESTRA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Poesia.aspx"  tridion:textonfail="" target="_self">MSC POESIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Preziosa.aspx"  tridion:textonfail="" target="_self">MSC PREZIOSA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaside.aspx"  tridion:textonfail="" target="_self">MSC SEASIDE</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Sinfonia.aspx"  tridion:textonfail="" target="_self">MSC SINFONIA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Splendida.aspx"  tridion:textonfail="" target="_self">MSC SPLENDIDA</a></li>
                            
							                              
							
                         							
                                         
							
                    <li><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaview.aspx"  tridion:textonfail="" target="_self">MSC SEAVIEW</a></li>
                            
							                              
							
                         							
                  
                  </ul>
             </li>
      
      
  
      
      
							
									 <li><a href="/en-gb/Mobile/Newsletter-Sign-Up.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">NEWSLETTER</a></li>
                            
							                              
							
                         	
      
  
      
      
							
									 <li><a href="/en-gb/Mobile/Contact/Contact-Us.aspx"  tridion:textonfail="" target="_self"  data-ajax="false">CONTACT</a></li>
                            
							                              
							
                         	
      
  
      
      
							
							                              
							
                                
                                
								     <li><a href="/en-gb/Mobile/About-MSC/News.aspx" data-ajax="false">NEWS</a></li>
                              	                              
                            
                         	
      
  

  </ul>
</nav>            
        <!-- Menu end -->
   
            <!-- Content -->
            <div class="content">
             
              
	<script>
		var page_id ="tcm:136-768-64";
	</script>

	<!-- Image Header -->
	<section id="head-content">
	</section>
	<section id="body-content" class="center">
    
      
          <style>.imagediv{background:url("/en-gb/Mobile/Assets/fleet_background.jpg") center top}</style><div class="destination-head imagediv" style="height: 940px;" data-0="background-position: center 0px" data-1000="background-position: center -50px"><div class="center"><h1>Our cruise ships</h1><div class="fleetVisualHeader"><div class="fleet-class-container"><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Armonia.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC_ARMONIA_AX.jpg"  alt="MSC Armonia" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Armonia.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Armonia</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Bellissima.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC_BE_overview1.jpg"  alt="MSC Bellissima" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Bellissima.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Bellissima</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Divina.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/msc-divina-sm.jpg"  alt="MSC Divina" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Divina.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Divina</span></a></div></div><div class="inner-box one-fourth-inner-box last"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Fantasia.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/msc-fantasia-sm.jpg"  alt="MSC Fantasia" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Fantasia.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Fantasia</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Lirica.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/LX_overview_fleet_191x108.jpg"  alt="MSC Lirica" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Lirica.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Lirica</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Magnifica.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/magnifica.jpg"  alt="MSC Magnifica" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Magnifica.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Magnifica</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Meraviglia.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC_MR_overview.jpg"  alt="MSC Meraviglia" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Meraviglia.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Meraviglia</span></a></div></div><div class="inner-box one-fourth-inner-box last"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Musica.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/msc-musica-sm.jpg"  alt="MSC Musica" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Musica.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Musica</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Opera.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC_OPERA_OX_sm.jpg"  alt="MSC Opera" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Opera.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Opera</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Orchestra.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC-Orchestra_sm.jpg"  alt="MSC Orchestra" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Orchestra.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Orchestra</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Poesia.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/poesia.jpg"  alt="MSC Poesia" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Poesia.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Poesia</span></a></div></div><div class="inner-box one-fourth-inner-box last"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Preziosa.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/msc-preziosa-sm.jpg"  alt="MSC Preziosa" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Preziosa.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Preziosa</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaside.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC_SE_overview.jpg"  alt="MSC Seaside" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaside.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Seaside</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Sinfonia.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/SI_X_sm.jpg"  alt="MSC Sinfonia" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Sinfonia.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Sinfonia</span></a></div></div><div class="inner-box one-fourth-inner-box"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Splendida.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/splendida-AU.jpg"  alt="MSC Splendida" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Splendida.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Splendida</span></a></div></div><div class="inner-box one-fourth-inner-box last"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaview.aspx"  target="_self"><img src="/en-gb/Mobile/Assets/MSC_SV_overview.jpg"  alt="MSC Seaview" /></a><div class="action-toolbar align-center"><a href="/en-gb/Mobile/Discover-MSC/Cruise-Ships/MSC-Seaview.aspx"  class="link-more-info" target="_self" style="margin-top:0px !important; font-size: 20px;">MSC Seaview</span></a></div></div></div></div></div></div>      
          <script>
$(document).ready(function(){
$("section.formText a").attr("data-ajax","false");
});
</script>

<div id="our-signature-on-the-sea" class="std-page-block introduction-content standard-margin">
	<div class="container-box full-box">
		<p class="formTitleNoMargin">Our Signature on the sea</p>
      	<div class="content-box">
        
            
			<section class="formText">
                

                
                <div class="introimagevideo" style="display:none;">
                
                  
                </div>
               
                <span class="inbox-title inline-block" style="display:none">Our Signature on the sea</span>
                  
                    <div class="video-container intro text-wrap-topright">
                        <div class="video" id="intro_video_our-signature-on-the-sea" data-video-id="61de655f-30d0-433b-9dd4-282c522680e5&amp;pkey=kkpX8G"></div>
                        
                    </div>
              		
                      <script>
                          $(document).ready(function(){
                              $('#our-signature-on-the-sea').trigger('Load4MeVideo');
                          });
                      </script>
              		                                    
              	  
                  <div>
                  	<p class="wrapped-text" data-ajax="false">
				We?ve been exploring the seas for over 300 years. What began with one ship has grown into a magnificent fleet.
				
					</p>
                  </div>  
			</section>
            
        
		</div>
	</div>
</div>



  
       
          <div id="msc-for-me" class="std-page-block">
    <div class="container-box full-box">
        
        
        <h2 class="box-title bkg-blue">MSC for Me</h2>
        
        <div class="content-box">
        
            
                
                
                
                
            
            <div class="column first">
                
                    
                    <h3 class="inbox-title">MSC technology at the service of the art of hospitality </h3>
                    
                    
                    <section class="text">
                        
                        
                        
          <p>
            <em>MSC for Me</em> has been designed to meet our guests needs today and in the future and enhances every aspect the MSC holiday experience. Through the most innovative technology solutions <em>MSC for Me</em> interconnects guests, crew and ship so your time on board is literally in your hands.</p>
						<p>Available for guests travelling on MSC Meraviglia, MSC Seaside, MSC Seaview and MSC Bellissima.</p>
                        
                    </section>
                    
                    <div class="action-toolbar">
                        
                            
                            <a href="/en-gb/Mobile/Discover-MSC/MSC-for-Me.aspx"  class="btn btn--white btn-shadow-light btn-gradient">Discover More</a>                            
                            
                        
                    </div>
                    
                
                
            </div><!--
         --><div class="column last">
            
                
                    
                    
                     <img src="/en-gb/Mobile/Assets/devices_56034_687_459-270_Images.jpg"  alt="MSC technology at the service of the art of hospitality " class="column-img block last">
                    
                    
                
            
            </div>
        
        </div>
    </div>
</div>      
          <div id="virtual-tours-overview" class="std-page-block"><div class="container-box full-box"><h2 class="box-title bkg-blue">Virtual Tours Overview</h2><div class="content-box"><div class="fleet-class-container"><h3 class="fleet-class-name inbox-title">Discover our ships through the interactive 360° Virtual Tour</h3><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Armonia_360_virtual_tour_sm_43224_1127_191-108.jpg"  alt="MSC Armonia" /><p class="inner-box-text">MSC Armonia</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Armonia/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Divina_360_virtual_tour_sm_43225_1127_191-108.jpg"  alt="MSC Divina" /><p class="inner-box-text">MSC Divina</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Divina/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Fantasia_360_virtual_tour_sm_44660_1127_191-108.jpg"  alt="MSC Fantastia" /><p class="inner-box-text">MSC Fantastia</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Fantasia/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box last"><img src="/en-gb/Mobile/Assets/MSC_Lirica_360_virtual_tour_sm_43226_1127_191-108.jpg"  alt="MSC Lirica" /><p class="inner-box-text">MSC Lirica</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://mscpodcast.msccruises.com/Podcast/VirtualTourLirica/uk_en/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Magnifica_360_virtual_tour_sm_43234_1127_191-108.jpg"  alt="MSC Magnifica" /><p class="inner-box-text">MSC Magnifica</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://mscpodcast.msccruises.com/Podcast/VirtualTourMusica/uk_en/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Musica_360_virtual_tour_sm_51099_1127_191-108.jpg"  alt="MSC Musica" /><p class="inner-box-text">MSC Musica</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Musica/en-gb/index.html " target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Orchestra_360_virtual_tour_sm_55165_1127_191-108.jpg"  alt="MSC Orchestra" /><p class="inner-box-text">MSC Orchestra</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Orchestra/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box last"><img src="/en-gb/Mobile/Assets/MSC_Poesia_360_virtual_tour_sm_48522_1127_191-108.jpg"  alt="MSC Poesia" /><p class="inner-box-text">MSC Poesia</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Poesia/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Preziosa_360_virtual_tour_sm_43235_1127_191-108.jpg"  alt="MSC Preziosa" /><p class="inner-box-text">MSC Preziosa</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Preziosa/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Sinfonia_360_virtual_tour_sm_43236_1127_191-108.jpg"  alt="MSC Sinfonia" /><p class="inner-box-text">MSC Sinfonia</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://virtual-tours.msccruises.com/MSC-Sinfonia/en-gb/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div><div class="inner-box one-fourth-inner-box"><img src="/en-gb/Mobile/Assets/MSC_Splendida_360_virtual_tour_sm_43237_1127_191-108.jpg"  alt="MSC Splendida" /><p class="inner-box-text">MSC Splendida</p><div class="action-toolbar align-right"><a class="link-more-info" href="http://mscpodcast.msccruises.com/Podcast/VirtualTourSplendida/uk_en/index.html" target="_blank" rel="nofollow">View 360°<span class="ico-span circle-right-arrow"></span></a></div></div></div></div></div></div>      
          <div id="route-monitoring" class="std-page-block route-monitoring-container">
    <div class="container-box full-box">
        
        
        <h2 class="box-title bkg-blue">Route monitoring</h2>
        
        <div class="content-box">
        
            
                
                
                
                
            
            <div class="column first">            
            
                
                    
                    
                     <img src="/en-gb/Mobile/Assets/ROUTE-MONITORING_1185_698_459-270.jpg"  alt="Articles[0].Title" class="column-img block last">
                    
                    
                
            
            </div><!--
         --><div class="column last">
                
                <div>
                    
                    <h3 class="inbox-title">STATE-OF-THE-ART SAFETY</h3>
                    
                    
                    <div class="service-description-container limited-180 show-more-text">
						
                        <section class="text">
                            Proud heirs of a unique seafaring heritage, <strong>MSC Cruises</strong> nurtures long-established values of maritime professionalism in all our crew at every level. We support them throughout their careers to ensure their expertise is rigorously honed and continuously kept up to date. And we equip them with the most advanced navigation and safety technologies.
                        </section>
						
						
                        <section class="text more">
                            
          <br />
For example, our ultramodern ships feature an innovative <strong>Route Monitoring System</strong> which uses satellite technology to relay the vast amount of data provided on board to the <strong>MSC Cruises Maritime Operations Headquarters</strong> in Sorrento. Here, a QPS server system sends the information to a further array of sophisticated systems, including a Quaestor route preparation and analysis tool.
<br />
						<br />
This constantly monitors and analyses the ship?s position, speed, heading and course, together with the depth, current and other parameters of the surrounding waters, plus the position of any other vessels within a 40-mile radius. As a result, all our ships follow a totally safe course at all times, whether cruising, manoeuvring, piloting or docking. Similar state-of-the-art solutions relay complete data from the engine control room and onboard weather systems both to the bridge and Sorrento, enabling a real-time overview and constant optimisation. This offers the additional benefit of outstanding <strong>ecological performance</strong> across the fleet, optimising power and fuel consumption to keep emissions to a minimum. So the world we pass through safely is as beautiful for future generations as it is for us today.
                        </section>
						
	                </div>
                    <div class="action-toolbar">
					

					
						<a class="link-more-info open-box rfloat closed" data-open-txt="Read more" data-close-txt="Close" href="javascript:void(0);" target="_self">Read more<span class="ico-span circle-down-arrow"></span></a>
					
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </div>
</div>      
          <div id="eco-ships" class="std-page-block">
    <div class="container-box full-box">
        
        
        <h2 class="box-title bkg-blue">Eco ships</h2>
        
        <div class="content-box">
        
            
                
                <img src="/en-gb/Mobile/Assets/ecoship-visual_467_677_938_Images.jpg"  alt="Articles[0].Title" class="block" >
                
                <div class="eco-ship-text">
                    <p class="inbox-title">Eco ships</p>
                    <section class="text two-columns">
                        
                        
                        ? <strong>QUALITY MANAGEMENT</strong> We have received ISO certifications for the environmental management of our ships, our protection of the ecosystems they come into contact with and our quality management both on board and ashore.
<br />
						<br />
? <strong>ENERGY-SAVING SYSTEMS</strong> We use a range of innovative energy-saving devices, from air-conditioning optimisation to cabin monitoring systems.
<br />
						<br />
? <strong>WASTE TREATMENT AND RECYCLING</strong> On board our ships we employ a full spectrum of waste management technologies and waste water recycling in accordance with the highest environmental standards.
                        
                    </section>
                    <div style="clear:both;"></div>
                </div>
            
        
        </div>
    </div>
</div>      
          <div id="awards" class="std-page-block"><div class="container-box full-box"><div class="box-title bkg-blue">Awards</div><div class="content-box"><div class="bottom-bordered-container first"><div class="column"><img src="/en-gb/Mobile/Assets/PREZIOSA_7_Golden_Pearls_The_Award_1164_1171_150-106.jpg"  alt="Award[0].Title" class="award-img"><div class="award-text"><h3 class="inbox-title">7 Golden Pearls</h3><section class="text">Best ship for environmental care</section></div></div><div class="column"><img src="/en-gb/Mobile/Assets/ISO14001_ISO22000_1159_1171_150-106.jpg"  alt="Award[1].Title" class="award-img"><div class="award-text"><h3 class="inbox-title">ISO 14001</h3><section class="text">Environmental management</section></div></div></div><div class="bottom-bordered-container"><div class="column"><img src="/en-gb/Mobile/Assets/ISO22000_1160_1171_150-106.jpg"  alt="Award[2].Title" class="award-img"><div class="award-text"><h3 class="inbox-title">ISO 22000</h3><section class="text">Food safety management</section></div></div><div class="column"><img src="/en-gb/Mobile/Assets/OHSAS-18001_1161_1171_150-106.jpg"  alt="Award[3].Title" class="award-img"><div class="award-text"><h3 class="inbox-title">OHSAS 18001</h3><section class="text">Safety management</section></div></div></div><div class="bottom-bordered-container"><div class="bottom-bordered-container clearfix last"><div class="column"><img src="/en-gb/Mobile/Assets/ISO-50001_8361_1171_150-106.png"  alt="Award[4].Title" class="award-img"><div class="award-text"><h3 class="inbox-title">ISO 50001</h3><section class="text">Energy Performance</section></div></div><div class="column"><img src="/en-gb/Mobile/Assets/ISO9001-2008_ING_col_1162_1171_150-106.jpg"  alt="Award[5].Title" class="award-img"><div class="award-text"><h3 class="inbox-title">ISO 9001:2000</h3><section class="text">Quality management</section></div></div></div></div></div></div>      
    


<!-- LANDING PRICES PAGE -->
    
<!-- END LANDING PRICES PAGE -->


<!-- FLEET PAGE -->
    
<!-- END FLEET PAGE -->
      
      
<!-- DESTINATIONS PAGE -->
    
<!-- END DESTINATIONS PAGE -->
      
      
<!-- CONTACTS PAGE -->
    
<!-- END CONTACTS PAGE -->
      
      
<!-- NEWS PAGE -->
      
<!-- END NEWS PAGE -->

      
<!-- DEALS DETAIL PAGE -->
    
<!-- END DEALS DETAIL PAGE -->
      
      
<!-- PORT PAGE -->
    
<!-- END PORT PAGE -->
    </section>
	<!--SITE_EDIT_INIT-->

            	  
<div id="phoneBanner" class="phoneBanner">
    <div id="phoneBannerTelNumber" class="phoneBannerTelNumber">
        <a id="closePopup" class="closePopup" onclick="bannerShow(false)">x</a>
        <span id="PhoneBanner_ReceiverIcon" class="PhoneBannerReceiver" OnClick="phoneCall()"></span>    
        <span id="PhoneBanner_LabelTelNumber" class="ico-phone-number-fix" OnClick="phoneCall()">CALL US</span>
        <span id="PhoneBanner_LabelNote" class="block phoneBannerNote">Need help planning? Call us!</span>      
    </div>
    <div id="phoneBannerLinks" class="phoneBannerLinks">
        <a id="PhoneBanner_phoneBannerLink1" class="leftLink link-goto-white" href="/en-gb/Mobile/Contact/Contact-Us.aspx" target="_blank">Email us<span class='ico-span right-arrow-small'></span></a>
        
    </div>
</div>
<script>
    $(document).ready(function () {
        var d = new Date(); 
        var h = parseInt(d.getHours());
        var opentime = h >= 8 && h < 22;
       
        var showPhoneBanner = sessionStorage.getItem("showPhoneBanner");
        if ((showPhoneBanner == null || showPhoneBanner == "") && opentime) {
            showPhoneBanner = true;
        }
        bannerShow(showPhoneBanner);
    });

    function bannerShow(show) {
        if (show == true || show == 'true') {
            $('.phoneBanner').show();
        } else {
            $('.phoneBanner').hide();
        }
        sessionStorage.setItem("showPhoneBanner", show);
    }

    function phoneCall() {
        dataLayer.push({
            'event': 'Mobile',
            'EventCategory': 'Mobile',
            'EventAction': 'Click-to-Call the Reservation Office - requests',
            'EventLabel': 'Floating banner ? click to call'
        });
        window.location = 'tel:00442034294050';
    }
</script> 
              
              <!-- Footer -->
          	  	<div class="footer">
    <div id="bottom-bar" class="center">
      <ul class="bottom-link-col">
          
                
                       
                  <li class="bottom-link inline-block">
                      <a href="javascript:noMobileLink();" target="_self" rel="external">About MSC</a>
                  </li>	  
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Terms-Conditions.aspx"  target="_self" rel="external">Terms &amp; Conditions</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Privacy.aspx"  target="_self" rel="external">Privacy</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Passenger-Bill-of-Rights.aspx"  target="_self" rel="external">Passenger Bill of Rights</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Terms-Of-Use.aspx"  target="_self" rel="external">Terms of Use</a>                  </li>	  
                
                
          
                
                  <li class="bottom-link inline-block">            
                      <a href="/en-gb/Mobile/Contact/Contact-Us.aspx"  target="_self" rel="external">Contact Us</a>                  </li>	  
                
                
          
       </ul>
    </div>
  <br clear="all" />
  <div class="footer-hr"></div>
<span class="fullsitetxt"><a href="https://www.msccruises.co.uk?desktop=true" style="color:white;" rel="external">View full site</a></span>
<p class="copyright">© 2017 MSC Cruises S.A. All rights reserved</p>
<p class="copyright"></p>
<div>			
<!-- END Footer -->
			
		</div><!-- END Content -->
		
</div> 
<!-- Page end -->
<div style="display:none" id="divNoMobileLink">At the moment this section is accessible only on our desktop site. Our apologies for any inconvenience caused.</div>


<script type="text/javascript">
//<![CDATA[
var parSymbol = decodeURI('£') + ' ';var parSeparator = '.';var parDecimDefault = '0';var parCentDefault = '0';var parSymbolPos = 'LEFT';//]]>
</script>
</form>
</div>
<!-- END div id=page -->
        <!-- COMMON STUFF -->        
        <script type="text/javascript">var pageLocale = "en-GB";</script>
<div class="hidden">            <div id="social-list-container">
              <ul>
                    
                           
                           <li id="fb-item" class="social-item action fb-item">
                             <a class="social-ico fb-ico" href="https://www.facebook.com/MSC.Cruises.UK" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
                
                    
              			   
                           <li id="tw-item" class="social-item action tw-item">
                             <a class="social-ico tw-ico" href="https://twitter.com/MSC_Cruises_UK" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
              
                    
                           
                           <li id="yt-item" class="social-item action yt-item">
                             <a class="social-ico yt-ico" href="https://www.youtube.com/channel/UCcnKYIf1sDi2HN1uhOUEpyA" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
              
                    
              			   
                           <li id="gp-item" class="social-item action gp-item">
                             <a class="social-ico gp-ico" href="https://plus.google.com/+msccruisesuk" target="_blank">&nbsp;</a>
                		   </li>
                                     
                    
              
                    
              			   
                           <li id="pi-item" class="social-item action pi-item">
                             <a class="social-ico pi-ico" href="http://www.pinterest.com/MSCCruisesUK/" target="_blank">&nbsp;</a>
              			   </li>
              			   
                    
              
                    
                           
                           <li id="ig-item" class="social-item action ig-item">
                             <a class="social-ico ig-ico" href="http://instagram.com/msccruisesofficial" target="_blank">&nbsp;</a>
              			   </li>
                           
                    
              </ul>
           </div>

</div>
  <a href="#top" id="backTop" data-role="none"></a>
<div id="tagph">GTM-K23Q8F</div>


  


       

 
<script async src="//70244.tctm.co/t.js"></script> 
      

    






</html>