<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\chi-xpath\sr"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chi-xpath/src/test/java/it/uniroma3/chixpath/Partitioner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.uniroma3.chixpath.Partitioner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="file:./src/test/resources/basic/Amazon/Sezione_Elettronica.html&#13;&#10;file:./src/test/resources/basic/Amazon/Sandisk_Elettronica.html&#13;&#10;file:./src/test/resources/basic/Amazon/Sennheiser_Elettronica.html&#13;&#10;file:./src/test/resources/basic/Amazon/Trevi_Elettronica.html"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chi-xpath"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
 5