<!doctype html>
<html amp>
<head>
    <!--<script src="//assets.adobedtm.com/90d1a5fe6070bddb60287a1a22aa5b83dbdb9048/satelliteLib-86d1b7073c8d8c2dbd6ad410e66aa376cd2eb1b4-staging.js"></script>-->

    <meta charset="utf-8">
    <title>Università, in Italia una laurea su 10 «parla» solo inglese</title>
    <link rel="canonical" href="https://www.ilsole24ore.com/art/universita-laurea-10-parla-solo-inglese-ACL4vBT" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityofPage": {
            "@type":"WebPage",
            "@id": "http://www.ilsole24ore.com/art/universita-laurea-10-parla-solo-inglese-ACL4vBT"
        },
        "headline": "Università, in Italia una laurea su 10 «parla» solo inglese",
		
        "datePublished": "Sat Jun 29 2019 12:04:00 GMT+0200 (CEST)",
        "dateModified": "Sat Jun 29 2019 12:04:00 GMT+0200 (CEST)",
        "description": "Università, in Italia una laurea su 10 «parla» solo inglese",
        "image": {
        "@type": "ImageObject",
        "url": "http://i2.res.24o.it/images2010/2019/06/ACL4vBT/images/fotohome1.jpg",
        "width": 696,
        "height": 351
        },        
        "author": {
        "@type": "Person",
        "name": "di Francesca Barbieri"
        },
        "publisher": {
        "@type": "Organization",
        "name": "Il Sole 24 Ore",
        "logo": {
        "@type": "ImageObject",
        "url": "http://i.res.24o.it/img2013/logo_sole24.png",
        "width": 250,
        "height": 60
        }
        }
        }
    
    </script>

    <style amp-custom>
        .pad-bottom {
            margin-bottom: 20px;
        }
        .content-container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
        }
        .pb-caption {
            width: 90%;
            margin: 10px auto;
            font-family: "FranklinITCProLight","Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 14px;
            margin-bottom: 12px;
            color: #6e6e6e;
            line-height: 1.3em;
            text-align: left;
        }

        .kicker {
            font-family: "FranklinITCProBold","Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 14px;
            margin: 12px auto;
            color: #2C6CB4;
        }

        .kickerL {
            font-family: "FranklinITCProBold","Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 12px;
            margin: 2px auto;
            color: #2C6CB4;
        }

        .subhead {
            display: block;
            font-family: Georgia,serif;
            font-size: 16px;
            margin-bottom: 20px;
            color: #000000;
            line-height: 1.5em;
            font-weight: 700;
        }

        .blockquote {
            font-size: 13pt;
            font-style: italic;
            padding: 0px 15px;
        }

        .center {
            text-align: center;
        }

        .line {
            width: 25%;
            margin-left: 5%;
        }

        .site-attribution {
            width: 90%;
            margin: 0 auto;
            list-style-type: none;
            padding-left: 0;
        }

        .border-container {
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .right-border {
            border-right: 1px solid #f0f0f0;
            padding: 6px 4%;
        }

        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 1.6em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .meter-section {
            font-family: franklinBold;
            font-size: 1.3em;
            background-color: #000000;
            color: #fbb35a;
            padding: 7px;
            margin: 10px;
            text-align: center;
        }

        .button {
            line-height: 1.428571429;
            border: 1px solid #d2d2d2;
            border-radius: 4px;
            margin: 10px;
            padding: 6px 0 0 3px;
        }

        .button a {
            color: #333;
            font-family: franklinBold;
            font-size: 1.3em;
        }

        .button a span {
            font-weight: bold;
        }

        .content-container .button {
            width: 90%;
            margin: 10px auto;
            padding: 6px 0;
        }

        .headline {
            -webkit-filter: drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.16)) drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.23));
            filter: drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.16)) drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.23));
            background: #fff;
            padding: 8px;
            margin: 8px 16px;
        }

        .separator {
            color: #d5d5d5;
            height: 1px;
        }

        .Dleft {
            float: left;
            width: 30%;
            margin-left: 2%;
        }

        .Dright {
            float: right;
            width: 70%;
            margin-right: 2%;
        }

        .titoloL {
            width: 90%;
            font-family: "PostoniStandardBold", Georgia, serif;
            font-size: 14px;
            font-weight: normal;
            margin: 0px auto;
            margin-bottom: 20px;
            line-height: 1.1em;
            word-spacing: -.02em;
            color: #000000;
        }

        .list-pagination {
            text-align: center;
        }

        .list-pagination > a {
            display: inline-block;
            margin: 10px 30px;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border-color: #817971;
            color: #817971;
            border: 1px solid;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 45px;
            text-decoration: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: Montserrat, Arial, "Helvetica Neue", Helvetica;
        }

        .list-pagination > a:hover {
            background: #657985;
            text-decoration: none;
            color: white;
        }

        /************************ HEADER E FOOTER *********************************************************************************/
        footer {
            margin: 0;
            padding: 20px 15px;
            text-align: center;
            line-height: 16px;
        }

        footer h3 {
            font-weight: normal;
            font-family: 'Arial';
            color: #416077;
            font-size: 15px;
            line-height: 0px;
        }

        footer a {
            font-weight: normal;
            color: #416077;
            text-decoration: none;
            font-family: 'Arial';
            font-size: 15px;
            line-height: 0px;
        }

        /********************** / HEADER E FOOTER *********************************************************************************/


        /************************ ARTICOLO.CSS *********************************************************************************/

        html {
            color: #222;
            font-size: 1em;
            line-height: 1.4;
        }

        ::-moz-selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }

        audio, canvas, iframe, img, svg, video {
            vertical-align: middle;
        }

        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }

        textarea {
            resize: vertical;
        }

        .browserupgrade {
            margin: 0.2em 0;
            background: #ccc;
            color: #000;
            padding: 0.2em 0;
        }

        /* ==========================================================================
        Author's custom styles
        ========================================================================== */
        body {
            background-color: #f5e5d5;
        }

        header, footer, article, section {
            display: block;
        }

        header {
            text-align: center;
            border-bottom: 1px solid #dccebe;
            padding: 12px 0;
            margin: 0;
        }

        section {
            padding: 0 15px;
            margin: 0;
        }

        section#titolo {
            text-align: left;
            padding: 10px 0 0 0;
        }

        #titolo h1 {
            font-family: 'sole_serif_headlinebold';
            color: #000;
            font-size: 25px;
            line-height: 29px;
            margin: 0;
            padding: 0 15px 10px 15px;
            font-weight:normal;
        }

        #titolo .separatore {
            width: 100px;
            height: 1px;
            border-bottom: 1px solid #416077;
            overflow: hidden;
            padding: 0 15px;
            margin: 0 15px;
            display:none;
        }

        #titolo h2 {
            font-family: 'Arial';
            font-weight: bold;
            color: #416077;
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            padding: 0px 15px 0px 15px;
            text-transform: uppercase;
        }

        #titolo h3 {
            font-family: 'Arial';
            font-weight: bold;
            color: #ad9a87;
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            padding: 0 15px 20px 15px;
        }

        #titolo h3 span {
            color: #416077;
        }

        #titolo img {
            border: none;
            width: 100%;
            height: auto;
            margin: 0;
        }

        article {
            padding: 0 15px 30px 15px;
            margin: 0;
            font-family: 'Georgia', 'Arial';
            color: #393939;
            font-size: 17px;
            line-height: 23px;
        }

        article a {
            color: #416077;
            text-decoration: underline;
        }

            article p {
                padding: 30px 0 0 0;
                margin: 0;
                text-align: justify;
            }

        section#correlati {
            background: #e4d7cb;
            border-top: 2px solid #416077;
            margin: 0 15px 30px 15px;
            padding: 20px 20px 10px 20px;
            font-family: 'Georgia', 'Arial';
            color: #393939;
            font-size: 15px;
            line-height: 20px;
        }

        #correlati a {
            color: #393939;
            text-decoration: underline;
        }

        #correlati h4 {
            font-family: 'sole_serif_headlinebold';
            color: #000;
            font-size: 25px;
            line-height: 29px;
            margin: 0;
            padding: 0 0 20px 0;
            text-transform: uppercase;
        }

        #correlati .separatore {
            height: 2px;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            overflow: hidden;
            padding: 0;
            margin: 0 0 20px 0;
        }

        #correlati ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #correlati ul li {
            margin: 0 0 20px 0;
            padding: 0;
            list-style: none;
        }

        section.footer {
            background: #416077;
            margin: 0;
            padding: 30px 15px;
            font-family: 'Arial';
            color: #fff;
            font-size: 13px;
            line-height: 15px;
        }

        section.footer h5 {
            font-family: 'Arial';
            color: #fff;
            font-size: 13px;
            line-height: 15px;
            margin: 0;
            padding: 0 0 30px 0;
            text-transform: uppercase;
        }

        section.footer a {
            color: #fff;
            text-decoration: underline;
        }

        /* ==========================================================================
        Helper classes
        ========================================================================== */

        .hidden {
            display: none;
            visibility: hidden;
        }

        .visuallyhidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }

        .invisible {
            visibility: hidden;
        }

        .clearfix:before, .clearfix:after {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        /* ==========================================================================
        Print styles
        ========================================================================== */

        @media print {
            *, *:before, *:after {
                background: transparent;
                color: #000;
                box-shadow: none;
                text-shadow: none;
            }

            a, a:visited {
                text-decoration: underline;
            }

                a[href]:after {
                    content: " (" attr(href) ")";
                }

            abbr[title]:after {
                content: " (" attr(title) ")";
            }

            a[href^="#"]:after, a[href^="javascript:"]:after {
                content: "";
            }

            pre, blockquote {
                border: 1px solid #999;
                page-break-inside: avoid;
            }

            thead {
                display: table-header-group;
            }

            tr, img {
                page-break-inside: avoid;
            }

            img {
                max-width: 100%;
            }

            p, h2, h3 {
                orphans: 3;
                widows: 3;
            }

            h2, h3 {
                page-break-after: avoid;
            }
        }


        /********************** / ARTICOLO.CSS *********************************************************************************/
    </style>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script src="https://cdn.ampproject.org/v0.js" async></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" async></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    <script async custom-element="amp-brightcove" src="https://cdn.ampproject.org/v0/amp-brightcove-0.1.js"></script>

</head>
<body>
<amp-analytics type="linkpulse">
        <script type="application/json">
            {
            "vars": {
            "id":"5acf0978e45a1da856a44e34"
            }
            }
        </script>
</amp-analytics>
 <amp-analytics type="googleanalytics">
        <script type="application/json">
            {
            "vars": {
                    "account": "UA-40827900-6"
                     },
            "triggers": {
                        "trackPageview": {
                                            "on": "visible",
                                            "request": "pageview"
                                          }
                        }
            }
        </script>
  </amp-analytics> 
    <!--<script type="text/javascript">_satellite.pageBottom();</script>-->
    <header>
        <a href="http://www.ilsole24ore.com"><amp-img src="/static/images/logo_header.png" alt="Il Sole 24 Ore" width="112" height="26"></amp-img></a>
    </header>    <center><amp-ad
            width="300"
            height="250"
            layout="fixed"
            type="doubleclick"
            data-slot="/57491254/sole24ore.com/italia/attualita/articoli/MPU_Top"></amp-ad>
    </center>
    <amp-user-notification
            layout="nodisplay"
            id="amp-user-notification1"
    >
        Questo sito utilizza cookie
        <a href="http://du.ilsole24ore.com/utenti/privacyfiles/informativa_cookies.html">Pi? informazioni</a>
        <button on="tap:amp-user-notification1.dismiss">Accetto</button>
    </amp-user-notification>
    
<!--
<center>
    <amp-ad width="300"
            height="250"
            layout="fixed"
            type="doubleclick"
            data-slot="/57491254/sole24ore.com/italia/attualita/articoli/MPU_Top"></amp-ad>
</center>
<!---->


<div class="article-container">
    <!--here amp webtrekk-->
    <amp-analytics type="webtrekk">
        <script type="application/json">
            {
            "vars": {
            "trackDomain": "ilsole24oreitalia01.wt-eu02.net",
            "trackId": "988195797407130",
            "contentId": "AMP:Norme e Tributi:Lavoro e previdenza:Articolo:Università, in Italia una laurea su 10 «parla» solo inglese "
            },
            "triggers": {
            "trackPageview": {
            "on": "visible",
            "request": "pageview",
            "vars": {
            "pageCategory1": "AMP",
            "pageCategory2": "Norme e Tributi",
            "pageCategory3": "Lavoro e previdenza",
            "pageParameter9": "Articolo"
            }
            }
            }
            }
        </script>
    </amp-analytics>
      <!--here amp nielsen-->
    <amp-analytics type="nielsen">
        <script type="application/json">
            {
            "vars": {
            "apid": "A0F2DC2B-1C0B-46D6-A62A-D6DA00C24B07",
            "prefix": "eu-",
            "apv": "1.0",
            "apn": "ilsole24ore.com",
            "section": "IlSole24ORE_AMP",
            "segA": "NA",
            "segB": "NA",
            "segC": "Google AMP"
            }
            }
        </script>
    </amp-analytics>
    <!-- end nielsen-->


    <!--en webtrekk-->
    <section id="titolo">

        <h2>Lavoro e previdenza</h2>
        <h1>Università, in Italia una laurea su 10 «parla» solo inglese</h1>
        <div class="separatore"></div>

        <h3>
            di Francesca Barbieri
            <br />
            29 Giugno 2019 
        </h3>

        <!-- -->
                <amp-img src="http://i2.res.24o.it/images2010/2019/06/ACL4vBT/images/fotohome1.jpg" layout="responsive" width="672" height="351" alt="" class="pad-bottom"></amp-img>

       <!-- -->


    </section>

    <article>
        <p>Stop ai corsi di laurea in inglese? A giudicare dall?offerta in rampa di lancio per il prossimo anno accademico non si direbbe proprio. Il numero dei corsi la cui didattica è interamente nella lingua di Albione sono arrivati a quota 440 in 55 atenei in rispetto ai 351 del 2018/19 e ai 339 del 2017/18. </p> <p>Dopo <a href="http://www.scuola24.ilsole24ore.com/art/universita-e-ricerca/2018-01-30/stop-consiglio-di-stato-corsi-laurea-interamente-inglese--200044.php?uuid=AEmYvirD">la sentenza del Consiglio di Stato del 29 gennaio 2018</a>, che ha confermato la bocciatura (già espressa dal Tar nel 2013) della decisione del Politecnico di Milano di organizzare intere lauree magistrali e dottorati in lingua inglese, il ministero dell?Istruzione allora guidato da Valeria Fedeli aveva deciso di aprire un tavolo con la Crui (Conferenza dei rettori) per ?dettare? delle linee guida alle università per allinearsi al diktat dei giudici.</p> <p> <a href="https://lab24.ilsole24ore.com/guida-universita/"> <b>PER SAPERNE DI PIÙ / Il database completo dei corsi di laurea 2019/20 </b> </a> </p> <p>Ma non da subito. Per l?anno accademico 2018/19, infatti, è stato deciso che tutto sarebbe restato come prima. E la situazione, ancor oggi, non è stata del tutto chiarata.</p> <p>Il Miur, interpellato dal Sole 24 Ore, precisa che i corsi universitari interamente in lingua inglese attivi nell?anno accademico 2017/18 erano 338 su 4.500 corsi in Italia. «Tutti gli atenei che li avevano istituiti - spiegano dal Ministero - hanno altri corsi omologhi attivati in italiano, mentre il Politecnico di Milano, per il quale era stato sollevato il contenzioso aveva deliberato di trasformare la sua intera offerta formativa esclusivamente in lingua inglese».</p> <p> <a href="https://www.ilsole24ore.com/dossier/universita-test-ingresso-ABupYhlB"> <b>PER SAPERNE DI PIÙ / Dossier università 2019/20</b> </a> </p> <p>È in corso di perfezionamento il provvedimento relativo al piano triennale di sviluppo del sistema universitario, nel quale dovrebbero essere fornite indicazioni più puntuali sull??internazionalizzazione? al fine di attenersi all'orientamento fornito dalla Corte costituzionale .</p> <p>Intanto, per l?anno accademico alle porte al Politecnico di Milano l?offerta prevede oltre 70 corsi (in tutto o in parte in lingua straniera), di cui 35 esclusivamente in inglese. «Seguiamo le ultime direttive del Miur - fanno sapere dall?ateneo meneghino - che autorizzano percorsi in lingua inglese purché si lasci allo studente la possibilità di piani di studio con insegnamenti in lingua italiana».</p> <p>Tra gli atenei con il maggior numero di proposte, insieme al Politecnico, svetta l?Alma mater studiorum di Bologna, con 40 corsi interamente in inglese. A seguire l?università di Padova e La Sapienza di Roma con 25 proposte a testa e poi la Statale di Milano (20 proposte per l?anno accademico 2019/20).</p> <p> <a href="/xml/AEYONtmE.xml">LEGGI ANCHE / Corsi in inglese addio? Così gli Atenei si adeguano alla bocciatura dei giudici</a> </p> <p>L?aumento dell?offerta didattica è una risposta all?aumentare dell?appeal dei corsi in inglese sui ragazzi iscritti all?università. In generale, infatti, in base ai dati forniti dai Miur gli iscritti totali ai corsi in inglese sono passati dai 16.385 del 2013/14 ai 52.438 del 2018/19, mentre le matricole sono salite da 1.883 a 3.931. </p> <p>Se allarghiamo l?obiettivo su tutti i corsi in lingua (non solo in inglese) i numeri, ovviamente, crescono:?gli iscritti sono passati dai 17mila dei 2013/14 ai 126mila del 2018/19 e le matricole da duemila a oltre 12mila.</p> <p></p>
    </article>

    <!--<section id="correlati">
        <h4>Articoli Correlati</h4>
        <div class="separatore"></div>
        <ul>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
        </ul>
    </section>-->

    <section class="footer">
        <a href="http://www.ilsole24ore.com/art/universita-laurea-10-parla-solo-inglese-ACL4vBT"><h5>Vai al sito</h5></a>
    </section>

</div>

<amp-iframe width="1" height="1"
            sandbox="allow-scripts allow-same-origin"
            frameborder="0"
            src="https://du.ilsole24ore.com/utenti/dtm.html?nav=Norme e Tributi:Lavoro e previdenza:Universit%C3%A0%2C%20in%20Italia%20una%20laurea%20su%2010%20%C2%ABparla%C2%BB%20solo%20inglese">
</amp-iframe>

    
    
    <footer>
        <h3 id="footerCR">2019 Copyright </h3>
        <amp-img src="/static/images/logo_header.png" alt="Il Sole 24 Ore" width="112" height="26"></amp-img>
        <h3>Tutti i diritti riservati</h3>
        <a href="http://du.ilsole24ore.com/utenti/privacyfiles/informativa_cookies.html">
            Informativa estesa sull'utilizzo dei cookie
        </a>
    </footer></body>
</html>