.vc_hidden {display:none;}
.anteprima_articolo .sottotitolo a {
    color:#000;    
    text-decoration:none;
}
.articolo_espanso .multimedia .foto_articolo img {
    height:auto;
}
/*---login_castello_edizioni*/
.il-castello-edizioni  .header_login .ApriPassword {
    margin:0px;
    padding:0px;
    float:left;
}
.il-castello-edizioni  .header_login .ApriPassword a {
	font-family:'TuffyRegular', Arial, sans-serif;
	font-size:13px;
	line-height:26px;
    color:#fff;
    float:left;
}
.il-castello-edizioni  .header_login .recupera_password {
    margin:0px;
    padding:15px;
    width:400px;
    background:#000;
    position:absolute;
    top:30px;
    left:0px;
}