@charset "utf-8";
.servizi_titolo {
	font-family: "FuturaMdBTBold";
	font-size: 25px;
	text-shadow: 0 0 1px rgba(31,41,87,0.2);
	color: #1f2957;
	padding-bottom: 15px;
	border-bottom: solid 1px #d2d2d2;
	margin-bottom: 25px;
}
.servizi_boxes {

	margin-top: 0px;
}
.servizi_boxes .servizi_box {
	margin-top:20px;
	border: solid 1px #e0e0e0;
	/*width: 228px;*/
}
.servizi_boxes .servizi_box .servizi_box_immagine {
	border-bottom: solid 1px #e0e0e0;
	width: 100%;
	/*height: 116px;*/
}
.servizi_boxes .servizi_box .servizi_box_testo {
	/*background-image: url(../Immagini/servizi_banner_sfondo.png);*/
	height: 80px;
	padding-left: 15px;
	padding-right: 15px;
}
.servizi_boxes .servizi_box_spaziatore {
	width: 13px;
}
.servizi_boxes .servizi_box .servizi_box_testo .servizi_box_testo_1 {
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: "FuturaMdBTBold";
	font-size: 14px;
	text-shadow: 0 0 1px rgba(31,41,87,0.2);
	color: #1f2754;
	white-space: pre-wrap;
}
.servizi_boxes .servizi_box .servizi_box_testo .servizi_box_testo_2 {

}

.servizi_boxes .servizi_box .servizi_box_testo .servizi_box_testo_2 a.linktoservice{
	color: #5578bd;
	background: url("../images/personalarea/arrow1.png") no-repeat scroll right center transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	height: 15px;
	display:inline-block;
	padding-right:10px;
}

@media (min-width: 768px) {
	.servizi_boxes {
	padding-left: 0px;
	padding-right: 0px;
	}
}

@media (min-width: 768px) and (max-width: 1024px){
	.servizi_boxes .servizi_box .servizi_box_testo .servizi_box_testo_1 {
	font-size: 12px;
	}
}
