th {
	border : none;
	background-color : transparent;	
}

.tableHeader {
	display: block;
	font-family: sans-serif;
	font-style: oblique;
	text-align: center;
 	background-color : white;
}

.valuesHeader {
	overflow: hidden;
    	text-overflow: ellipsis; 
	height : 18px;
	white-space : nowrap;
	text-align : center;
	font-size : x-small;
	background-color : transparent;
	column-span : all;
}


.pageIdHeader {
	height : 18px;
	white-space : nowrap;
	overflow : hidden;
	text-align : center;
	font-size : x-small;
	background-color : transparent;
}

.pageIdHeader {
	transform: 
		translate(-2px, 0px) /* magic numbers x 
		                        pageId rotations inside table header row */
		/*rotate(-45deg);*/
	width : 30px;
}

/* styles shared among several type of Objects */

.rule {
	background-color : #eeeeee;
	text-align : center;
	font-size : medium;
	padding: 0px 5px 0px 5px
}

.pageId {
	overflow: hidden;
    	text-overflow: ellipsis; 
	white-space : nowrap;
	text-align : right;
	font-size : x-small;
	font-style : oblique;
}
.value {
	overflow: hidden;
        text-overflow: ellipsis;
	white-space : nowrap;
	text-align : center;
	font-size : x-small;
}
.nullValue {
	background-color : #dddddd;
	font-style : oblique;
}
.sep {
	text-align : center;
	background-color : #8888;
	min-width : 24px;
	font-style : oblique;
}
/* style of Attribute objects */

.siteId {
	height : 128px;
	transform: 
		translate(-8px, 28px) /* magic numbers x s rotations */
		rotate(-45deg);
	width : 30px;
}



/* style of invariants */
.invariant {
	font-size: small;
	font-family: monospace;
	text-align: center;
}

/* style of template tokens */
.template {
	font-size : small;
	font-family : monospace;
	white-space : nowrap;
	overflow: auto;
}

