@media (min-width: 768px) and (max-width: 979px) {
#mainmenu .sb-holder {z-index:20 !important;display: block;}
#mainmenu .sb-options {z-index: 2 !important;}
#submenu .sb-holder {z-index:10 !important;display: block;}
#submenu .sb-options {z-index: 1 !important;}
.menu {display: none;}
.tinynav {display: block;}	
.sb-selector {display:none}
iframe, img {max-width:100% !important; height:auto}
		
.wrapper{width: 704px;padding:8px 10px;}
.fullwidth {width:704px !important;}

#masthead {background-color:#efefef;background-image:none;padding:4px 5px 3px 0;}
.mastheadnav {width:464px;}
#masthead .gab_search_style1 {width:200px;}
	
/*header*/
#header_banner {width:100%;}
		
#header .logo {width:328px;}
#header .logo img{max-width:100%}
#header .name {font-size:22px}
#header .slogan a {font-size:34px}
#header .themequote {width:198px;font-size:17px;line-height:18px;}
#header .quoteleft .quotetext,
#header .quoteright .quotetext {width:198px;}
#header .quoteleft .img {display:none}
#header .quoteright .img {display:none}

#primarycontent {border-bottom:none;padding-bottom:0;}
#primary-left {width:704px;margin-bottom:10px}
	/*----- ={ SLIDER } -----*/
	#featured-slider {width:382px;margin-bottom:20px;float:left}
	#featured-slider .fea-slides {height:215px;}
		
	#featured-slider .media, #featured-slider iframe {width:382px !important;height:215px !important;}
	#featured-slider .featured-media {width:382px !important;height:215px !important;}
	#featured-slider .media {width:382px !important;height:215px;}
		#featured-slider .postteaser {width:362px;}
		#featured-slider .postteaser p {display:none}
		.section_shadow {display:none}
		
		/* Navigation of featured slider */
		#featured-nav li {width:57px;margin-right:8px;}
		#featured-nav li a img {width:57px;border-width:3px}
		#featured-nav li.activeSlide img, #featured-nav li a:hover img{border-width:3px}
	
	#below-slider {float:right;width:285px;}
	#below-slider img {width:85px;margin-bottom:0}
	#below-slider .posttitle  {font-size:22px;line-height:19px;}
	#below-slider .postmeta {display:none}
	
	#primary-mid {width:704px;margin:0;padding:0;border-right:none;border-left:none}
	#primary-mid .featuredpost{width:338px;float:left;clear:left}
	#primary-mid .posttitle {font-size:19px}
	#primary-mid .featuredpost.lastpost{margin:0 0 10px !important;border-bottom:1px dotted #ddd !important;padding-bottom:7px !important;}
	#primary-mid .featuredpost.even{float:right;clear:none}
		
#secondarycontent {}
	#secondary-left {width:110px;}
	#secondary-left .widget li {background:none;padding-left:0 !important;padding-bottom:6px;margin-bottom:6px}
	#secondary-mid {width:252px;margin:0 10px;padding:0 10px;}
	#secondary-mid img {margin-bottom:0;width:55px;margin:2px 6px 0 0}
	#secondary-mid .posttitle {font-size:21px}
	#secondary-mid .postmeta {display:none}
	#secondary-right {width:300px;}
	#secondary-right .featuredpost img {width:100px;}
	#secondary-right .featuredpost {margin-bottom:15px;padding-bottom:15px}
	#secondary-right {width:300px;}
	
/*----- ={ MID SLIDER - TABBED BAR } -----*/
#mid-slider {width:704px;}
	
	#mid-slider .featured-media {width:156px;}	
		#mid-slider .featured-media .tabbedimg{height:auto;border:none;padding:0;max-width:100%;}
	
#subnews {margin-bottom:0}
	#subnews_left {width:704px;display:block;margin-bottom:20px;overflow:hidden;float:none}
	#subnews_left .col {width:159px;margin-right:9px;padding:5px 9px 9px 0;border-right:1px solid #efefef;}
	
	#subnews_right {float:none;width:704px;}
		#subnews_right .widget {display:none}
		#subnews_right #video-slider {float:right}
		#video-slider {height:412px;width:684px;padding:9px;border:1px solid #ddd;margin-bottom:15px;}
		#video-slider .posttitle {font-size:20px;}
		#video-slider .fea-slides,#video-slider .slide_item {width:684px}
		#video-slider iframe {width:100%;height:350px}
		
#footer {width:704px;}	

#main{width:385px;}
#slides {display:none}
#sidebar {width:310px;}
#sidebar .sidebar_left {width:300px;padding:5px;}
#sidebar .sidebar_right {width:300px;padding:5px 5px 0;border:none;}
#sidebar .sidebar_right .widgettitle {margin:0  0 10px;}
#sidebar .sidebar_right .aligncenter {border:none}	
#sidebar .sidebar_media {width:140px;float:left}
#sidebar .sidebar_media.even {float:right}
#sidebar .sidebar_right .clear.for-third {display:none}

#sidebar .sidebar_media img,#sidebar .sidebar_media iframe{width:140px;height:100px}
#sidebar .sidebar_right .gabfire-ad {display:none}

#comments {display:block;}
#comments h3{font-size:18px;font-weight:bold;padding-bottom:15px;}

#comments .comment-inner{margin-bottom:15px;padding:15px 15px 10px;border:1px solid #ddd;background: #f5f5f5 url(default/bgr_shadow.png) repeat-x top;}
#comments .comment-inner:after{content:"";display:block;clear:both;}

/* comment meta */
#comments .commentmeta{width:290px;}
#comments .depth-2 .commentmeta{width:270px;}
/* Second level Comments */
#comments .depth-3 .commentmeta{width:250px;}
/* Second level Comments */
#comments .depth-4 .commentmeta{width:230px;}
/* Second level Comments */
#comments .depth-5 .commentmeta{width:210px;}

.primary-left-magazine {float:left;width:385px;}
.primary-mid-magazine {float:right;margin:0;padding:0;border:none;width:300px}
.primary-right-magazine {display:none}

#two-column .entry {width:185px;}

#gab_gallery .media-wrapper {float:left;width:224px;margin:5px 14px 11px 0;}
#gab_gallery  .third{ margin-right:0;}
#gab_gallery  .entry-shadow{ display:none}
}
@media (min-width: 640px) and (max-width: 767px) {
#mainmenu .sb-holder {z-index:20 !important;display: block;}
#mainmenu .sb-options {z-index: 2 !important;}
#submenu .sb-holder {z-index:10 !important;display: block;}
#submenu .sb-options {z-index: 1 !important;}
.menu {display: none;}
.tinynav {display: block;}	
.sb-selector {display:none}
iframe, img {max-width:100% !important; height:auto}
		
.wrapper{width: 610px;padding:8px 10px;}
.fullwidth {width:610px !important;}

#masthead {background-color:#efefef;background-image:none;padding:4px 5px 3px 0;}
.mastheadnav {width:370px;}
#masthead .gab_search_style1 {width:200px;}
	
/*header*/
#header_banner {width:100%;}
		
#header .logo {width:328px;}
#header .logo img{max-width:100%}
#header .name {font-size:22px}
#header .slogan a {font-size:34px}
#header .themequote {width:140px;font-size:16px;line-height:16px;}
#header .quoteleft .quotetext,
#header .quoteright .quotetext {width:140px;}
#header .quoteleft .img {display:none}
#header .quoteright .img {display:none}

#primarycontent {border-bottom:none;padding-bottom:0;}
#primary-left {width:610px;margin-bottom:10px}
	/*----- ={ SLIDER } -----*/
	#featured-slider {width:318px;margin-bottom:20px;float:left}
	#featured-slider .fea-slides {height:192px;}
		
	#featured-slider .media, #featured-slider iframe {width:318px !important;height:192px !important;}
	#featured-slider .featured-media {width:318px !important;height:192px !important;}
	#featured-slider .media {width:318px !important;height:192px;}
		#featured-slider .postteaser {width:298px;}
		#featured-slider .postteaser p {display:none}
		.section_shadow {display:none}
		
		/* Navigation of featured slider */
		#featured-nav li {width:46px;margin-right:8px;}
		#featured-nav li a img {width:46px;border-width:3px}
		#featured-nav li.activeSlide img, #featured-nav li a:hover img{border-width:3px}
	
	#below-slider {float:right;width:255px;}
	#below-slider img {display:none}
	#below-slider .posttitle  {font-size:19px;}
	#below-slider p  {line-height:17px}
	#below-slider .postmeta {display:none}
	
	#primary-mid {width:610px;margin:0;padding:0;border-right:none;border-left:none}
	#primary-mid .featuredpost{width:295px;float:left;clear:left}
	#primary-mid .posttitle {font-size:19px}
	#primary-mid .featuredpost.lastpost{margin:0 0 10px !important;border-bottom:1px dotted #ddd !important;padding-bottom:7px !important;}
	#primary-mid .featuredpost.even{float:right;clear:none}
	#primary-right {display:none}
	
#secondarycontent {}
	#secondary-left {width:610px;}
	#secondary-left .widget li {background:none;padding-left:0 !important;padding-bottom:6px;margin-bottom:6px}
	#secondary-mid {width:275px;margin-left:0;padding-left:0;border-left:none}
	#secondary-mid img {margin-bottom:0;width:55px;margin:2px 6px 0 0}
	#secondary-mid .posttitle {font-size:21px}
	#secondary-mid .postmeta {display:none}
	#secondary-right {width:300px;}
	#secondary-right .featuredpost img {width:100px;}
	#secondary-right .featuredpost {margin-bottom:15px;padding-bottom:15px}
	#secondary-right {width:300px;}
	
/*----- ={ MID SLIDER - TABBED BAR } -----*/
#mid-slider {width:610px;}
	
	#mid-slider .featured-media {width:133px;}	
		#mid-slider .featured-media .tabbedimg{height:auto;border:none;padding:0;max-width:100%;}
	
#subnews {margin-bottom:0}
	#subnews_left {width:610px;display:block;margin-bottom:20px;overflow:hidden;float:none}
	#subnews_left .col {width:136px;margin-right:9px;padding:5px 9px 9px 0;border-right:1px solid #efefef;}
	
	#subnews_right {float:none;width:610px;}
		#subnews_right .widget {display:none}
		#subnews_right #video-slider {float:right}
		
		#video-slider {height:382px;width:590px;padding:9px;border:1px solid #ddd;margin-bottom:15px;}
		#video-slider .posttitle {font-size:20px;}
		#video-slider .fea-slides,#video-slider .slide_item {width:590px}
		#video-slider iframe {width:100%;height:320px}
		
#footer {width:610px;}	

#main{width:610px;}
#slides {display:none}
#sidebar {width:610px;}
#sidebar .sidebar_left {display:none}
#sidebar .sidebar_right {width:600px;padding:5px 5px 0;border:none;}
#sidebar .sidebar_right .widgettitle {margin:0  0 10px;}
#sidebar .sidebar_right .aligncenter {border:none}	
#sidebar .sidebar_media {width:189px;float:left;margin-right:16px}
#sidebar .sidebar_media.third {float:left;margin-right:0}
#sidebar .sidebar_right .clear.for-even {display:none}

#sidebar .sidebar_media img,#sidebar .sidebar_media iframe{width:189px;height:120px}
#sidebar .sidebar_right .gabfire-ad {display:none}

#comments {display:block;}
#comments h3{font-size:18px;font-weight:bold;padding-bottom:15px;}

#comments .comment-inner{margin-bottom:15px;padding:15px 15px 10px;border:1px solid #ddd;background: #f5f5f5 url(default/bgr_shadow.png) repeat-x top;}
#comments .comment-inner:after{content:"";display:block;clear:both;}

/* comment meta */
#comments .commentmeta{width:523px;}
#comments .depth-2 .commentmeta{width:503px;}
/* Second level Comments */
#comments .depth-3 .commentmeta{width:483px;}
/* Second level Comments */
#comments .depth-4 .commentmeta{width:463px;}
/* Second level Comments */
#comments .depth-5 .commentmeta{width:443px;}

.primary-left-magazine {float:left;width:335px;}
.primary-mid-magazine {float:right;margin:0;padding:0;border:none;width:255px}
.primary-right-magazine {display:none}

#two-column .entry {width:295px;}
#two-column .entry img {width:295px;border:none}

#gab_gallery .media-wrapper {float:left;width:196px;margin:5px 11px 11px 0;}
#gab_gallery  .third{ margin-right:0;}
#gab_gallery  .entry-shadow{ display:none}
}
@media (min-width: 460px) and (max-width: 639px) {
.featuredpost.lastpost {margin:0 0 10px !important;border-bottom:1px dotted #ddd !important;padding-bottom:7px !important;}
#mainmenu .sb-holder {z-index:20 !important;display: block;}
#mainmenu .sb-options {z-index: 2 !important;}
#submenu .sb-holder {z-index:10 !important;display: block;}
#submenu .sb-options {z-index: 1 !important;}
.menu {display: none;}
.tinynav {display: block;}	
.sb-selector {display:none}
iframe, img {max-width:100% !important; height:auto}
		
.wrapper{width: 410px;padding:8px 10px;}
.fullwidth {width:410px !important;}

#masthead {background-color:#efefef;background-image:none;padding:4px 5px 3px 0;}
.mastheadnav {width:auto;display:block;margin:0 auto 10px;float:none;overflow:hidden}
#masthead .gab_search_style1 {width:200px;float:left;margin:0 0 5px 10px;}
	
/*header*/
#header_banner {width:100%;}
		
#header .themequote {display:none}

#primarycontent {border-bottom:none;padding-bottom:0;}
#primary-left {width:410px;margin-bottom:10px}
	/*----- ={ SLIDER } -----*/
	#featured-slider {width:388px;margin-bottom:20px;float:left}
	#featured-slider .fea-slides {height:218px;}
		
	#featured-slider .media, #featured-slider iframe {width:388px !important;height:218px !important;}
	#featured-slider .featured-media {width:388px !important;height:218px !important;}
	#featured-slider .media {width:388px !important;height:218px;}
		#featured-slider .postteaser {width:368px;}
		#featured-slider .postteaser p {display:none}
		.section_shadow {display:none}
		
		/* Navigation of featured slider */
		#featured-nav li {width:58px;margin-right:8px;}
		#featured-nav li a img {width:58px;border-width:3px}
		#featured-nav li.activeSlide img, #featured-nav li a:hover img{border-width:3px}
	
	#below-slider {float:none;width:410px;}
	
	#primary-mid {width:270px;margin:0;padding:0;border-right:none;border-left:none}
	#primary-mid .posttitle {font-size:19px}
	#primary-right {float:right;margin-top:7px}
	
#secondarycontent {}
	#secondary-left {width:410px;}
	#secondary-left .widget li {background:none;padding-left:0 !important;padding-bottom:6px;margin-bottom:6px}
	#secondary-mid {width:410px;margin:0;padding:0;border:none}
	#secondary-mid img {margin-bottom:0;width:55px;margin:2px 6px 0 0}
	#secondary-mid .posttitle {font-size:21px}
	#secondary-mid .postmeta {display:none}
	#secondary-right {width:410px;}
	#secondary-right .featuredpost img {width:100px;}
	#secondary-right .featuredpost {margin-bottom:15px;padding-bottom:15px}
	#secondary-right {width:410px;}
	
/*----- ={ MID SLIDER - TABBED BAR } -----*/
#mid-slider {width:410px;}
	#mid-slider-pagination li a{font-size:12px;line-height:12px;padding:12px 10px 10px;}

	#mid-slider .featured-media {width:180px;}	
	#mid-slider .featured-media.even {margin-right:0}
		#mid-slider .featured-media .tabbedimg{height:auto;border:none;padding:0;max-width:100%;}
	
#subnews {margin-bottom:0}
	#subnews_left {width:410px;display:block;margin-bottom:20px;overflow:hidden;float:none}
	#subnews_left .col {width:195px;margin-right:10px;padding:5px 9px 9px 0;border-right:1px solid #efefef;}
	#subnews_left .col.even {margin-right:0;padding:5px 0 9px 0;border-right:none;}
	
	#subnews_right {float:none;width:410px;}
		#subnews_right .widget {display:none}
		#subnews_right #video-slider {float:right}
		
		#video-slider {height:282px;width:390px;padding:9px;border:1px solid #ddd;margin-bottom:15px;}
		#video-slider .posttitle {font-size:20px;}
		#video-slider .fea-slides,#video-slider .slide_item {width:390px}
		#video-slider iframe {width:100%;height:220px}
		
#footer {width:410px;}	

#main{width:410px;}
#slides {display:none}
#sidebar {width:410px;}
#sidebar .sidebar_left {display:none}
#sidebar .sidebar_right {width:400px;padding:5px 5px 0;border:none;}
#sidebar .sidebar_right .widgettitle {margin:0  0 10px;}
#sidebar .sidebar_right .aligncenter {border:none}	
#sidebar .sidebar_media {width:125px;float:left;margin-right:12px}
#sidebar .sidebar_media.third {float:left;margin-right:0}
#sidebar .sidebar_right .clear.for-even {display:none}

#sidebar .sidebar_media img,#sidebar .sidebar_media iframe{width:125px;height:85px}
#sidebar .sidebar_right .gabfire-ad {display:none}

#comments {display:block;}
#comments h3{font-size:18px;font-weight:bold;padding-bottom:15px;}

#comments .comment-inner{margin-bottom:15px;padding:15px 15px 10px;border:1px solid #ddd;background: #f5f5f5 url(default/bgr_shadow.png) repeat-x top;}
#comments .comment-inner:after{content:"";display:block;clear:both;}

/* comment meta */
#comments .commentmeta{width:323px;}
#comments .depth-2 .commentmeta{width:303px;}
/* Second level Comments */
#comments .depth-3 .commentmeta{width:283px;}
/* Second level Comments */
#comments .depth-4 .commentmeta{width:263px;}
/* Second level Comments */
#comments .depth-5 .commentmeta{width:243px;}

.primary-left-magazine {float:left;width:410px;}
.primary-mid-magazine {float:right;margin:0;padding:0;border:none;width:410px}
.primary-right-magazine,.archive-border {display:none}

#two-column .entry {width:198px;}

#gab_gallery .media-wrapper {float:left;width:200px;margin:5px 10px 11px 0;}
#gab_gallery  .even{ margin-right:0;}
#gab_gallery  .entry-shadow{ display:none}
}

@media (min-width: 150px) and (max-width: 459px) {
.featuredpost.lastpost {margin:0 0 10px !important;border-bottom:1px dotted #ddd !important;padding-bottom:7px !important;}
#mainmenu .sb-holder {z-index:20 !important;display: block;}
#mainmenu .sb-options {z-index: 2 !important;}
#submenu .sb-holder {z-index:10 !important;display: block;}
#submenu .sb-options {z-index: 1 !important;}
.menu {display: none;}
.tinynav {display: block;}	
.sb-selector {display:none}
iframe, img {max-width:100% !important; height:auto}
		
.wrapper{width: 97.4%; padding: 8px 3px;background: white;}
.fullwidth {width:280px !important;}
.posttitle {font: bold 27px/27px 'arial',palatino,'times new roman',times,serif;}
.sottotitolo {font: 17px/17px 'arial',palatino,'times new roman',times,serif;}
.cronacapost-right-bis {width: 92%;float: left;}
.posttitle-correlate {font: bold 16px/16px 'arial',palatino,'times new roman',times,serif;width: 97%;}
#masthead {background-color:#efefef;background-image:none;padding:4px 5px 3px 0;}
.mastheadnav {width:auto;display:block;margin:0 auto 5px;float:none;overflow:hidden}
.mastheadnav li {background:none}
#masthead .gab_search_style1 {width:200px;float:left;margin:0 0 5px 10px;}
.entry .entry-title {font: bold 31px/31px 'arial',palatino,'times new roman',times,serif;}
.localtitle {font: bold 30px/31px 'arial',palatino,'times new roman',times,serif;}
.posttitle-news {font: bold 16px/17px 'arial',palatino,'times new roman',times,serif;width: 96%;}	
titolo-half-bis {font: bold 23px/24px 'arial',palatino,'times new roman',times,serif;letter-spacing: -1.4px;}
.post-intero {width: 96.5%;}
/*header*/
#header_banner {width:100%;}
.public-footer {width: 100%;}
#header .logo {width: 280px;margin-left: auto;margin-right: auto;float: none;}
#header .logo img{max-width:100%}
#header .name {font-size:20px}
#header .slogan a {font-size:30px}
#header .themequote {display:none}
.mastheadnav li.date {font: bold 13px/11px Arial Narrow;width: 99%;margin: -7px -14px 0px 0px;}
.alignleft {line-height: 0;display: block;width: 323px;}
#primarycontent {border-bottom:none;padding-bottom:0;padding: 5px;}
#primary-left {width: 100%;margin-bottom:10px;border-right: none;margin-right: 0px;}
.post-intero-white {width: 96.5%;}
#primary-mid-new {width: 93.4%;}
#primary-mid-new-white {width: 93.5%;}
#primary-white {width: 93%;}
#outerdiv {width: 530px;}
#primary-archive {width: 93%;}
.titolo-half {font: bold 21px/19px 'arial',palatino,'times new roman',times,serif;}
	/*----- ={ SLIDER } -----*/
	#featured-slider {width:268px;padding:5px;margin-bottom:20px;float:left}
	#featured-slider .fea-slides {height:158px;}
		
	#featured-slider .media, #featured-slider iframe {width:268px !important;height:158px !important;}
	#featured-slider .featured-media {width:268px !important;height:158px !important;}
	#featured-slider .media {width:268px !important;height:158px;}
		#featured-slider .postteaser {width:250px;}
		#featured-slider .postteaser p {display:none}
		.section_shadow {display:none}
		
		/* Navigation of featured slider */
		#featured-nav li {width:82px;margin-right:5px;margin-left:2px}
		#featured-nav li a img {width:82px;border-width:3px}
		#featured-nav li.activeSlide img, #featured-nav li a:hover img{border-width:3px}
	
	#below-slider {float:none;width:280px;}
	
	#primary-mid {width: 94.5%;
    margin-top: 5px;
    border-right: none;
    border-left: none;}
	#primary-mid .posttitle {font-size:19px}
	#primary-right {display: block;margin-left: auto;margin-right: auto;float: none;    clear: both;}
.cronacapost-right {width: 96%;}
.header-left {display: none;}
.header-right {display: none;}	
#secondarycontent {width:100%;display: none;}
	#secondary-left {width:280px;}
	#secondary-left .widget li {background:none;padding-left:0 !important;padding-bottom:6px;margin-bottom:6px}
	#secondary-mid {width:280px;margin:0;padding:0;border:none}
	#secondary-mid img {margin-bottom:0;width:55px;margin:2px 6px 0 0}
	#secondary-mid .posttitle {font-size:21px}
	#secondary-mid .postmeta {display:none}
	#secondary-right {width:280px;}
	#secondary-right .featuredpost img {width:100px;}
	#secondary-right .featuredpost {margin-bottom:15px;padding-bottom:15px}
	#secondary-right {width:280px;}
	
/*----- ={ MID SLIDER - TABBED BAR } -----*/
#mid-slider {width:280px;}

	#mid-slider-pagination {padding:0;width:auto;width:278px}
	#mid-slider-pagination li{display:block;color:#434343;width:100%;text-align:center}
	#mid-slider-pagination li a{width:100%;color:#555;display: block;outline: none;background:#efefef;font-size:12px;line-height:12px;padding:12px 0;border-right:none;margin-bottom:-1px;}	
	#mid-slider-pagination li a:hover{background:#efefef;text-decoration:underline}
	#mid-slider-pagination li a.current:hover,#mid-slider-pagination li a.current{background:#fff;text-decoration:none}

	#mid-slider .featured-media {width:116px;}	
	#mid-slider .featured-media.even {margin-right:0}
		#mid-slider .featured-media .tabbedimg{height:auto;border:none;padding:0;max-width:100%;}
	
#subnews {margin-bottom:0}
	#subnews_left {width:280px;display:block;margin-bottom:20px;overflow:hidden;float:none}
	#subnews_left .col {width:280px;margin:0;padding:0;border-right:none;}
	#subnews_left .border {display:none}
	#subnews_right {float:none;width:280px;}
		#subnews_right .widget {display:none}
		#subnews_right #video-slider {float:right}
		
		#video-slider {height:212px;width:260px;padding:9px;border:1px solid #ddd;margin-bottom:15px;}
		#video-slider .posttitle {font-size:18px;}
		#video-slider .fea-slides,#video-slider .slide_item {width:260px}
		#video-slider iframe {width:100%;height:150px}
		
#footer {width:100%;}	

#main{width:280px;}
#slides {display:none}
#sidebar {width:280px;}
#sidebar .sidebar_left {display:none}
#sidebar .sidebar_right {width:270px;padding:5px 5px 0;border:none;}
#sidebar .sidebar_right .widgettitle {margin:0  0 10px;}
#sidebar .sidebar_right .aligncenter {border:none}	
#sidebar .sidebar_media {width:129px;float:left;margin-right:12px}
#sidebar .sidebar_media.even {float:left;margin-right:0}
#sidebar .sidebar_right .clear.for-third {display:none}

#sidebar .sidebar_media img,#sidebar .sidebar_media iframe{width:129px;height:87px}
#sidebar .sidebar_right .gabfire-ad {display:none}

#comments {display:block;}
#comments h3{font-size:18px;font-weight:bold;padding-bottom:15px;}

#comments .comment-inner{margin-bottom:15px;padding:15px 15px 10px;border:1px solid #ddd;background: #f5f5f5 url(default/bgr_shadow.png) repeat-x top;}
#comments .comment-inner:after{content:"";display:block;clear:both;}

/* comment meta */
#comments .commentmeta{width:193px;}
#comments .depth-2 .commentmeta{width:173px;}
/* Second level Comments */
#comments .depth-3 .commentmeta{width:153px;}
/* Second level Comments */
#comments .depth-4 .commentmeta{width:133px;}
/* Second level Comments */
#comments .depth-5 .commentmeta{width:113px;}

.primary-left-magazine {float:left;width:280px;}
.primary-mid-magazine {float:right;margin:0;padding:0;border:none;width:280px}
.primary-right-magazine,.archive-border {display:none}

#two-column .entry {width:280px;}
#two-column .entry img {width:280px;border:none}

#gab_gallery .media-wrapper {float:left;width:280px;margin:5px 0 11px 0;}
#gab_gallery .media-wrapper img, #gab_gallery .media-wrapper iframe {width:260px;height:225px}
#gab_gallery  .entry-shadow{ display:none}
}