p.consent-text {
	font-size: 1em;
	color: #1F2957;
}

label.consent-label {
	color: #1F2957;
	font-family: arial;
	font-size: 0.8em !important;
}

p.policy-link-text {
	color: #1F2957;
	font-size: 0.8em;
	margin-top: 2em;
}

a.policy-link {
	text-decoration: underline;
	font-weight: bold;
	color: #1F2957;
}

div.consent-choices-container {
	width: 100%;
	padding-left: 1em !important;
	overflow: hidden;
}

div.consent-accept-container {
	width: 50%;
	float: left;
}

div.consent-deny-container {
	width: 50%;
	float: right;
	overflow: hidden;
}