/* CSS Rework by Frank Zimmermann */

/* basics */
a {
	color: #5578bd;
	text-decoration: none;
}

a,
a:focus,
a:hover{
	outline: 0;
}

body {
	background: #7D7D7D url(../images/body.jpg) no-repeat center top;
	font-size: 12px;
	color: #333;
}

.gd-container {
	background-color: transparent;
	padding: 0px 5px;
}

h1{
	font-weight: 700;
	font-size: 20px;
	padding-top: 0; /* only for header on the top of content */
	margin-bottom: 16px;
	line-height: 20px;
}

h2{
	line-height: 20px;
	font-size: 18px;
	color: #666;
	font-weight: bold;
	margin-bottom: 16px;
}

h3{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #666;
}

h4{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
	color: #666;
}

/*
input[type=text],
input[type=email],
input[type=number],
input[type=password]{
	text-indent: 5px;
	height: 16px;
	line-height: 16px;
	padding: 2px 2px 2px 0;
	vertical-align: top;
	width: 210px;
}

input[type=text],
input[type=email],
input[type=password],
textarea{
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #C3C3C3;
	border-top: 1px solid #7C7C7C;
	background-color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	color: #333;
}
*/
textarea {
	padding: 5px;
	font-family: Helvetica, Arial, sans-serif;
	width: 378px;
	height: 138px;
}

label,
input,
select {
	display: inline-block;
}

label {
	font-size: 12px;
	color: #333;
	font-weight: 400;
}

label[for]{
	color: #666;
}

label input[type=radio] {
	padding-bottom: 2px;
}

select {
	padding: 1px 0;
	font-size: 13px;
	color: #333;
}

table {
	width: 100%;
}
table th {
	border-bottom: 1px solid #CCCCCC;
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	padding: 0 10px 1px;
}
table td {
	border-bottom: 1px solid #CCCCCC;
	padding: 13px 10px;
}

/* end basics */

/* ----------------------------------- general design components -------------------------------- */

/* design component: button */
button,
.ish-button, .ish-button span {
	background-color: #d20a2e;
	background-image: url("../images/sfondo_bottone.png");
	color: white;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	padding: 7px 20px 7px;
	display: inline-block;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 3px solid #CCCCCC;;
	white-space: nowrap;
	margin: 0px;
	text-transform: uppercase;
}



button:hover,
.ish-button:hover,
button:focus,
.ish-button:focus {
	cursor: pointer;
	color: white;
	text-decoration:none;
}
.ish-button:hover,
.ish-button:focus {
background: #d20a2e url(../images/button-bg.png) repeat-x left bottom;
}

.ish-button-secondary{
	background-color: #aaa;
	background-image: none;
	color: white;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	padding: 7px 20px 7px;
	display: inline-block;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 3px solid #CCCCCC;;
	white-space: nowrap;
	margin: 0px;
	text-transform: uppercase;
}

.ish-button-secondary:hover{
	background-color: #666;
	/*background: white url(../images/button-secondary-bg.png) repeat-x left bottom;*/
	background-image: none;
}

.ws-checkout button.ish-button-secondary:hover {
	background-color: #666;
	/*background: white url(../images/button-secondary-bg.png) repeat-x left bottom;*/
	background-image: none;
}

.ish-button-cancel {
	margin-left: 17px;
}


.ish-button-RaC {
	background-color: #325494;
	background-image: url("../images/sfondo_bottone_RaC.png");
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 7px 13px 7px;
	display: inline-block;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 0px solid #CCCCCC;;
	white-space: nowrap;
	margin: 0px;
	text-transform: uppercase;
}


.ish-button-RaC:hover,
.ish-button-RaC:focus {
	cursor: pointer;
	background: #1c5196 url(../images/button-bg_RaC.png) repeat-x left bottom;
	color: white;
	text-decoration:none;
}

.ish-button-RaC-disabled {
	background-color: #cccccc;
	background-image: url("../images/sfondo_bottone_RaC-disabled.png");
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 7px 13px 7px;
	display: inline-block;
	font-size: 21px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 0px solid #CCCCCC;;
	white-space: nowrap;
	margin: 0px;
	text-transform: uppercase;
}

#RacWarnAdd{
	display:none;
	text-align: center;

}
#RacAdd{
	display:block;
	text-align: center;

}





.ish-button-PaC {
	background-color: #325494;
	background-image: url("../images/sfondo_bottone_RaC.png");
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 7px 13px 7px;
	display: inline-block;
	font-size: 21px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 0px solid #CCCCCC;;
	white-space: nowrap;
	margin: 0px;
	text-transform: uppercase;
}


.ish-button-PaC:hover,
.ish-button-PaC:focus {
	cursor: pointer;
	background: #1c5196 url(../images/button-bg_RaC.png) repeat-x left bottom;
	color: white;
	text-decoration:none;
}

.ish-button-PaC-disabled {
	background-color: #cccccc;
	background-image: url("../images/sfondo_bottone_RaC-disabled.png");
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 7px 13px 7px;
	display: inline-block;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 0px solid #CCCCCC;;
	white-space: nowrap;
	margin: 0px;
	text-transform: uppercase;
}

#PacWarnAdd{
	display:none;
	text-align: center;

}
#PacAdd{
	display:block;
	text-align: center;

}

/* 	end design component: button */

/* 	design component: link */
button.ish-link,
button.ish-link:hover {
	background: none;
	text-indent: 0;
	font-weight: 400;
	color: #5578bd;
	font-size: 12px;
	padding: 0;
}

.ish-link-emailFriend {
	background: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -933px;
	min-height: 12px;
	padding-left: 20px;
}

.ish-link-printProduct {
	background: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -877px;
	min-height: 16px;
	padding-left: 20px;
}

.ish-link-details {
	font-size: 11px;
}

.ish-link-block {
	display: block
}

.ish-link-productRemove {
	float: right;
	background-image: url(../images/x.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: 700px;
	color: #999;
	padding-right: 11px;
	text-align: right;
}

.ish-product-removeLink:hover {
	color: #666;
}
/* 	end design component: link */

/* 	design component: label */
.ish-label-top {
	display: block;
	padding-bottom: 2px;
}
/* 	end design component: label */

/* design component: header */
.ish-header-extended {
	font-size: 12px;
	color: #333;
	font-weight: 400;
	padding-left: 10px;
}
div.ish-header-extended {
	display: inline-block;
}
/* end design component: header */


/* 	design component: linkSeperator */
.ish-linkSeperator {
	border-right: 1px solid #FAA35C;
	padding-right: 7px;
	margin-right: 5px;
}
/* 	end design component: linkSeperator */

/* design component: bar */
	.ish-bar {
		background-color: #EDEDED;
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
		margin-bottom: 10px;
	}

	.ish-bar h3 {
		padding: 0;
	}

/* end design component: bar */

/* 	design component: field */
.ish-field-row{
	padding-bottom: 20px;
}

.ish-field-row:after {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.ish-field {
	padding-bottom: 10px;
	font-size: 0;
	position: relative;
}

.ish-field-row .ish-field {
	width: 200px;
	float: left;
	margin: 0 30px 5px 0;
}

/* 	end design component: field */


/* 	design component: note */
.ish-note{
	clear: both;
	font-style: italic;
	color: #999;
	font-size: 11px;
	color: #999;
}
/* 	end design component: note */


/* design component: pagination */
	.ish-pagination {
		border-top: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
		padding: 9px 5px 5px;
	}

	.ish-pagination-total,.ish-pagination-sites {
		display: inline;
		vertical-align: middle;
		padding-right: 15px;
		font-size: 0;
		color: #999;
	}

	.ish-pagination-sites-list {
		display: inline-block;
		vertical-align: baseline;
		list-style-type: none;
		padding: 0 0 0 5px;
		margin: 0;
		font-size: 0;
	}

	.ish-pagination-sites-list-previous {
		padding-right: 8px;
		vertical-align: top;
		font-family: Trebuchet MS;
		color: #d20a2e;
		font-size: 11px;
		font-weight: bold;
		margin-right: 2px;
		padding-bottom: 0 !important;
		display: inline-block;
	}

	.ish-pagination-sites-list-item {
		display: inline-block;
		vertical-align: baseline;
		font-size: 12px;
		padding-right: 10px;
		margin-right: 2px;
		padding-bottom: 0 !important;
		color: #999;
	}

	.ish-pagination-total {
		padding-right: 10px;
	}

	.ish-pagination-total-value {
		font-size: 14px;
		color: #5578bd;
		vertical-align: baseline;
		font-weight: bold;
	}

	.ish-pagination-label {
		color: #999;
		padding-right: 5px;
		vertical-align: baseline;
		font-size: 12px;
		font-weight: bold;
		font-family: arial;
	}

	.ish-pagination-sites-list-item a,.ish-pagination-sites-list-item a:hover {
		color: #999;
	}

	.ish-pagination-site-active {
		color: #5578bd;
	}

	.ish-pagination-list-next {
		padding-right: 0;
		border-right: 0;
		margin-right: 0;
		padding-left: 0;
		vertical-align: top;
		display: inline-block;
		font-family: Trebuchet MS;
		color: #d20a2e;
		font-size: 11px;
		font-weight: bold;
	}

	.ish-pagination-site-list {
		display: inline-block;
		vertical-align: baseline;
		list-style-type: none;
		padding: 6px 0 0 5px;
		margin: 0;
		font-size: 0;
	}

	.ish-pagination-site-list li{
		border: 1px solid #d2d2d2;
    	font-family: arial;
    	min-height: 47px;
    	padding: 16px 18px 19px;
    	-moz-border-bottom-colors: none;
    	-moz-border-left-colors: none;
    	-moz-border-right-colors: none;
    	-moz-border-top-colors: none;
    	background: #242424 linear-gradient(#ffffff, #f1f1f1) repeat scroll 0 0 / auto 45px;
    	box-shadow: 1px 1px 7px -1px #cccccc;
    	margin-top: 3px;
    }

	.ish-pagination-site-list-previous {
		font-family: Trebuchet MS;
		color: #d20a2e;
		font-size: 11px;
		font-weight: bold;
		padding-right: 8px;
		vertical-align: top;
	}

	.ish-pagination-hide {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);
	}
/* end design component: pagination */

/* 	design component: smallLoader */
.ish-smallLoader {
	background-image: url(../images/ajax-loader-small.gif);
	display: none;
	height: 32px;
	position: absolute;
	width: 32px;
	z-index: 9999;
}

/* 	end design component: smallLoader */

/* 	design component: tooltip */
.ish-tooltip {
	background: url(../images/checkout-sprite.png) no-repeat right -102px;
	padding-right: 12px;
	vertical-align: middle;
	font-weight: normal !important;
	line-height: 18px;
	display: inline-block;
	font-size: 11px;
}

.ish-tooltip-down {
	background: url(../images/sprite.png) no-repeat right -160px;
	line-height: normal;
}

.ish-tooltip-content {
	width: 240px;
	border-top: 1px solid #F7941D;
	position: absolute;
	display: none;
	z-index: 5;
}

.ish-tooltip-arrow {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
}

.ish-tooltip-wrapper {
	border: 3px solid #d20a2e;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding: 5px;
	margin-top: -5px;
	background-color: white;
	z-index: 1000;
}

/* 	end design component: tooltip */

/* 	design component: breadcrumbs */
.cms-breadcrumbs,
.ish-breadcrumbs {
	padding: 0 10px 14px 0;
	overflow: hidden;
}

.ish-breadcrumbs-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 12px;
	overflow: hidden;
}

.ish-breadcrumbs-list-item {
	display: block;
	float: left;
	padding: 0;
}

.ish-breadcrumbs-list-item-link {
	color: #333;
}

.ish-breadcrumb-list-item-seperator {
	color: #333;
	padding: 0 10px;
}

.ish-breadcrumbs-list-item-active {
	color: #5578bd;
	padding-right: 0;
	margin-right: 0;
}

/* 	end design component: breadcrumbs */


/*	design component: error */
input.ish-error,
textarea.ish-error {
	border: 2px solid #FF0000;
}

.kor-field-error-message {
	background: url(../images/error-arrow-bottom.png) no-repeat left bottom;
	/*padding-bottom: 11px;*/
	padding-bottom: 0px;
	display: block;
	font-size: 12px;

}

.kor-field-error-bottom .kor-field-error-message {
	background: url(../images/error-arrow-top.png) no-repeat left top;
	padding: 11px 0px 0px 0px;
}

.kor-field-error-right .kor-field-error-message {
	background: url(../images/error-arrow-left.png) no-repeat left top;
	padding: 0px 0px 0px 11px;
}

.kor-field-error-left .kor-field-error-message {
	background: url(../images/error-arrow-right.png) no-repeat right bottom;
	padding: 0px 11px 0px 0px;
}

.kor-form-error-message-small {
	background: #c00 url(../images/exclamation-error.png) no-repeat 12px center;
	padding: 3px 3px 3px 30px;
	margin-bottom: 16px;
	border: 2px solid #c00;
	overflow: hidden;
}
/*	end design component: error */

/* 	design component: indicatesRequired */
.ish-indicatesRequired{
	font-size: 10px;
	padding-bottom: 14px;
	color: #999;
}

.ish-indicatesRequired-star{
	color: #5578bd;
	font-size: 12px;
	font-weight: normal;
	padding-left: 0;
}
/* 	end design component: indicatesRequired */

/* design component: captcha */
	.ish-captcha {
		margin-bottom: 20px;
	}
/* end design component: captcha */

/* 	design component: tabset */

.ish-tabset{
	background: url(../images/tabset-bg.png) repeat-x 0 0;
	padding-bottom: 0;
	border-top: 1px solid #CCC;
}

.ish-tabset .ish-tabset-label{
	border-right: 1px solid #E5E5E5;
	height: 24px;
	line-height: 17px;
	color: #999;
	font-size: 16px;
	overflow: hidden;
}

.ish-tabset .ish-tabset-label:hover{
	color: #F7941D;
}

.ish-tabset .ish-tabset-contents{
	padding: 5px 9px 5px;
	border-right: 1px solid white;
	display: block;
}

.ish-tabset .kor-label-active .ish-tabset-contents{
	background-color: white;
	color: #666;
}

.ish-tabset .ish-tabset-panel{
	top: 27px;
	left: 0;
	width: 100%;
}



.unica_colonna .prodotti_fan_terzariga{
		width: 100%;
}

.unica_colonna .prodotti_fan_terzariga dd{
	padding-left:25px;

}

.ish-tabset .ish-tabset-panel-contents{
	color: #666;
	padding: 11px 10px 20px 10px;
	line-height: 1.5;
}

.ish-tabset-panel-contents-viewAll{
	margin: 0 0 10px 10px;
}

.ish-tabset .ish-tabset-panel ol li,
.ish-tabset .ish-tabset-panel ul li {
	padding-bottom: 5px;
}

.ish-tabset .ish-categoryLinks {
	float: right;
	padding: 0 10px;
}

/* 	end design component: tabset */

/* design component: accordion */

.ish-accordion {
	margin-bottom: 14px;
}

.ish-accordion .ish-tabset-label {
	font-size: 14px;
	background-color: #EDEDED;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #FFF;
}

.ish-accordion .kor-label-active {
	border-bottom: medium none;
}

.ish-accordion .kor-content-active {
	max-height: 400px;
	overflow: auto;
}

.ish-accordion .kor-tabset-content {
	border-bottom: 1px solid #EDEDED;
}

.ish-accordion .ish-tabset-panel-contents {
	padding: 9px 5px 16px;
	border-left: 1px solid #EDEDED;
	border-right:1px solid #EDEDED;
	background: #FFF url(../images/bg_accordion.jpg) repeat-x left top;
}

.ish-accordion .ish-tabset-panel-contents .ish-productDescription-short {
	padding-bottom: 14px;
}

.ish-accordion .ish-reviewList-wrapper {
	padding:0;
}

.ish-accordion .ish-bar,
.ish-accordion .ish-pagination {
	display: none;
}

.ish-accordion .ish-reviewItem:first-child .ish-reviewItem-header {
	padding-top: 0;
}

.ish-accordion .ish-reviewItem .ish-reviewItem-header .ish-productRatingStars {
	padding-bottom: 10px;
}

/* end design component: accordion */


/* 	design component: headerSearch */
.ish-headerSearch {
	/*position: relative;*/
	font-size: 0;
}

.ish-headerSearch label {
	font-size: 12px;
	color: #d20a2e;
	min-width: 40px;
	vertical-align: middle;
}

.ish-headerSearch-input {
	width: 198px;
	font-weight: bold;
	margin-left: 10px;
}

.ish-headerSearch .ish-headerSearch-input-off {
	font-weight: normal;
	color: #999;
}

.ish-headerSearch .ws-search-options {
	margin: 0 5px;
}

.ish-headerSearch-go {
	padding: 0px;
	vertical-align: middle;
	margin-left: -1px;
	height: 27px;
	width: 33px;
}

.ish-headerSearch .ish-headerSearch-search {
	vertical-align: middle;
	margin-left: -1px;
	height: 27px;
}

.ish-headerSearch .ish-searchForm {
	height: 21px;
	line-height: 27px;
	border: 1px solid #ccc;
	width: 207px;
}

.ish-headerSearch-input,.ish-headerSearch .ws-search-options,.ish-headerSearch .ws-submit {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.ish-headerSearch-input.ws-active {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
}

/* 	end design component: headerSearch */


/* ------------------- page header and footer design components  ------------------- */

/* 	design component: siteHeader */
.cms-siteHeader-promo {
	background-color: transparent;
	color: #FFF;
	line-height: 35px;
	height: 35px;
}

.cms-siteHeader-promo .ish-tooltip {
	margin-left: 5px;
	position: relative;
	top: -1px;
}

.cms-siteHeader-quickLinks {
	font-weight: bold;
	line-height: 35px;
	height: 35px;
	position: relative;
	text-align: right;
}

.ish-siteHeader-quickLinks-minicartLink {
	margin-left: 10px;
}

.ish-siteHeader-quickLinks-cart {
	display: inline;
}

.ish-siteHeader-quickLinks-compareList {
	font-weight: bold;
	padding-right: 10px;
	border-right: 1px dotted white;
}

.ish-siteHeader-quickLinks-compareList,.ish-siteHeader-quickLinks-minicartLink
	{
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.kor-minicart-items {
	/*background: url(../images/sprite.png) no-repeat right -161px;*/
	padding-right: 10px;
	/*color: #F90;*/
	/*font-size: 12px;*/
}
.kor-minicart-items a:hover{
	color: #FFFFFF;
}


.cms-siteHeader-myAccountUtilitiesMenu {
	padding: 20px 0;
}

.cms-siteHeader-myAccountUtilitiesMenu-list {
	float: right;
	list-style-type: none;
	padding: 0 0 0 10px;
}

.cms-siteHeader-myAccountUtilitiesMenu-list .ish-linkList-item {
	float: left;
	display: block;
	padding-left: 10px;
}

.cms-siteHeader-myAccountUtilitiesMenu-list .ish-linkList-item a {
	color: #666;
}

.ish-siteHeader-myAccountUtilitiesMenu-myAccount-title {
	font-weight: bold;
	color: #666;
}

.ish-siteHeader-myAccountUtilitiesMenu-myAccount-login,.ish-siteHeader-myAccountUtilitiesMenu-myAccount-logout
	{
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #999;
}

.ish-siteHeader-myAccountUtilitiesMenu-myAccount-register {
	padding-left: 10px;
}

.ish-siteHeader-myAccountUtilitiesMenu-myAccount-link {
	font-weight: bold;
}

.cms-siteHeader-logoSearch {
	height: 58px;
}

.cms-siteHeader-logoSearch .ish-headerSearch {
	float: right;
}

.ish-siteHeader-logoSearch-logo {
	clear: left;
	float: left;
}
/* 	end design component: siteHeader */

/* 	design component: mainNavigation */
.ish-mainNavigation {
	padding-bottom: 13px;
	border-bottom: 1px solid #EDEDED;
}

.ish-mainNavigation a {
	color: #529ac0;
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold;
}

.ish-mainNavigation a:hover {
	color: #f90;
}

.ish-mainNavigation-list {
	list-style-type: none;
	padding-bottom: 0;
}

.ish-mainNavigation-list li .cms-mainNavigation-dropdown {
	display: none;
	position: absolute;
	background-color: #FFF;
	-moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
	border-top: 1px solid #f7941d;
}

.ish-mainNavigation-list-item {
	display: block;
	float: left;
	margin-right: 15px;
	line-height: 1;
	position: relative;
	padding-bottom: 0;
}

.ish-mainNavigation-list-item>a {
	background: url(../images/sprite.png) no-repeat right -131px;
	padding-right: 11px;
	font-weight: bold;
	margin-right: 1px;
	/* We need this 1px extra margin to fix an Opera rendering bug */
}

ul.cms-mainNavigation-dropdown-level1 {
	padding: 10px 5px 0 5px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

.cms-mainNavigation-dropdown-level1-item>a {
	font-weight: bold;
	display: block;
	padding: 0px 20px 12px 6px;
}

.cms-mainNavigation-dropdown-level1-item {
	margin-left: 0px;
}

.cms-mainNavigation-dropdown-level1-item:last-child>a {
	padding-bottom: 0px;
}

.cms-mainNavigation-dropdown {
	display: none;
	position: absolute;
}

.cms-mainNavigation-dropdown-level1 {
	left: 0;
	top: 18px;
	z-index: 10;
	margin-left: 0px;
}

.cms-mainNavigation-dropdown-level1-contents {
	padding-bottom: 60px;
}

/* 	end design component: mainNavigation */

/* 	design component: footer */
.ish-footer {
	clear: both;
	width: 950px;
	padding-top: 13px;
	overflow: hidden;
	margin: auto;
}

.ish-footer h1,.ws-change-country-text {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
}

.ish-footer a {
	color: #FFF;
}

.cms-footer-links {
	list-style-type: none;
	float: left;
	padding-bottom: 0;
	width: 720px;
}

.cms-footer-links li {
	padding-bottom: 7px;
	font-size: 10px;
	display: block;
	float: left;
}

.cms-footer-links li a {
	display: block;
	font-size: 11px;
	width: 130px;
	white-space: nowrap;
}

.cms-footer-links li a.ws-quick-link-item-long {
	width: 180px;
}

/* 	end design component: footer */

/* 	design component: socialMediaLinks */
.cms-socialMediaLinks {
	list-style-type: none;
	padding-left: 5px;
}

.ws-follow-us h1,.cms-socialMediaLinks {
	display: block;
	float: left;
	font-size: 12px;
	padding-bottom: 0;
	color: white;
}

.cms-socialMediaLinks .ish-linkList-item {
	display: block;
	float: left;
	padding-left: 5px;
}

.cms-socialMediaLinks .ish-linkList-item a {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	display: block;
	text-indent: -9999px;
}

.cms-socialMediaLinks-facebook {
	background-position: 0 -251px;
}

.cms-socialMediaLinks-rss {
	background-position: -19px -251px;
}

.cms-socialMediaLinks-twitter {
	background-position: -38px -251px;
}

.cms-socialMediaLinks-youtube {
	background-position: -57px -251px;
}

/* 	end design component: socialMediaLinks */

/* 	design component: assistanceCall */
.cms-assistanceCall {
	padding: 5px 0 0;
	display: inline-block;
	margin: 5px 0px 0px 3px;
	font-size: 12px;
	color: white;
}

/* 	end design component: assistanceCall */

/* 	design component: copyright */
.cms-copyright {
	clear: both;
	padding-top: 5px;
	color: white;
	font-size: 9px;
}

/* 	end design component: copyright */

/* 	design component: content */
.ish-content {
	background-color: white;
	padding: 17px 0px 29px 0px;
	min-height: 800px;
	overflow: hidden;
}

/* 	end design component: content */

/* 	design component: homepageTeaser */
.cms-homepageTeaser,.ish-homepageTeaser {
	padding-bottom: 10px;
	display: block;
}

.ish-homepageTeaser {
	padding-bottom: 16px;
}

/* 	end design component: homepageTeaser */


/* 	design component: carousel */
.ish-carousel {
	padding: 0px 10px;
	position: relative;
	overflow: hidden;
}

.ish-carousel-width-6 ul.ish-productList {
	margin-left: -20px;
}

.ish-carousel-width-5 ul.ish-productList {
	margin-left: -5px;
}

.ish-carousel-control {
	background: url(../images/sprite.png) no-repeat left top;
}

.ish-carousel .kor-control-next {
	right: 10px;
}

.kor-control-previous {
	background-position: -148px -251px;
	width: 24px;
	height: 24px;
}

.ish-carousel .kor-control-previous {
	left: 13px;
}

.ish-carousel .kor-control {
	top: 55px;
}

.kor-control-previous {
	background-position: -148px -251px;
	width: 24px;
	height: 24px;
}

.kor-control-next:hover,.kor-control-next:focus {
	background-position: -124px -275px;
}

.ish-carousel-control:hover {
	background-color: transparent;
	cursor: pointer;
}

.kor-control-next {
	background-position: -124px -251px;
	width: 24px;
	height: 24px;
}

.kor-control-next,.kor-control-previous {
	z-index: 5;
	position: absolute;
	display: block;
	text-indent: -9999px;
}

.kor-control-next-disabled,.kor-control-next-disabled:hover {
	background-position: -124px -299px;
	background-color: transparent;
}

.kor-control-previous-disabled,.kor-control-previous-disabled:hover {
	background-position: -148px -299px;
	background-color: transparent;
}

.ish-carousel-width-6 a.kor-control-previous,.ish-carousel-width-6 a.kor-control-next
	{
	top: 65px;
}

.ish-carousel-width-6 .ish-productTile-expressShopTrigger,.ish-productList li.gd-grid-6 .ish-productTile-expressShopTrigger
	{
	left: 70px;
	margin-left: 0px;
	top: 80px;
}

.ish-carousel-width-5 .ish-productTile-expressShopTrigger,.ish-productList li.gd-grid-5 .ish-productTile-expressShopTrigger
	{
	left: 35px;
	top: 60px;
	margin-left: 0px;
}

.ish-carousel .ish-productList {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	width: 9999px;
	background-image: none;
}

.ish-carousel-width-6 .ws-product-list-item .photo,.ish-carousel-width-5 .ws-product-list-item .photo	{
	margin-top: 3px;
	padding-bottom: 15px;
}

.ish-carousel .cms-priceContainer-contents .ish-priceContainer-salePrice {
	margin-top: 0;
	margin-bottom: 10px;
}

.ish-carousel li.gd-grid-5 {
	margin-left: 15px;
	margin-right: 0px;
	width: 170px;
	height: 348px;
}

.ish-carousel li.gd-grid-5>div {
	margin: 0px 15px;
}

.ish-carousel li.gd-grid-5 .ish-product-image,.ish-carousel li.gd-grid-6 .ish-product-image	{
	margin-top: 3px;
	padding-bottom: 15px;
}

.ish-carousel li.gd-grid-6 .ish-productTitle,.ish-carousel li.gd-grid-5 .ish-productTitle {
	margin-right: 0px;
	display: block;
	height: 30px;
}

/* 	end design component: carousel */

/* 	design component: productList */
.ish-productList,
.ish-categoryList {
	font-size: 0;
	overflow: hidden;
}

.ish-productList .ish-productList-item,
.ish-categoryList .ish-categoryList-item {
	float: none;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	position: relative;
	/*padding-top: 9px;
	padding-bottom: 20px;*/
}

.ish-categoryList .ish-categoryList-item .ish-categoryList .ish-categoryList-item{
	display: block;
	padding-bottom: 5px;
}

.ish-categoryList .ish-categoryList-item .ish-categoryList .ish-categoryList-item-first{
	padding-top: 5px;
}

.ish-productList-item .ish-product-image {
	padding-bottom: 16px;
}

.ish-productList-item-first,.ish-categoryList-item-first {
	margin-left: 0;
}

.ish-productList-item-last,.ish-categoryList-item-last {
	margin-right: 0;
}

/* 	end design component: productList */

/* 	design component: productTileHorizontal */
.cms-productTileHorizontal {
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
	padding-top: 10px;
}

.cms-productTileHorizontal .ish-productTitle {
	padding-bottom: 5px;
}

.kor-product-list-price,.ish-priceContainer-save,.ish-valid,.ish-shipping,.ish-readyForShipment
	{
	color: #999;
	font-size: 11px;
	font-weight: normal;
	vertical-align: baseline;
}

.cms-productTileHorizontal-linksAndPrice {
	float: right;
	width: 145px !important;
}

.cms-productTileHorizontal-linksAndPrice .ish-priceContainer-salePrice {
	line-height: 1.2em;
}

.cms-productTileHorizontal-linksAndPrice .ish-priceContainer-salePrice-value	{
	color: #DA0015;
}

.cms-productTileHorizontal-linksAndPrice .ish-priceContainer-save {
	display: block;
	margin-bottom: 13px;
}

.cms-productTileHorizontal-linksAndPrice .ish-addToCart-container {
	padding-bottom: 14px;
}

.cms-productTileHorizontal-linksAndPrice .ish-linkSeperator:last-child {
	border: none;
}

/* 	design component: productTileHorizontal */

/* 	design component: productTitle */
.ish-productTitle {
	color: #16254F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

h1.ish-productTitle {
	font-size: 18px;
	line-height: 18px;
	color: #333;
	font-weight: 400;
	margin-bottom: 8px;
	padding: 0;
}
/* end design component: productTitle */

/* 	design component: productTile */
.ish-productList .cms-productTile-expressShopTriggerWrapper,.ws-category-list .category .ws-wrapper
	{
	font-size: 12px;
	position: relative;
}

.cms-productTile .ish-productRating-totalRatings{
	display: none;
}

.cms-productTile .ish-productTitle{
	margin-bottom: 16px;
}

.cms-productTile .ish-productRating{
	padding-bottom: 16px;
}

.ish-productTile-expressShopTrigger {
	display: none;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -60px;
	z-index: 5;
}

.kor-hover .ish-productTile-expressShopTrigger {
	display: inline-block;
}

.ish-productTile-expressShopTrigger:hover {
	cursor: pointer;
	background: #d20a2e url(../images/button-bg.png) repeat-x left bottom;
	color: white;
}

/* 	end design component: productTile */

/* 	design component: priceContainer */
.ish-priceContainer-scalePrice {
	font-size: 11px;
	text-decoration: none;
	color: #666;
}

.ish-priceContainer-price {
	white-space: nowrap;
}

.ish-priceContainer-salePrice,.ish-priceContainer-salePrice-lower {
	color: #666;
	clear: both;
}

.ish-priceContainer-salePrice-lower,.ish-priceContainer-salePrice-value
	{
	font-size: 18px;
	text-decoration: none;
	color: #666;
}
.ish-priceContainer-label {
	font-size: 11px;
	color: #999;
}
.ish-priceContainer-was {
	font-size: 11px;
	text-decoration: line-through;
	color: #999;
}
.ish-priceContainer-save {
	font-size: 11px;
	color: #999;
}
/* 	end design component: priceContainer */


/* 	design component: pageNavigation */
.cms-pageNavigation {
	background: url(../images/page-navigation-bg.png) no-repeat left top;
	min-height: 562px;
}

.cms-pageNavigation-contents {
	padding: 12px 15px;
}

.cms-pageNavigation .cms-pageNavigation-clearAllFilters{
	float: right;
	display: block;
	color: #5578bd;
	font-size: 11px;
}

.cms-pageNavigation .ish-productTitle{
	display: inline-block;
	vertical-align: top;
	padding-top: 6px;
	padding-left: 7px;
	padding-bottom: 5px;
	width: 100px;
	font-size: 12px;
	font-weight: normal;
}

.cms-pageNavigation h3.ws-heading,
.cms-pageNavigation h3.ws-heading a {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #666;
}

.ws-page-navigation-back-to {
	text-decoration: underline;
	padding-bottom: 15px;
	display: block;
}

.cms-pageNavigation  h1 {
	padding-top: 1px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
}

.cms-pageNavigation  h1 a {
	font-size: 18px;
	font-weight: 400;
}

.cms-pageNavigation ul {
	list-style-type: none;
	padding-bottom: 3px;
}

.cms-pageNavigation ul li {
	padding-bottom: 5px;
	text-transform: capitalize;
}

.cms-pageNavigation ul li ul {
	padding-bottom: 0;
}

.cms-pageNavigation ul li ul li {
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 0;
}

.cms-pageNavigation a {
	color: #666;
}

.cms-pageNavigation-contents a:hover {
	color: #EC8D00;
}

.cms-pageNavigation a.ws-active,.cms-pageNavigation .ws-selected a,
.cms-pageNavigation .ish-pageNavigation-filters-link
	{
	color: #5578bd;
}

.cms-pageNavigation .ish-pageNavigation-filters-link {
	font-size: 90%;
}

.cms-pageNavigation .ish-pageNavigation-filters {
	margin-top: 8px;
	border-top: 1px solid #CCC;
	padding-top: 10px;
}

.ish-pageNavigation-filters-filter-selected {
	color: #5578bd;
}

.ish-pageNavigation-filters-filter-clear {
	float: right;
	color: #5578bd;
}

.ish-pageNavigation-filters-filter-count {
	padding-left: 3px;
	color: #999;
	vertical-align: baseline;
}

.ish-pageNavigation-filters-filter-layer1 {
	padding-left: 10px;
}

.ish-pageNavigation-filters-filter {
	padding-bottom: 5px;
}

.ish-pageNavigation-productLink .ish-productList .ish-productList-item {
	margin-bottom: 7px;
}

.ish-pageNavigation-productLink .ish-productList .ish-productList-item .ish-product-photo{
	height: 30px;
	width: 30px;
	display: inline-block;
}

.ish-pageNavigation-productLink .ish-productList .ish-productList-item .ish-product-photo img{
	height: 30px;
	width: 30px;
}

.ish-pageNavigation-productLink .cms-priceContainer{
	vertical-align: top;
	padding-top: 6px;
	margin-left: 40px;
}

.ish-pageNavigation-productLink .cms-priceContainer .ish-priceContainer-salePrice-value{
	font-size: 12px;
}

.cms-pageNavigation .ish-pageNavigation-clearHistory{
	display: block;
	margin: 17px 0 0 0;
	padding: 0 0 11px 0;
	background: 0 none;
	border-bottom: 1px solid #CCC;
	color: #d20a2e;
	font-size: 11px;
	font-weight: normal;
}

.cms-pageNavigation .ish-recentlyViewed-categories h3,
.cms-pageNavigation .ish-recentlyViewed-searches h3{
	float: none;
	font-size: 18px;
	line-height: 36px;
	padding: 0 0 5px;
}

.cms-pageNavigation .ish-recentlyViewed-searches,
.cms-pageNavigation .ish-recentlyViewed-categories{
	padding-left: 0px;
}

/* 	end design component: pageNavigationFilter */

/* 	design component: legalDisclaimer */
.cms-legalDisclaimer p {
	border-bottom: 1px solid #DDD;
	padding: 8px 0;
	color: white;
	clear: both;
	font-size: 12px;
}

.cms-legalDisclaimer p:first-child {
	padding-top: 0;
}

.cms-legalDisclaimer .cms-legalDisclaimer-lastEntry {
	border: none;
	margin-bottom: 20px;
}

/* 	end design component: legalDisclaimer */

/* 	design component: listFilters */
.cms-listFilters {
	background-color: #F7F7F7;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	padding: 7px 10px 6px 5px;
	overflow: hidden;
}

.ish-listFilters-sortBy,.ish-listFilters-productsPerPage,.ws-product-listing-info
	{
	display: inline;
	vertical-align: middle;
	padding-right: 15px;
	font-size: 0;
	color: #999;
}

.ws-product-listing-products-per-page-list
	{
	display: inline-block;
	vertical-align: baseline;
	list-style-type: none;
	padding: 0 0 0 5px;
	margin: 0;
	font-size: 0;
}

.ws-product-listing-products-per-page-list-item
	{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	padding-right: 10px;
	margin-right: 2px;
	padding-bottom: 0 !important;
	color: #999;
}

.ish-listFilters-label {
	color: #999;
	padding-right: 5px;
	vertical-align: baseline;
	font-size: 12px;
	font-weight: bold;
}

.ish-listFilters-switchView {
	float: right;
	padding-right: 0 !important;
	line-height: 24px;
}

.ish-listFilters-switchView-grid {
	background-position: -103px -251px;
}

.ish-listFilters-switchView-grid:hover,.ish-listFilters-switchView-grid-active
	{
	background-position: -103px -270px;
}

.ish-listFilters-switchView-control {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	text-indent: -9999px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}

.ish-listFilters-switchView-list {
	background-position: -84px -251px;
}

.ish-listFilters-switchView-list:hover,.ish-listFilters-switchView-list-active
	{
	background-position: -84px -270px;
}

.cms-listFilters-pagination {
	border-bottom: 1px solid #CCC;
	padding: 9px 5px 3px;
}
/* 	end design component: listFilters */

/* design component: productImagery */
.cms-productImagery .cms-productImagery-contents {
	position: relative;
}

.cms-productImagery .ish-product-photo {
	overflow: hidden;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}
/* end design component: productImagery */

/* design component: productAltImages */
.ish-productAltImages {
	clear: left;

}

.ish-productAltImages-list {
	padding: 10px 0;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	overflow: hidden;
	list-style-type: none;
}

.ish-productAltImages-list-item {
	display: block;
	float: left;
	padding-right: 10px;
	border-right: 1px dotted #ccc;
	margin-right: 10px;
}
/* end design component: productAltImages */

/* design component: productRating */
.ish-productRating {
	padding: 2px 0 10px;
	font-size: 11px;
}

.ish-productRating .ish-productRatingStars {
	display: inline-block;
	vertical-align: text-top;
}

.ish-productRating-totalRatings {
	padding: 0 5px 0 12px;
	font-size: 11px;
	color: #999;
}
/* end design component: productRating */

/* design component: productRatingStars */
.ish-productRatingStars {
	font-size: 0;
	overflow: hidden;
}

.ish-productRatingStars-rating {
	background: url(../images/sprite.png) no-repeat left top;
	display: block;
	height: 13px;
	width: 84px;
}

.ish-productRatingStars .ish-productRatingStars-five {
	background-position: 0 -279px;
}

.ish-productRatingStars .ish-productRatingStars-four {
	background-position: 0 -292px;
}

.ish-productRatingStars .ish-productRatingStars-three {
	background-position: 0 -305px;
}

.ish-productRatingStars .ish-productRatingStars-two {
	background-position: 0 -318px;
}

.ish-productRatingStars .ish-productRatingStars-one {
	background-position: 0 -331px;
}

.ish-productRatingStars .ish-productRatingStars-none {
	background-position: 0 -344px;
}

.ish-productRatingStars-list {
	background: url(../images/sprite.png) no-repeat scroll 0 0 transparent;
	clear: both;
	height: 13px;
	list-style: none outside none;
	padding: 0;
	position: relative;
	width: 84px;
}

ul.ish-productRatingStars-list li {
	cursor: pointer;
	float: left;
	text-indent: -999em;
}
ul.ish-productRatingStars-list li a {
	height: 13px;
	text-decoration: none;
	z-index: 200;
	top: 0;
	left: 0;
	position: absolute;
	width: 17px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-one a {
	left: 0;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-two a {
	left: 16px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-three a {
	left: 32px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-four a {
	left: 48px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-five a {
	left: 64px;
}
ul.ish-productRatingStars-list li a:hover {
	background: url(../images/sprite.png) no-repeat scroll 0 0 transparent;
	height: 13px;
	left: 0;
	overflow: hidden;
	width: 80px;
	z-index: 2;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-one a:hover {
	background-position: 0 -331px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-two a:hover {
	background-position: 0 -318px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-three a:hover {
	background-position: 0 -305px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-four a:hover {
	background-position: 0 -292px;
}
ul.ish-productRatingStars-list .ish-productRatingStars-list-item-five a:hover {
	background-position: 0 -278px;
}
/* end design component: productRatingStars */

/* design component: productNumber */
.ish-productNumber {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 10px;
}

/* end design component: productNumber */

/* design component: productBrand */
.ish-productBrand {
	padding-bottom: 10px;
}
/* end design component: productBrand */

/* design component: productDescription */
.ish-productDescription-short,
.ish-productDescription-long {
	padding-bottom: 15px;
	color: #16254F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;

}
/* end design component: productDescription */

/* design component: promotionShortTitle */
.ish-promotionShortTitle {
	font-weight: bold;
}
/* end design component: promotionShortTitle */

/* design component: promotionLongTitle */
.ish-promotionLongTitle {
	display: inline-block;
	padding-right: 5px;
}
/* end design component: promotionLongTitle */

/* design component: promotionDetailsLink */
.cms-promotionDetailsLink {
	display: inline;
}
/* end design component: promotionDetailsLink */

/* design component: promotionList */
.ish-promotionList {
	overflow: hidden;
	padding-bottom: 10px;
}
/* end design component: promotionList */

/* design component: promotionIcon */
.ish-promotionIcon {
	float: left;
	padding-right: 5px;
}
/* end design component: promotionIcon */

/* design component: giftWrap */
	.cms-giftWrap {
		background: url(../images/ic_gift.png) no-repeat;
		height: 30px;
		line-height: 39px;
		padding-bottom: 0;
		padding-left: 24px;
		color: #666;
		font-size: 11px;
	}
/* end design component: giftWrap */

/* design component: giftMessage */
	.cms-giftMessage {
		background: url(../images/ic_gift.png) no-repeat;
		height: 30px;
		line-height: 39px;
		padding-bottom: 0;
		padding-left: 24px;
		color: #666;
		font-size: 11px;
	}
/* end design component: giftMessage */

/* design component: productAvailability */
	.ish-productAvailability {
		color: #999;
		text-transform: uppercase;
		padding-bottom: 4px;
		font-weight: 400;
	}
/* end design component: productAvailability */

/* design component: readyForShipment */
	.ish-readyForShipment {
		color: #999;
		font-size: 11px;
		font-weight: 400;
		padding-bottom: 10px;
	}
/* end design component: readyForShipment */

/* design component: productQuantity */
	.ish-productQuantity {
		padding: 6px 0 20px;
	}

	.ish-productQuantity label {
		font-weight: 700;
		width: 55px;
		line-height: 22px;
	}
	.ish-productQuantity .ish-productQuantity-input {
		width: 25px;
		text-align: center;
		text-indent: 0;
	}
/* end design component: productQuantity */

/* design component: productWarranty */
	.ish-productWarranty label {
		color:gray;
		padding-bottom: 3px;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 12px;
	}

	.ish-productWarranty .ish-productWarranty-widget {
		background-color: none;
		padding: 25px 20px 0 0;
	}

	.ish-productWarranty .ish-productWarranty-widget dd {
		line-height: 18px;
	}

	.ish-productWarranty .ish-productWarranty-widget-title {
		font-size: 12px;
		font-weight: bold;
		padding-bottom: 9px;
		font-family: arial,sans-serif;
	}
/* end design component: productWarranty */

/* design component: productInfo*/
.cms-productInfo .cms-linkList-productShare {
	overflow: hidden;
	padding-bottom: 15px;
}

.cms-productInfo .cms-linkList-productShare li {
	display: block;
	float: left;
	padding-right: 15px;
}

.cms-productInfo .ish-link-emailFriend,.cms-productInfo .ish-link-printProduct {
	display: block;
}

.cms-productInfo .ish-productRating {
	border-bottom: 1px dotted #DCDCDC;
	margin-bottom: 11px;
}

.cms-productInfo .ish-productShortDescription {
	padding-bottom: 18px;
}

.cms-productInfo .cms-priceContainer {
	padding: 10px 0 12px;
}

.cms-productInfo .ish-button-addToCart {
	font-size: 18px;
	font-weight: normal;
	padding: 7px 9px 7px;
}

.cms-productInfo .ish-addToCart-container {
	margin: 0 10px 16px 0;
}

.cms-productInfo .ish-addToCart-container,
.cms-productInfo .ish-addToWishList-container,
.cms-productInfo .ish-addToCompareList-container{
	vertical-align: middle;
	float: left;
	margin-bottom: 18px;
	line-height: 32px
}

.cms-productInfo .ish-addToWishList-container,
.cms-productInfo .ish-addToCompareList-container{
	padding-top: 2px;
}

.cms-productInfo .ish-productNotification-container,
.cms-productInfo .ish-productWarranty {
	clear: both;
	margin-bottom: 20px;
}
/* end design component: productInfo */

/* design component: bundledProductList */
.ish-bundledProductList {
	clear: both;
}

.ish-bundledProductQuantity {
    color: #666;
    font-size: 12px;
    float: right;
}
.ish-bundledProductQuantity-label {
    font-weight: bold;
}
.ish-bundledProductQuantity-value {}

.ish-bundledProductList .ish-productList .ish-productList-item {
	border-bottom: 1px solid #EEEEEE;
	padding: 5px 0;
	width: 100%;
}

.ish-bundledProductList .ish-productWarranty {
	padding-bottom: 10px;
}

/* end design component: bundledProductList */

/* design component: productRetailSetList */
.cms-productRetailSetList-item .cms-priceContainer {
	padding-bottom: 10px;
}
/* end design component: productRetailSetList */

/* design component: productRetailSetList */
.cms-productLinks .ish-productRating .ish-productRating-totalRatings {
	display: none;
}
/* end design component: productRetailSetList */

/* design component: productAttributes */
.ish-productAttributes dt {
	position: static;
	float: left;
}

.ish-productAttributes dt dd {
	padding-top: 0px;
}

.ish-productAttributes .ish-ca-type,
.ish-productAttributes .ish-ca-value {
	float: left;
	padding-bottom: 2px;
}

.ish-productAttributes .ish-ca-type {
	clear: left;
	font-weight: bold;
	padding-right: 5px;
}

.ish-productAttributes .ish-ca-type-block {
	float: none;
	padding-bottom: 0;
}

.ish-productAttributes .ish-ca-value-block {
	padding-bottom: 10px;
}
/* end design component: productAttributes */

/* design component: reviewSection */
	.ish-reviewSection {
		margin: 3px 0 9px;
	}

	.ish-reviewSection .ish-reviewSection-header .ish-bar {
		margin-bottom: 0;
	}

	.ish-reviewSection .ish-reviewSection-header .ish-linkSeperator {
		border-right-color: #333;
	}

	.ish-reviewSection .ish-reviewSection-myReviews {
		padding: 0 10px;
	}

	.ish-reviewSection .ish-reviewSection-opinionInvitation h2 {
		font-weight: normal;
	}

/* end design component: reviewSection */

/* design component: reviewList */
	.ish-reviewList .ish-reviewList-wrapper {
		padding:0 10px;
	}

	.ish-reviewList .ish-bar {
		margin-bottom: 0;
	}
	.ish-reviewList-noReviews {
		color: #7D7D7D;
		font-family: futuramdbtbold, arial, sans-serif;
		font-weight: normal;
		margin-top: 10px;
	}
/* end design component: reviewList */

/* design component: reviewItem */
	.ish-reviewItem:first-child .ish-reviewItem-header{
		border-top: none;
	}
	.ish-reviewItem .ish-reviewItem-header {
		border-bottom: 1px dotted #ccc;
		border-top: 1px solid #ccc;
		padding-bottom: 4px;
		padding-top: 10px;
		margin-bottom: 6px;
		overflow: hidden;
	}

	.ish-reviewItem .ish-reviewItem-header .ish-productRatingStars{
		float: left;
		padding-right: 13px;
		padding-bottom: 5px;
	}
	.ish-reviewItem .ish-reviewItem-header-title{
		font-family: futuramdbtbold;
		font-weight: normal;
		float: left;
		width: 312px;
		padding-bottom: 1px;
	}

	.ish-reviewItem .ish-reviewItem-header-date{
		float: left;
	}

	.ish-reviewItem .ish-reviewItem-header-remove {
		position: absolute;
		right: 20px;
	}

	.ish-reviewItem .ish-reviewItem-approvalComment{
		border-top: 1px dotted #CCC;
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #999;
	}
	.ish-reviewItem .ish-reviewItem-author {
		margin-bottom: 1px;
	}

	.ish-reviewItem .ish-reviewItem-text{
		margin-bottom: 5px;
	}

/* end design component: reviewItem */

/* design component: reviewDialog */
.ish-reviewDialog {
	text-align: left;
	width: 410px;
}

.ish-reviewDialog .ish-reviewDialog-description {
	padding-bottom: 10px;
}

.ish-reviewDialog .ish-reviewDialog-reviewerName span {
	font-size: 12px;
	padding-left: 5px;
}

.ish-reviewDialog .ish-tooltip-content ul {
	padding-bottom: 0;
}

.ish-reviewDialog .ish-tooltip-content ul .ish-productRatingStars span {
	display: block;
	height: 13px;
	width: 84px;
}

.ish-reviewDialog .ish-productRatingStars {
	float: left;
	margin-right: 5px;
}

/* end design component: reviewDialog */

/* design component: productShippingInfo */
.cms-productShippingInfo .ish-readyForShipment {
	color: #666666;
	font-size: 100%;
}

.cms-productShippingInfo ul {
	list-style-type: disc;
}

/* end design component: productShippingInfo */

/* design component: productAttachments */
.ish-productAttachments .ish-productAttachments-list {
	color: #999;
	list-style-position: outside;
	padding-bottom: 10px;
}

.ish-productAttachments .ish-productAttachments-list-item {
	margin-left: 20px;
}

.ish-productAttachments .ish-productAttachments-list-item-description {
	font-style: italic;
}
/* end design component: productAttachments */

/* design component: productInfoCollection */
.cms-productInfoCollection dl.ish-tabset {
	margin: 0 0px 35px;
}

/* end design component: productInfoCollection */

/* design component: expressShopProductView */
.cms-expressShopProductView.gd-container {
	width: auto;
	padding: 0;
}
/* end design component: expressShopProductView

/* 	design component: search */

/* Defines specific alignment and colors of search box in empty search page. */
.cms-search-noResults-group .ish-headerSearch {
	float: left;
}
/* end - Defines specific alignment and colors of search box in empty search page. */
.ish-search-noResults-title {
	color: #666;
	font-size: 14px;
	padding-bottom: 23px;
}

.ish-search-searchTerm,.ish-search-numberOfResults {
	font-weight: bold;
}

.ish-search-tips-header {
	margin-top: 8px;
	padding-bottom: 3px;
}

.ish-search-tips-list {
	margin-left: 17px;
}

.ish-search-didYouMean{
	padding-bottom: 20px;
	font-size: 16px;
}

.ish-search-resultCountMessage,
.ish-search-didYouMean,
.ish-search-viewAll {
	display: inline-block;
}

.ish-search-resultCountMessage{
	margin-left: 30px;
}

.ish-search-viewAll {
	margin-left: 5px;
}

.ish-search-noResultsTitle{
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 23px;
	color: #666;
	padding-bottom: 23px;
}

.ish-search-noResultsSearchTerm{
	font-weight: bold;
}

.ish-search-didYouMean ~ .ish-search-productList .ish-productList{
	margin-left: 45px;
}

.ish-search-didYouMean ~ .ish-search-productList .ish-productList .ish-productList-item {
	width: 140px;
	margin-right: 80px;
}

/* 	end design component: search */

/*  design component: compare products */
.ish-compareProducts  th {
	color: #999999;
	font-weight: 700;
	width: 190px;
	padding-bottom: 15px;
}
.ish-compareProducts  td {
	width: 350px;
}
.ish-compareProducts .ish-productTitle, .ish-compareProducts-productImage {
	float:left;
	clear:both;
	padding: 10px 0;
}
.ish-compareProducts-productImageCell {
	border-bottom: none;
}
.ish-compareProducts .ish-productRating   {
	padding-bottom:0;
	border-bottom:none;
}
.ish-compareProducts-productNumber {
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
}
/* end design component: compare products */


/* 	design component: search switch */
.ish-search-switch-toggle {
	float: right;
	margin: 0 5px -19px 15px;
	height: 20px;
	line-height: 20px;
}

.ish-search-switch-toggle .ish-search-switch-Products,
.ish-search-switch-toggle .ish-search-switch-Content
	{
	margin: 0 5px 0 0;
	width: 16px;
	height: 16px;
	float: left;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.ish-search-switch-toggle .ish-search-switch-toggle-active {
	background: #ccc;
	border: 1px solid #aaa;
}

.ish-search-switch-toggle .ish-search-switch-label {
	font-weight: bold;
	margin: 0 0 0 0;
	float: left;
}
/* 	end design component: search switch */

/* 	design component: indexTabset */
.ish-indexTabset .ish-tabset {
	background: #E3E3E3;
	border-top: none;
}

.ish-indexTabset .ish-tabset-label {
	border-right: 2px solid white;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	width: 34px;
	text-align: center;
}

.ish-indexTabset .ish-tabset .kor-label-active .ish-tabset-contents {
	background-color: #d20a2e;
	border: 1px solid #d20a2e;
	color: white;
}

.ish-indexTabset .ish-tabset dt .ish-tabset-contents,
.ish-indexTabset ul.ish-tabset .ish-tabset-contents {
	border: 1px solid #E3E3E3;
	padding-bottom: 3px;
}

.ish-indexTabset .ish-tabset .ish-tabset-panel {
	height: auto;
	top: 24px;
}

.ish-indexTabset .ish-tabset-panel-contents{
	padding: 0px;
}

.ish-indexTabset li.ish-tabset-label {
	display: inline-block;
	width: auto;
}

.ish-indexTabset li.ish-tabset-label .ish-tabset-contents{
	color: #999;
}

.ish-indexTabset ul.ish-tabset{
	font-size: 0px;
	margin: 0 0 18px 0px;
}

.ish-indexTabset .ish-tabset-label.ish-tabset-activeLabel .ish-tabset-contents{
	background-color: #d20a2e;
	border: 1px solid #d20a2e;
	color: white;
}

.ish-indexTabset .ish-tabset .ish-tabset-contents:hover {
	color: #529AC0;
	background: #F2F2F2;
	border: 1px solid #E3E3E3;
}

.ish-indexTabset .ish-tabset .ish-tabset-deactiveLabel .ish-tabset-contents:hover{
	color: #999;
	border: 1px solid #E3E3E3;
	background-color: transparent;
}

/* 	end design component: indexTabset */


/* 	design component: brand */

.ish-brand-indexLetter{
	font-size: 72px;
	color: #529AC0;
	float: left;
	margin: 32px 0px 0px 30px;
	width: 122px;
}

.ish-brand-list{
	list-style-type: none;
	width: 270px;
	margin: 45px 10px 0 0;
	padding: 0;
	float: left;
}

.ish-brand-list-item{
	list-style-type: none;
}



/* 	end design component: brand */


/* 	design component: recentlyViewed */

.cms-recentlyViewed{
	padding-top: 20px;
	clear: both;
}

.cms-recentlyViewed h2{
	display: inline;
	vertical-align: baseline;
	margin: 0 5px 0 15px;
	padding-bottom: 10px;
}
/* 	end design component: recentlyViewed */

/* 	design component: siteMapCategoryList */
.ish-siteMapCategoryList{
	clear: both;
	padding: 0px;
	font-weight: 700;
	list-style: none none outside;
}

.ish-siteMapCategoryList .ish-siteMapCategoryList{
	font-weight: normal;
	padding: 5px 0px 0px 14px;
}

.ish-siteMapCategoryList li{
	padding-bottom: 25px;
}

.ish-siteMapCategoryList li .ish-siteMapCategoryList li{
	padding-bottom: 6px;
}

.ish-siteMapCategoryList li:last-child{
	padding-bottom: 27px;
}

.ish-siteMapCategoryList li .ish-siteMapCategoryList li:last-child{
	padding-bottom: 0px;
}

.ish-siteMapCategoryList li:first-child{
	padding-top: 8px;
}

.ish-siteMapCategoryList li .ish-siteMapCategoryList li:first-child{
	padding-top: 0px;
}

.ish-siteMapCategoryList li a{
	color: #333;
}
/* 	end design component: siteMapCategoryList */

/* 	design component: siteMapHelpList */
.cms-siteMapHelpList{
	margin-top: 33px;
}

.cms-siteMapHelpList .ish-linkList{
	line-height: 18px;
	list-style: none none outside;
}

.cms-siteMapHelpList .ish-linkList a{
	color: #333;
	font-weight: bold;
}
/* 	end design component: siteMapHelpList */

/* 	design component: recentlyViewed */
.ish-recentlyViewed-categories,
.ish-recentlyViewed-searches{
	padding-left: 15px;
}

.ish-recentlyViewed-categories h3,
.ish-recentlyViewed-searches h3{
	float: left;
	font-size: 12px;
	padding-right: 10px;
	padding-top: 9px;
	width: 100px;
}

.ish-recentlyViewed-categories .ish-categoryList-item,
.ish-recentlyViewed-searches .ish-categoryList-item{
	padding-right: 10px;
}

/* 	end design component: recentlyViewed */


/* 	design component: emailAFriend */

.ish-emailAFriend{
	width: 460px;
}

.ish-emailAFriend-header{
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
	overflow: hidden;
}

.ish-emailAFriend .ish-product-photo{
	float: left;
	margin-right: 20px;
	display: block;
}

.ish-emailAFriend-header-text{
	padding-top: 10px;
}

.ish-emailAFriend-header-text-productName{
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
}

.ish-emailAFriend-header-text h1{
	margin-bottom: 13px;
}

.ish-emailAFriend textarea {
	width: 450px;
}
/* 	end design component: emailAFriend */

/* design component: errorPageNotFoundContainer */
	.cms-errorProductNotFoundContainer .ish-headerSearch {
		padding-left: 15px;
	}
/* end design component: errorPageNotFoundContainer */

/* design component: errorPageNotFoundText */
	.cms-errorPageNotFoundText-content {
		margin-left: 5px;
	}

	.cms-errorPageNotFoundText h6 {
		margin-bottom: 6px;
	}

	.cms-errorPageNotFoundText ul {
		line-height: 2;
		list-style-type: disc;
		padding-left: 10px;
	}

/* end design component: errorPageNotFoundText */

/* design component: welcomeMessage */
.ish-welcomeMessage {
	padding-bottom: 15px;
}

.ish-welcomeMessage p {
	padding-bottom: 5px;
	font-size: 18px;
}

.ish-welcomeMessage .cms-welcomeMessage-user {
	font-weight: 700;
}

.ish-welcomeMessage a {
	font-size: 11px;
	line-height: 1;
}

/* end design component: welcomeMessage */

/* END CSS Rework Code */


/*** this must in the branding package ***/
/*
h1,#ws-cart .ws-aside h3,.ish-mainNavigation a,.ws-checkout .ws-action-buttons .ws-back-to-shopping,.ws-checkout .ws-button-tertiary:hover,.ws-checkout .ws-button-tertiary:focus,.ws-progress-bar .ws-current .ws-step-name,.ws-promotion-heading-color,#ws-brand-index .ws-brand-index-letter,#ws-brand-index .ws-brand-index-tabset .kor-tabset .kor-label-contents:hover
	{
	color: #202857;
}
*/

h1,
h1 a,
#ws-cart .ws-aside h3,
.ws-main-nav a,
.ws-checkout .ws-action-buttons .ws-back-to-shopping,
.ws-checkout .ws-button-tertiary:hover,
.ws-checkout .ws-button-tertiary:focus,
.ws-progress-bar .ws-current .ws-step-name,
.ws-promotion-heading-color,
.ish-brand-indexLetter,
.ish-indexTabset .ish-tabset .ish-tabset-contents:hover {
	color: #202857;
}

body {
	background: #9EC33F
		url(/online/static/WFS/PrimeTech-PrimeTechSpecials-Site/-/-/en_US/branding/PrimeTech-PrimeTechSpecials-Anonymous/body.jpg)
		no-repeat center top;
}
