<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chi-xpath/src/test/java/it/uniroma3/chixpath/Partitioner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.uniroma3.chixpath.Partitioner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="file:./src/test/resources/basic/Steam/BabyRedemption_avventura.html&#13;&#10;file:./src/test/resources/basic/Steam/Borderlands_azione.html&#13;&#10;file:./src/test/resources/basic/Steam/SezioneAvventura.html&#13;&#10;file:./src/test/resources/basic/Steam/SezioneAzione.html&#13;&#10;file:./src/test/resources/basic/Steam/Supraland_avventura.html&#13;&#10;file:./src/test/resources/basic/Steam/Sekiro_azione.html"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chi-xpath"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configurationFile=src/test/java/log4j2-local.xml"/>
</launchConfiguration>
