<!doctype html>
<html amp>
<head>
    <!--<script src="//assets.adobedtm.com/90d1a5fe6070bddb60287a1a22aa5b83dbdb9048/satelliteLib-86d1b7073c8d8c2dbd6ad410e66aa376cd2eb1b4-staging.js"></script>-->

    <meta charset="utf-8">
    <title>Salvini accusa l&amp;#8217;Europa ma boicotta le riforme per evitare altri casi &amp;#8220;Sea Watch&amp;#8221;</title>
    <link rel="canonical" href="https://www.ilsole24ore.com/art/salvini-accusa-l-europa-ma-boicotta-riforme-evitare-altri-casi-sea-watch-ACMeuiV" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityofPage": {
            "@type":"WebPage",
            "@id": "http://www.ilsole24ore.com/art/salvini-accusa-l-europa-ma-boicotta-riforme-evitare-altri-casi-sea-watch-ACMeuiV"
        },
        "headline": "Salvini accusa l&amp;#8217;Europa ma boicotta le riforme per evitare altri casi &amp;#8220;Sea Watch&amp;#8221;",
		
        "datePublished": "2019-06-30T14:09:49.000Z",
        "dateModified": "2019-06-30T14:09:49.000Z",
        "description": "Salvini accusa l&amp;#8217;Europa ma boicotta le riforme per evitare altri casi &amp;#8220;Sea Watch&amp;#8221;",
        "image": {
        "@type": "ImageObject",
        "url": "http://i2.res.24o.it/images2010/2019/06/ACMeuiV/images/fotohome1.jpg",
        "width": 696,
        "height": 351
        },        
        "author": {
        "@type": "Person",
        "name": "di Alberto Magnani"
        },
        "publisher": {
        "@type": "Organization",
        "name": "Il Sole 24 Ore",
        "logo": {
        "@type": "ImageObject",
        "url": "http://i.res.24o.it/img2013/logo_sole24.png",
        "width": 250,
        "height": 60
        }
        }
        }
    
    </script>

    <style amp-custom>
        .pad-bottom {
            margin-bottom: 20px;
        }
        .content-container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
        }
        .pb-caption {
            width: 90%;
            margin: 10px auto;
            font-family: "FranklinITCProLight","Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 14px;
            margin-bottom: 12px;
            color: #6e6e6e;
            line-height: 1.3em;
            text-align: left;
        }

        .kicker {
            font-family: "FranklinITCProBold","Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 14px;
            margin: 12px auto;
            color: #2C6CB4;
        }

        .kickerL {
            font-family: "FranklinITCProBold","Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 12px;
            margin: 2px auto;
            color: #2C6CB4;
        }

        .subhead {
            display: block;
            font-family: Georgia,serif;
            font-size: 16px;
            margin-bottom: 20px;
            color: #000000;
            line-height: 1.5em;
            font-weight: 700;
        }

        .blockquote {
            font-size: 13pt;
            font-style: italic;
            padding: 0px 15px;
        }

        .center {
            text-align: center;
        }

        .line {
            width: 25%;
            margin-left: 5%;
        }

        .site-attribution {
            width: 90%;
            margin: 0 auto;
            list-style-type: none;
            padding-left: 0;
        }

        .border-container {
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .right-border {
            border-right: 1px solid #f0f0f0;
            padding: 6px 4%;
        }

        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 1.6em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .meter-section {
            font-family: franklinBold;
            font-size: 1.3em;
            background-color: #000000;
            color: #fbb35a;
            padding: 7px;
            margin: 10px;
            text-align: center;
        }

        .button {
            line-height: 1.428571429;
            border: 1px solid #d2d2d2;
            border-radius: 4px;
            margin: 10px;
            padding: 6px 0 0 3px;
        }

        .button a {
            color: #333;
            font-family: franklinBold;
            font-size: 1.3em;
        }

        .button a span {
            font-weight: bold;
        }

        .content-container .button {
            width: 90%;
            margin: 10px auto;
            padding: 6px 0;
        }

        .headline {
            -webkit-filter: drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.16)) drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.23));
            filter: drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.16)) drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.23));
            background: #fff;
            padding: 8px;
            margin: 8px 16px;
        }

        .separator {
            color: #d5d5d5;
            height: 1px;
        }

        .Dleft {
            float: left;
            width: 30%;
            margin-left: 2%;
        }

        .Dright {
            float: right;
            width: 70%;
            margin-right: 2%;
        }

        .titoloL {
            width: 90%;
            font-family: "PostoniStandardBold", Georgia, serif;
            font-size: 14px;
            font-weight: normal;
            margin: 0px auto;
            margin-bottom: 20px;
            line-height: 1.1em;
            word-spacing: -.02em;
            color: #000000;
        }

        .list-pagination {
            text-align: center;
        }

        .list-pagination > a {
            display: inline-block;
            margin: 10px 30px;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border-color: #817971;
            color: #817971;
            border: 1px solid;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 45px;
            text-decoration: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: Montserrat, Arial, "Helvetica Neue", Helvetica;
        }

        .list-pagination > a:hover {
            background: #657985;
            text-decoration: none;
            color: white;
        }

        /************************ HEADER E FOOTER *********************************************************************************/
        footer {
            margin: 0;
            padding: 20px 15px;
            text-align: center;
            line-height: 16px;
        }

        footer h3 {
            font-weight: normal;
            font-family: 'Arial';
            color: #416077;
            font-size: 15px;
            line-height: 0px;
        }

        footer a {
            font-weight: normal;
            color: #416077;
            text-decoration: none;
            font-family: 'Arial';
            font-size: 15px;
            line-height: 0px;
        }

        /********************** / HEADER E FOOTER *********************************************************************************/


        /************************ ARTICOLO.CSS *********************************************************************************/

        html {
            color: #222;
            font-size: 1em;
            line-height: 1.4;
        }

        ::-moz-selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }

        audio, canvas, iframe, img, svg, video {
            vertical-align: middle;
        }

        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }

        textarea {
            resize: vertical;
        }

        .browserupgrade {
            margin: 0.2em 0;
            background: #ccc;
            color: #000;
            padding: 0.2em 0;
        }

        /* ==========================================================================
        Author's custom styles
        ========================================================================== */
        body {
            background-color: #f5e5d5;
        }

        header, footer, article, section {
            display: block;
        }

        header {
            text-align: center;
            border-bottom: 1px solid #dccebe;
            padding: 12px 0;
            margin: 0;
        }

        section {
            padding: 0 15px;
            margin: 0;
        }

        section#titolo {
            text-align: left;
            padding: 10px 0 0 0;
        }

        #titolo h1 {
            font-family: 'sole_serif_headlinebold';
            color: #000;
            font-size: 25px;
            line-height: 29px;
            margin: 0;
            padding: 0 15px 10px 15px;
            font-weight:normal;
        }

        #titolo .separatore {
            width: 100px;
            height: 1px;
            border-bottom: 1px solid #416077;
            overflow: hidden;
            padding: 0 15px;
            margin: 0 15px;
            display:none;
        }

        #titolo h2 {
            font-family: 'Arial';
            font-weight: bold;
            color: #416077;
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            padding: 0px 15px 0px 15px;
            text-transform: uppercase;
        }

        #titolo h3 {
            font-family: 'Arial';
            font-weight: bold;
            color: #ad9a87;
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            padding: 0 15px 20px 15px;
        }

        #titolo h3 span {
            color: #416077;
        }

        #titolo img {
            border: none;
            width: 100%;
            height: auto;
            margin: 0;
        }

        article {
            padding: 0 15px 30px 15px;
            margin: 0;
            font-family: 'Georgia', 'Arial';
            color: #393939;
            font-size: 17px;
            line-height: 23px;
        }

        article a {
            color: #416077;
            text-decoration: underline;
        }

            article p {
                padding: 30px 0 0 0;
                margin: 0;
                text-align: justify;
            }

        section#correlati {
            background: #e4d7cb;
            border-top: 2px solid #416077;
            margin: 0 15px 30px 15px;
            padding: 20px 20px 10px 20px;
            font-family: 'Georgia', 'Arial';
            color: #393939;
            font-size: 15px;
            line-height: 20px;
        }

        #correlati a {
            color: #393939;
            text-decoration: underline;
        }

        #correlati h4 {
            font-family: 'sole_serif_headlinebold';
            color: #000;
            font-size: 25px;
            line-height: 29px;
            margin: 0;
            padding: 0 0 20px 0;
            text-transform: uppercase;
        }

        #correlati .separatore {
            height: 2px;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            overflow: hidden;
            padding: 0;
            margin: 0 0 20px 0;
        }

        #correlati ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #correlati ul li {
            margin: 0 0 20px 0;
            padding: 0;
            list-style: none;
        }

        section.footer {
            background: #416077;
            margin: 0;
            padding: 30px 15px;
            font-family: 'Arial';
            color: #fff;
            font-size: 13px;
            line-height: 15px;
        }

        section.footer h5 {
            font-family: 'Arial';
            color: #fff;
            font-size: 13px;
            line-height: 15px;
            margin: 0;
            padding: 0 0 30px 0;
            text-transform: uppercase;
        }

        section.footer a {
            color: #fff;
            text-decoration: underline;
        }

        /* ==========================================================================
        Helper classes
        ========================================================================== */

        .hidden {
            display: none;
            visibility: hidden;
        }

        .visuallyhidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }

        .invisible {
            visibility: hidden;
        }

        .clearfix:before, .clearfix:after {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        /* ==========================================================================
        Print styles
        ========================================================================== */

        @media print {
            *, *:before, *:after {
                background: transparent;
                color: #000;
                box-shadow: none;
                text-shadow: none;
            }

            a, a:visited {
                text-decoration: underline;
            }

                a[href]:after {
                    content: " (" attr(href) ")";
                }

            abbr[title]:after {
                content: " (" attr(title) ")";
            }

            a[href^="#"]:after, a[href^="javascript:"]:after {
                content: "";
            }

            pre, blockquote {
                border: 1px solid #999;
                page-break-inside: avoid;
            }

            thead {
                display: table-header-group;
            }

            tr, img {
                page-break-inside: avoid;
            }

            img {
                max-width: 100%;
            }

            p, h2, h3 {
                orphans: 3;
                widows: 3;
            }

            h2, h3 {
                page-break-after: avoid;
            }
        }


        /********************** / ARTICOLO.CSS *********************************************************************************/
    </style>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script src="https://cdn.ampproject.org/v0.js" async></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" async></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    <script async custom-element="amp-brightcove" src="https://cdn.ampproject.org/v0/amp-brightcove-0.1.js"></script>

</head>
<body>
<amp-analytics type="linkpulse">
        <script type="application/json">
            {
            "vars": {
            "id":"5acf0978e45a1da856a44e34"
            }
            }
        </script>
</amp-analytics>
 <amp-analytics type="googleanalytics">
        <script type="application/json">
            {
            "vars": {
                    "account": "UA-40827900-6"
                     },
            "triggers": {
                        "trackPageview": {
                                            "on": "visible",
                                            "request": "pageview"
                                          }
                        }
            }
        </script>
  </amp-analytics> 
    <!--<script type="text/javascript">_satellite.pageBottom();</script>-->
    <header>
        <a href="http://www.ilsole24ore.com"><amp-img src="/static/images/logo_header.png" alt="Il Sole 24 Ore" width="112" height="26"></amp-img></a>
    </header>    <center><amp-ad
            width="300"
            height="250"
            layout="fixed"
            type="doubleclick"
            data-slot="/57491254/sole24ore.com/italia/attualita/articoli/MPU_Top"></amp-ad>
    </center>
    <amp-user-notification
            layout="nodisplay"
            id="amp-user-notification1"
    >
        Questo sito utilizza cookie
        <a href="http://du.ilsole24ore.com/utenti/privacyfiles/informativa_cookies.html">Pi? informazioni</a>
        <button on="tap:amp-user-notification1.dismiss">Accetto</button>
    </amp-user-notification>
    
<!--

<center>
    <amp-ad width=1 height=1
            type="doubleclick"
            data-slot="/57491254/sole24ore.com/mondo/ros/Inread">
    </amp-ad>
</center>
-->


<div class="article-container">
    <!--here amp webtrekk-->
    <amp-analytics type="webtrekk">
        <script type="application/json">
            {
            "vars": {
            "trackDomain": "ilsole24oreitalia01.wt-eu02.net",
            "trackId": "988195797407130",
            "contentId": "AMP:Mondo:Europa:Articolo:Salvini accusa l&amp;#8217;Europa ma boicotta le riforme per evitare altri casi &amp;#8220;Sea Watch&amp;#8221; "
            },
            "triggers": {
            "trackPageview": {
            "on": "visible",
            "request": "pageview",
            "vars": {
            "pageCategory1": "AMP",
            "pageCategory2": "Mondo",
            "pageCategory3": "Europa",
            "pageParameter9": "Articolo"
            }
            }
            }
            }
        </script>
    </amp-analytics>
      <!--here amp nielsen-->
    <amp-analytics type="nielsen">
        <script type="application/json">
            {
            "vars": {
            "apid": "A0F2DC2B-1C0B-46D6-A62A-D6DA00C24B07",
            "prefix": "eu-",
            "apv": "1.0",
            "apn": "ilsole24ore.com",
            "section": "IlSole24ORE_AMP",
            "segA": "NA",
            "segB": "NA",
            "segC": "Google AMP"
            }
            }
        </script>
    </amp-analytics>
    <!-- end nielsen-->


    <!--en webtrekk-->
    <section id="titolo">

        <h2>Europa</h2>
        <h1>Salvini accusa l&#8217;Europa ma boicotta le riforme per evitare altri casi &#8220;Sea Watch&#8221;</h1>
        <div class="separatore"></div>

        <h3>
            di Alberto Magnani
            <br />
            30 Giugno 2019 
        </h3>

        <!-- -->
                <amp-img src="http://i2.res.24o.it/images2010/2019/06/ACMeuiV/images/fotohome1.jpg" layout="responsive" width="672" height="351" alt="" class="pad-bottom"></amp-img>

       <!-- -->


    </section>

    <article>
        <p> Il nuovo caso Sea Watch ha fornito l'assist a Matteo Salvini e Luigi Di Maio per un attacco alla Ue, accusata di ?fregarsene? della questione migratoria. E' vero che l'attuale legislazione in materia, il regolamento di Dublino, gioca a sfavore dei paesi del sud Europa come Italia e Grecia. Peccato che, a Bruxelles, il governo e gli eurodeputati dei partiti di maggioranza (Lega e Cinque stelle) abbiano sempre remato contro una riforma del testo, come dimostra questo articolo pubblicato sul Sole 24 Ore nel gennaio 2019 che abbiamo deciso di rilanciare </p> <p>«Otto o ottantotto, non autorizzerò nessuno a entrare in Italia». Il vicepremier Matteo Salvini ha messo in chiaro, da subito, che l?Italia non rientrerà fra i paesi Ue chiamati a dividersi l?accoglienza dei<a href="https://www.ilsole24ore.com/art/notizie/2019-01-09/tensione-governo-migranti-reddito-tav-ecco-nodi-che-dividono-lega-e-m5s-210630.shtml?uuid=AEUTmFCH"> <b>49 migranti intrappolati per 22 giorni nel Mediterraneo</b> </a>. Un caso che ha scatenato frizioni interne con i Cinque stelle e aperto l?ennesimo fronte fra Roma e le istituzioni europee. </p> <p> «A Bruxelles - ha scritto Salvini su Twitter - fanno finta di non capire e agevolano il lavoro di scafisti e Ong». Nulla di inedito. Se non fosse che proprio i rappresentanti della Lega a Bruxelles hanno remato contro quando si è trattato di riformare, in sede europea, i meccanismi di accoglienza sfavorevoli al nostro paese. </p> <p> <a href="https://www.ilsole24ore.com/art/il-regolamento-dublino-cos-e-e-perche-riforma-non-piace-salvini-AE5RzwzE"> <b>PER APPROFONDIRE: Cos?è il Regolamento di Dublino</b> </a> <br /> <br />L?Italia del governo gialloverde è fra i paesi che hanno affossato la revisione del regolamento di Dublino, il<a href="https://www.ilsole24ore.com/art/mondo/2018-06-04/il-regolamento-dublino-cos-e-e-perche-riforma-non-piace-salvini-114327.shtml?uuid=AE5RzwzE"> <b> testo che scarica quasi tutte le responsabilità di asilo sul paese di primo sbarco</b> </a>. Sia direttamente, <b> <a href="https://www.ilsole24ore.com/art/mondo/2018-06-05/migranti-7-paesi-dicono-no-riforma-dublino-130034.shtml?uuid=AElERQ0E">votando contro la sua approvazione</a> </b>, sia indirettamente. La Lega, ha denunciato più volte l?eurodeputata italiana Elly Schlein, non ha mai partecipato alle 22 riunioni negoziali per discutere una proposta di riforma che avrebbe previsto, fra le altre cose, l?eliminazione del principio di prima accoglienza (la regola che impone di inoltrare la domanda di asilo nel paese dove si approda, anche quando si è intenzionati a migrare altrove). L?ipotesi di un nuovo impianto legislativo è sempre risultata indigesta al blocco dei paesi dell?Est, contrari a qualsiasi apertura di accoglienza per migranti sbarcati sulle coste a sud del Continente. A quanto pare anche all?Italia e al governo di Salvini, volato ieri a Varsavia per saldare un?intesa in chiave elettorale fra le varie sigle nazionaliste europee.</p> <p> <b>La latitanza dei leghisti sul loro cavallo di battaglia</b> <br />La Lega, iscritta al gruppo di destra populista Europa delle Nazioni e della Libertà (Efn, lo stesso di Alternative für Deutschland e il Raggruppamento nazionale di Marine Le Pen), è arrivata nel 2014 a Bruxelles con un totale di cinque eurodeputati:?Matteo Salvini (sostituito nel 2018 da Danilo Oscar Lancini), Lorenzo Fontana (rimpiazzato sempre nel 2018 da Giancarlo Scottà), Gianluca Buonanno (scomparso nel 2016 e sostituito da Angelo Ciocca, diventato noto per aver calpestato la lettera di Bruxelles all?Italia), Mara Bizzotto e Mario Borghezio. Alle europee del 2019, secondo le stime della testata Politico, potrebbe esplodere fino a un picco di 27 seggi:?sopra ai 23 proiettati per il Movimento cinque stelle e i 15 del Pd, una fra le tante sigle del centrosinistra trascinate al ribasso dalla crisi che sta sgretolando la coalizione europea dei socialdemocratici. Il suo consenso non ha fatto altro che lievitare nei primi mesi di governo, alimentandosi anche nei bracci di ferro ingaggiati con l?Europa sul tema dell?immigrazione. A parole, almeno, perché?il bilancio dei fatti è un po? più scarno. Da un lato la retorica della «chiusura dei porti» sembra esercitarsi solo con le organizzazioni non governative, visto che nell?arco di cinque mesi si sono registrati oltre 3.200 sbarchi (<a href="https://www.ilsole24ore.com/art/notizie/2019-01-03/sea-watch-e-sea-eye-salvini-contro-49-migranti-ma-dicembre-ne-sono-entrati-triplo-124628.shtml?uuid=AExKTn8G"> <b>359 solo a dicembre)</b> </a>. Dall?altro, come scritto sopra, il partito ha deciso di tenersi al di fuori dei tentativi di riforma del cosiddetto Dublino III, un impianto preso di mira anche dal contratto del cambiamento siglato fra Lega e Cinque stelle.</p> <p> <a href="/xml/ACLU2cV.xml">LEGGI / Tutte le volte che Salvini e la Lega hanno invocato la disobbedienza alle leggi </a> </p> <p>In che senso la Lega ha «saltato a piè pari» i lavori per la riforma, come ribadisce Schlein al Sole 24 Ore? Facciamo un passo indietro. Nel 2016 la Commissione, il motore legislativo della Ue, ha proposto una riforma del sistema di protezione internazionale per superare la legislazione vigente. Nel 2017 il testo è passato al Parlamento, secondo l?iter che prevede l?esame da parte del parlamento stesso e del Consiglio europeo. L?assemblea, sempre secondo la prassi, ha nominato a suna volta una relatrice (la liberale Cecilia Wikström), responsabile per l?elaborazione di un progetto di relazione con emendamenti al testo dei commissari. Il lavoro del relatore è affiancato in questi casi da <b> <a href="http://www.europarl.europa.eu/pdfs/news/expert/background/20171019BKG86403/20171019BKG86403_en.pdf#page=7">una serie di relatori ombra </a> </b>(shadow rapporteur)<b> <a href="http://www.europarl.europa.eu/pdfs/news/expert/background/20171019BKG86403/20171019BKG86403_en.pdf#page=7"> </a></b> , in genere indicati da ciascun gruppo parlamentare per difendere le proprie posizioni e avanzare emendamenti. Vista la posta in palio, le trattative hanno richiesto un totale di ben 22 round di negoziati. Al tavolo hanno presenziato anche deputate dei Cinque stelle (Laura Ferrara, in rappresentanza del gruppo europeo di appartenza del suo partito:?Europa della Libertà e della Democrazia Diretta) e di destra (Alessandra Mussolini, all?epoca tra le file di Forza Italia e del Partito popolare europeo). Ma fra le assenze più clamorose si è registrata proprio quella della Lega:?la sua famiglia politica europea, Efn, non ha espresso alcun relatore ombra, disertando così l?intero lavoro di riforma della questione migratoria. <br />  </p> <p> <b>La via dell?astensione</b> <br />Come ha registrato anche Pagella Politica, un blog di fact-checking, gli unici emendamenti in quota leghista sono arrivati dall?attuale ministro della Famiglia Lorenzo Fontana, eletto all?europarlamento prima della convocazione nel governo di Giuseppe Conte. Un suo portavoce ha dichiarato, sempre a Pagella Politica, che la scelta di non presenziare va attribuita al gruppo politico europeo e non alla Lega. «Ma è una posizione assurda - dice al Sole 24 Ore l?eurodeputata Elly Schlein - si parla di una riforma su un tema core e non ti presenti? Posso capire la Francia della Le Pen, a cui va benissimo che non ci siano solidarietà sul primo sbarco. Ma l?Italia?». L?assenza della Lega si è confermata anche il giorno del voto, il 16 novembre 2017, quando il Parlamento ha dato il via libera alla proposta del Parlamento con 390 sì, 175 no e 44 astenuti. Fra le ?schede bianche? c?erano quella di Fontana e di tutti gli eurodeputati leghisti, mentre fra i voti contrari spiccano quello di un futuro alleato di governo: i Cinque stelle. Nonostante la presenza di Ferrara fra i relatori-ombra, il movimento ha bocciato la proposta di riforma del parlamento . Raggiunto dal Sole 24 Ore, un portavoce del Movimento cinque stelle ricorda che il gruppo si è espresso contro la riforma perché?penalizzata da «troppi filtri che appesantiscono la procedura e mettono un peso eccessivo sugli Stati membri di primo arrivo». La posizione è ribadita anche dall?europarlamentare Ignazio Corrao, con un <b> <a href="https://www.facebook.com/CorraoM5S/posts/2296385560388592?__tn__=-R">post su Facebook che difende la linea del Cinque stelle</a> </b>. Assestando, però, anche un ceffone agli alleati di governo:?«L'accusa di Elly Schlein sul fatto che la Lega è stata assente a tutti i 22 incontri per riformare i regolamento di Dublino si basa su fatti assolutamente veri - ha scritto - Così come è assolutamente vero e dimostrabile che in generale la Lega (tra cui Salvini che è stato eurodeputato per tanti anni e fino a qualche mese fa), non partecipa ai lavori legislativi qui al Parlamento Europeo».</p> <p> <b>L?autogol dell?alleanza con i paesi dell?Est</b> <br />Del resto, «l?astensione attiva» della Lega sulla riforma del sistema di asilo si sposa con le scelte di alleanze dispiegate in vista delle europee. Il 9 gennaio Matteo Salvini ha annunciato da Varsavia <b> <a href="https://www.ilsole24ore.com/art/mondo/2019-01-09/salvini-polonia-asse-sovranista-le-europee-alleanza-m5s-non-necessaria-185700.shtml?uuid=AEOnXFCH">«l?inizio di un dialogo» con il partito di destra polacco Diritto e Giustizia</a> </b>, primo tassello di un progetto di intese internazionali con le forze sovraniste del Vecchio continente. Salvini coltiva da tempo un certo feeling con il primo ministro ungherese Viktor Orban, leader ideale del blocco di Visegrad e dei<b> <a href="https://www.ilsole24ore.com/art/mondo/2018-07-07/migranti-e-sovranismo-cosi-l-internazionale-nera-tiene-ostaggio-partito-popolare-123625.shtml?uuid=AEvofbIF"> partiti nazionalisti che predicano la chiusura delle frontiere</a> </b>. Il paradosso è che uno dei principali collanti fra i due, l?ostilità all?immigrazione, si declina su esigenze del tutto incompatibili:?Salvini chiede una maggiore solidarietà dell?Europa, Orban non ha nessuna intenzione di aprire le sue frontiere ai migranti sbarcati nei paesi di primo approdo (e ha occasionalmente bacchettato l?Italia sul rispetto dei parametri di bilancio Ue). Eppure l?Italia resta allineata a Budapest, anteponendo alle sue stesse esigenze l?ositilità in comune ai «burocrati di Bruxelles». In una eventuale alleanza sovranista, uno dei punti più fragili finirebbe così per essere quello sui migranti. L?Italia, dove gli sbarchi sono comunque in caduta libera, lamenta la scarsa cooperazione dell?Europa nella gestione degli ingressi. I paesi candidati all?alleanza sovranista, dall?Est al Nord Europa, non hanno concesso spiragli neppure sulla ridistribuzione di quote di migranti in eccesso dai paesi più esposti. </p>
    </article>

    <!--<section id="correlati">
        <h4>Articoli Correlati</h4>
        <div class="separatore"></div>
        <ul>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
            <li><a href="#">Lorem ipsum sator arepo tenet opera rotas</a></li>
        </ul>
    </section>-->

    <section class="footer">
        <a href="http://www.ilsole24ore.com/art/salvini-accusa-l-europa-ma-boicotta-riforme-evitare-altri-casi-sea-watch-ACMeuiV"><h5>Vai al sito</h5></a>
    </section>

</div>

<amp-iframe width="1" height="1"
            sandbox="allow-scripts allow-same-origin"
            frameborder="0"
            src="https://du.ilsole24ore.com/utenti/dtm.html?nav=Mondo:Europa:Salvini%20accusa%20l%26%238217%3BEuropa%20ma%20boicotta%20le%20riforme%20per%20evitare%20altri%20casi%20%26%238220%3BSea%20Watch%26%238221%3B">
</amp-iframe>

    
    
    <footer>
        <h3 id="footerCR">2019 Copyright </h3>
        <amp-img src="/static/images/logo_header.png" alt="Il Sole 24 Ore" width="112" height="26"></amp-img>
        <h3>Tutti i diritti riservati</h3>
        <a href="http://du.ilsole24ore.com/utenti/privacyfiles/informativa_cookies.html">
            Informativa estesa sull'utilizzo dei cookie
        </a>
    </footer></body>
</html>