/* cyrillic-ext */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada Regular'), local('Scada-Regular'), url(http://fonts.gstatic.com/s/scada/v5/M05ewajnczKfOPgaRULZgw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada Regular'), local('Scada-Regular'), url(http://fonts.gstatic.com/s/scada/v5/4V2xlVZXPBAtjb_L2VYlOg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada Regular'), local('Scada-Regular'), url(http://fonts.gstatic.com/s/scada/v5/eHF4KKeSCcrmp9P5oMFqsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada Regular'), local('Scada-Regular'), url(http://fonts.gstatic.com/s/scada/v5/E0waVAszb-SujpxhAtSawg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 700;
  src: local('Scada Bold'), local('Scada-Bold'), url(http://fonts.gstatic.com/s/scada/v5/aFV7_ZPMb5fNd2ztd7tStBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 700;
  src: local('Scada Bold'), local('Scada-Bold'), url(http://fonts.gstatic.com/s/scada/v5/LTpk59254jTJjfuPaPglkBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 700;
  src: local('Scada Bold'), local('Scada-Bold'), url(http://fonts.gstatic.com/s/scada/v5/FO3721XO0fjw14wb89oLbhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 700;
  src: local('Scada Bold'), local('Scada-Bold'), url(http://fonts.gstatic.com/s/scada/v5/9zpfvsizuBBpRE5si-FM8PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 400;
  src: local('Scada Italic'), local('Scada-Italic'), url(http://fonts.gstatic.com/s/scada/v5/sR7xTOgvbbA1Z9O6pytUl_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 400;
  src: local('Scada Italic'), local('Scada-Italic'), url(http://fonts.gstatic.com/s/scada/v5/5Q1HQO9AYQ-pEmPOoxSviPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 400;
  src: local('Scada Italic'), local('Scada-Italic'), url(http://fonts.gstatic.com/s/scada/v5/FH5UcNJ4KYfHqaVIwSNdYPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 400;
  src: local('Scada Italic'), local('Scada-Italic'), url(http://fonts.gstatic.com/s/scada/v5/lbzAiejPhHsTJpDisUOBGw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 700;
  src: local('Scada Bold Italic'), local('Scada-BoldItalic'), url(http://fonts.gstatic.com/s/scada/v5/mDGn81r4mzjmLD1EVKqPdiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 700;
  src: local('Scada Bold Italic'), local('Scada-BoldItalic'), url(http://fonts.gstatic.com/s/scada/v5/3875EdM-9ys3OtdHL2b2gyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 700;
  src: local('Scada Bold Italic'), local('Scada-BoldItalic'), url(http://fonts.gstatic.com/s/scada/v5/lRs2lIQpIoH5-TfaZbS6RiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 700;
  src: local('Scada Bold Italic'), local('Scada-BoldItalic'), url(http://fonts.gstatic.com/s/scada/v5/O8gffeUUeUUuRx0yJFGiX_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
