@charset "utf-8";
.listing_table_titolo {
    display: block;
    float: right;
    margin-top: -40px;
    text-align: right;
    /*width: 100%; commentato per il rimuovi filtri su chrome*/

}
.listing_titolo {
	color: #0b284f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	margin-top: 20px;
	width: 100%;
}
.page_category_title{
	position: relative;
}


.listing_filtri {
	color: #0b284f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	white-space: nowrap;
	padding-left: 5px;
	vertical-align: middle;
	padding-bottom: 3px;
}
.listing_table_titolo div {
	display: table-cell;
}
.listing_filtri_dinamici {
	/*margin-top: 20px;*/
	display: table;
	width: 100%;
	border-left: solid 1px #d2d2d2;
	border-right: solid 1px #d2d2d2;
	border-top: solid 1px #d2d2d2;
}

.hide_filter_box{
	display: none;
}

.listing_filtri_dinamici_colonna {
	display: table-cell;
	height: 190px;
	border-right: solid 1px #d2d2d2;
	background-image: url(../images/listing/sfondo_filtri_dinamici.png);
	background-position: left bottom;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	width: 320px;
	vertical-align: top;
	padding-top:20px;


}
.no_border_right {
	border-right: none;
}
.listing_filtri_dinamici_titolo {
	color: #0b284f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	white-space: nowrap;
	padding-bottom: 10px;
}
.listing_filtri_dinamici_colonna table {
	margin-top: -2px;
	margin-left: 2px;
	vertical-align: top;
}

#listing_filtri_ricerca ul {
	margin-left: 30px;
}

listing_filtri_dinamici_6 ul {
	margin-left: 10px;
}

.listing_filtri_dinamici_testo {
	color: #7c7c7c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left:7px;

}

.listing_filtri_dinamici_testo h3{
	float:left;
	height: 35px;
}

.imageTitleFilter {
	float:left;
	padding-right:3px;
}
.listing_filtri_dinamici_testo ul{
	float:left;
	margin-top:5px;
	margin-left:30px;
	margin-bottom:7px;
	width: 100%;
}
.listing_filtri_dinamici_testo li{
	padding-left:5px;
	padding-right:25px;
}

.SliderCustomLabel {
	color: #0b284f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

ish-pageNavigation-filters-filter-selected a{
	color: #417cc0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left:0px;
}


.listing_filtri_dinamici_testo_selezionato {
	color: #417cc0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.listing_filtri_dinamici_icona {
	width: 0px;
	text-align: left;
}


.hide_filter_ent{
	display:none;
}

.ShowMoreFilterEnt {
	margin-top: 5px;
	margin-bottom: -6px;
	padding-left: 36px;
	width:110px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5578BD;
	font-weight:bold;
	cursor:pointer;
}

.ShowMoreFilterEnt div{
	font-weight:bold;
}

.listing_filtri_ricerca {
	background-image: url(../images/listing/sfondo_filtri_ricerca.png);
	background-position: left bottom;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	display: table;
	width: 100%;
	height: 65px;
	border: solid 1px #d2d2d2;
}
.listing_filtri_ricerca_colonna {
	display: table-cell;
	vertical-align: middle;
	padding-top: 10px;
}
.listing_filtri_ricerca_titolo {
	color: #0b284f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	padding-left: 10px;
	padding-right: 10px;
	width: 1%;
	white-space: nowrap;
}
.grigio {
	color: #7c7c7c;
}
.listing_filtri_ricerca_marca {
	width: 160px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #417cc0;
	background-image: url(../images/listing/tema_select_marca.png);
	background-color: transparent;
	border: 1px solid;
	border-radius: 0;
	-webkit-appearance: none;
	padding-left: 10px;
}

.safari .listing_filtri_ricerca_marca{
	width: 160px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #417cc0;
	background-image: url(../images/listing/tema_select_marca.png);
	background-color: transparent;
	border: 1px solid;
	border-radius: 0;
	padding-left: 10px;
}
.listing_filtri_ricerca_fan_filtri_ricerca_colonna {
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: transparent;
	border-radius: 0;
	-webkit-appearance: none;
	padding-left: 25px;
}
.listing_filtri_ricerca_slider {
	width: 40%;
	padding-right: 20px;
	padding-left: 10px;
}

.listing_filtri_ricerca_slider_fan {
	width: 133px;
	padding-right: 20px;
	padding-left: 10px;
}

.listing_risultati_prodotti .ish-priceContainer-salePrice{
	font-size:40px;
	height: 50px;
}

.listing_risultati_prodotti .ish-priceContainer-salePrice .euro_Size{
	font-size:24px;
}


.spaziatore_cella {
	width: 15px;
	display: table-cell;
}
.listing_risultati_colonne {
	display: table;
	margin-top: 45px;
	width: 100%;
}
.listing_risultati_colonna_1 {
	display: table-cell;
	width: 730px;
	vertical-align: top;
}
.listing_risultati_colonna_2 {
	display: table-cell;
	width: 230px;
	vertical-align: top;
}
.listing_risultati_table {
	display: table;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: solid 1px #d2d2d2;
}
.listing_risultati_table div {
	display: table-cell;
}
.listing_risultati_titolo {
	color: #1f2957;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	width: 100%;
}
.listing_risultati_ordina {
	color: #1f2957;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	white-space: nowrap;
	padding-right: 20px;
}
.listing_risultati_filtro {
	width: 175px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5578bd;
	background-color: transparent;
	border: solid 1px #b8b8b8;
	border-radius: 0;
	-webkit-appearance: none;
	padding-left: 10px;
	background-image: url(../images/listing/sfondo_dropdown_risultati.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.listing_vetrina {
	/*height:200px;*/
	margin-bottom: 22px;
}
.bordo_basso {
	border-bottom: solid 1px #d2d2d2;
}
.listing_prodotto_recente {
	width: 100%;
	display: table;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px #d2d2d2;
}
.listing_recensioni_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #213366;
	padding-top: 25px;
}
.listing_recensioni_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #7c7c7c;
	padding-top: 5px;
}
.listing_recensioni_3 {
	padding-bottom: 25px;
	padding-top: 10px;
}
.listing_recensioni_veditutti {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6286c5;
	padding-top: 18px;
	padding-bottom: 40px;
}
.listing_box {
	border: solid 1px #e0e0e0;
	width: 228px;
	margin-bottom: 10px;
}
.listing_news {
	padding-top: 40px
}
#listing_filtri_dinamici {
	/*display: none;*/
	display: block;
	min-height:190px;
	min-height:190px;
}

#listing_filtri_dinamici_9 div {
	width: 160px;
}

/*passato da 320 a 160*/
.listing_filtri_dinamici_6 div {
	vertical-align: top;
}


.listing_filtri_dinamici_1 {
	width: 100%;
	vertical-align: top;
}


.listing_filtri_dinamici_2 {
	/*width: 480px;*/
	vertical-align: top;
}


.listing_filtri_dinamici_3 {
	/*width: 320px;*/
	vertical-align: top;
}

.listing_filtri_dinamici_4 {
	/*width: 240px;*/
	vertical-align: top;
}

.listing_filtri_dinamici_5 {
	/*width: 192px;*/
	vertical-align: top;
}

.listing_filtri_dinamici_6 {
	/*width: 160px;*/
	vertical-align: top;
	padding-bottom:13px;
}

.bordernull {
	border: none;
}


.listing_risultati_prodotto {
	padding-top: 45px;
	padding-bottom: 25px;
	width: 700px;
	border-bottom: solid 1px #d2d2d2;
	position: relative;
}
.listing_risultati_prodotto_foto {
	display: table-cell;
	width: 160px;
	vertical-align: middle;
	text-align: center;
}
.listing_risultati_prodotto_descrizione {
	display: table-cell;
	padding-left: 30px;
}
.listing_risultati_prodotto_prezzo {
	display: table-cell;
	vertical-align: bottom;
	width: 110px;
}
.listing_risultati_prodotto_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #7c7c7c;
}
.listing_risultati_prodotto_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #16254f;
}
.listing_risultati_prodotto_3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #16254f;
	margin-bottom: 15px;
	min-height: 55px;
}
.first-col .listing_risultati_prodotto_3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #16254f;
	margin-bottom: 3px;
	min-height: 55px;
}
.listing_risultati_prodotto_4 {
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5578bd;
}
.listing_risultati_prodotto_5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5578bd;
	font-weight: bold;
	padding-top: 15px;
}
.listing_risultati_prodotto_5 img {
	padding-right: 5px;
}
.listing_risultati_prodotto_6 {
	font-family: 'Anton', Arial, Helvetica, sans-serif;
	font-size: 33px;
	color: #da0015;
}
.listing_risultati_prodotto_6_piccolo {
	font-size: 18px;
}
.listing_risultati_prodotto_7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #7c7c7c;
	text-decoration: line-through;
}
.listing_risultati_prodotto_8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1f2754;
}
.listing_risultati_prodotto_9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1f2754;
	margin-top: 30px;
	margin-bottom: 10px;
}
.listing_risultati_prodotto_9_no {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5e5e5e;
	margin-top: 30px;
	margin-bottom: 10px;
}
.listing_risultati_prodotto_banner {
	margin-top: 50px;
}
.listing_risultati_prodotto_banner img {
	border: solid 1px #dddddd;
}

.listing_risultati_prodotto_paginazione {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #a5a6a7;
}
.listing_risultati_prodotto_paginazione {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: right;
	width: 670px;
	margin-top: 30px;
}
.paginazione_off {
	color: #a5a6a7;
	padding-left: 10px;
}
.paginazione_on {
	color: #5578bd;
	padding-left: 10px;
}
.listing_risultati_prodotto_anteprima {
	position: absolute;
	width: 700px;
	border: solid 1px #c9c9c9;
	top: 20px;
	z-index: 20;
	display: none;
}
.listing_risultati_prodotto_anteprima_separatore {
	margin-top: 202px;
}
.listing_risultati_prodotto_anteprima_dettaglio {
	background-color: #fff;
	min-height: 425px;
	background-image: url(../images/listing/sfondo_anteprima.png);
	background-repeat: repeat-x;
	background-position: bottom;
	display: table;
	width: 100%;
}
.listing_risultati_prodotto_anteprima_dettaglio_colonna1 {
	padding-top: 108px;
	width: 190px;
	display: table-cell;
	vertical-align: top;
}
.listing_risultati_prodotto_anteprima_dettaglio_colonna1 table {
	margin-left: 25px;
}
.listing_risultati_prodotto_anteprima_dettaglio_colonna2 {
	width: 275px;
	display: table-cell;
	padding-top: 30px;
	vertical-align: top;
}
.listing_risultati_prodotto_anteprima_dettaglio_colonna3 {
	padding-top: 110px;
	padding-left: 55px;
	display: table-cell;
	vertical-align: top;
}
.listing_risultati_prodotto_anteprima_footer {
	background-image: url(../Immagini/listing/sfondo_anteprima_footer.png);
	background-repeat: repeat-x;
	height: 48px;
	border-top: solid 1px #c9c9c9;
	color: #5578bd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.listing_risultati_prodotto_anteprima_footer table {
	margin-top: 15px;
}
.listing_risultati_prodotto_anteprima_footer img {
	padding-right: 5px;
	padding-left: 15px;
}
.listing_risultati_prodotto_anteprima_titolo {
	color: #0b284f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
}
.listing_risultati_prodotto_anteprima_descrizione {
	color: #7c7c7c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 30px;
}
.listing_risultati_prodotto_anteprima_servizi_1 {
	color: #0b284f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.listing_risultati_prodotto_anteprima_servizi_1 input {
	position: relative;
	left: -3px;
	top: 2px;
}
.listing_risultati_prodotto_anteprima_servizi_2 {
	color: #848484;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.listing_risultati_prodotto_anteprima_servizi_3 {
	color: #5578bd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.listing_risultati_prodotto_anteprima_servizi_4 {
	padding-top: 35px;
	padding-bottom: 15px;
}
.listing_risultati_prodotto_anteprima_footer_1 {
	display: table-cell;
}
.prodotto_popup {
	position: relative;
	width: 100%;
	display: table;
}
#popup_avviso {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 100;
	display: none;
}
#popup_carrello {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 100;
	display: none;
}
.listing_popup_corpo {
	width: 550px;
	height: 280px;
	background-color: #fff;
	position: fixed;
	margin: -140px 0 0 -275px;
	left: 50%;
	top: 50%;
}
.listing_popup_chiudi {
	text-align: right;
	padding: 10px;
}
.listing_popup_testo {
	color: #16254f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	padding-left: 40px;
	padding-top: 30px;
}
.listing_popup_testo2 {
	color: #16254f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 40px;
	padding-top: 5px;
}
.listing_popup_tabella {
	padding-left: 40px;
	padding-top: 20px;
}
.listing_popup_tabella2 {
	margin-left: 40px;
	margin-top: 5px;
	padding-bottom: 30px;
	margin-bottom: 18px;
	border-bottom: solid 1px #d2d2d2;
}
.listing_popup_tabella3 {
	margin-left: 40px;
}
.listing_input {
	width: 205px;
	height: 35px;
	background-image: url(../Immagini/listing/sfondo_input.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.listing_input input[type=text] {
	background-color: transparent;
	border: none;
	color: #6c6c6c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 15px;
	height: 35px;
	width: 190px;
}
.listing_popup_testo3 {
	color: #16254f;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: 0 0 1px rgba(143,181,42,0.3);
	padding-left: 15px;
}
.listing_popup_testo4 {
	color: #16254f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 5px;
}
.listing_shopping {
	width: 250px;
}
.listing_cassa {
	width: 204px;
	height: 34px;
	background-image: url(../Immagini/listing/sfondo_carrello_cassa.png);
	background-repeat: no-repeat;
}
.listing_cassa div{
	color: #fff;
	font-family: 'FuturaMdBTBold', Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding-left: 50px;
	padding-top: 7px;
}

.category-description{
	margin-top: 5px;
	margin-bottom: 5px;

}
.category-description h2{
	color: #152D5B;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
.render-subcategories
{
	MARGIN-TOP: 20px;
	float: left;
}
.render-right-column
{
	float: right;
}

.render-category-products
{
	/* width: 100%; */
	float: left;
	margin-top: 39px;
}

.ish-pageNavigation-filters-filter-selected {
	color: #5578bd;
	margin-left:-20px;
}

.ish-pageNavigation-filters-filter-selected a{
	color: #5578bd !important;
	font-weight: bold;
}

.ish-pageNavigation-filters-filter-item a{
	color: gray;
    font-family: arial;
    font-weight: bold;
}

.ish-pageNavigation-filters-filter-item a:hover{
	color: gray;
    font-family: arial;
    font-weight: bold;
}

.listing_filtri_dinamici_testo .ish-pageNavigation-filters-filter-item li {
	padding-bottom:4px;
}


.listing_filtri_dinamici_testo h3{
	color: #0B284F;
    font-family: 'FuturaMdBTBold',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 13px;
    padding-bottom: 5px;
    text-shadow: 0 0 1px rgba(143, 181, 42, 0.3);
    white-space: normal;
    /*padding-top: 5px;*/
    /*padding-left: 5px;*/
    padding-left:2px;
    width: 70%;
}

.ish-pageNavigation-filters-filter-clear {
    float: left;
    margin-right: 5px;
    padding-right: 5px;
}
.filterSpacer {
    width: 10px;
}


.listing_risultati_prodotto_4 a, listing_risultati_prodotto_5 a.listing2 a {
    color: #5578bd;
    display: block;
    font-family: futuramdbtbold, Arial,Helvetica,sans-serif;
    font-size: 12px;
    //font-weight: bold;
    line-height: 18px;
    white-space: nowrap;
}

/* style for Anteprima link */
.listing_risultati_prodotto_5 a{
	color: #5578bd;
	font-family: futuramdbtbold, Arial,Helvetica,sans-serif;
	font-size: 11px;
	/* requested removal */
	display:none;
}


.listing .title a {
    color: #212958;
    font-family: "FuturaMdBTBold";
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.listing .main_visual_menu_espanso_corpo_sottocategoria{
	padding-top:15px;
	padding-bottom:5px;
}

.listing .main_visual_menu_espanso_corpo_sottocategoria_tutti{
	padding-top:10px;
	padding-bottom:30px;
}


.listing .main_visual_menu_espanso_corpo_sottocategoria a {
    color: #5578bd;
    font-family: sans-serif,Arial,Helvetica,sans-serif;
    font-size: 13px;
    white-space: nowrap;
    font-weight: bold;
    /*font-weight: normal;*/
    text-transform: capitalize;
    padding-left:45px;

}

.listing .main_visual_menu_espanso_corpo_sottocategoria_tutti a {
    color: #5578bd;
    font-family: sans-serif,Arial,Helvetica,sans-serif;
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
    /*font-weight: normal;*/
    text-transform: capitalize;
    padding-left:45px;

}


#main_visual_contenuto {
    background-color: #0B284F;
    height: 325px;
    width: 100%;
}
.lof-main-outer {
    overflow: hidden;
    position: relative;
}

.lof-slidecontent, .lof-slidecontent a {
    color: #FFFFFF;
}
.listing_categorie_prodotto_banner {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 35px;
}
.listing_categorie_prodotto_banner img{
    border: 1px solid #DDDDDD;
}

/* SMCCCategoryViewBestSellers.isml */
.listing1-bestseller{
 	/*position: relative;*/
    top: 20px;
    width: 720px;

}
.listing1-bestseller-title{
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 10px;
    padding-bottom: 10px;
}
.listing1-bestseller-productcontainer{
	float: left;
	width: 720px;
}
.listing1-bestseller-productslot{
	float:left;
	width: 33%;
	height: 530px;
}
.listing1-bestseller-productpaginator{
	clear:both;
	border-top: 1px solid #d2d2d2;
}
.listing1-bestseller-paginator{
	color: #7D7D7D;
    float: right;
    font-family: arial,sans-serif;
    margin-top: 10px;
}
.listing1-bestseller-paginator a{
	margin:0 5px;
	font-family: arial, sans-serif;
	cursor:pointer;
}
.listing-bestseller-paginator a:hover{
	color:#7d7d7d;
}
.listing1-bestseller-page-inactive{
	color:#5578BD;
	text-decoration: none;
}
.listing1-bestseller-page-active{
	color:#7d7d7d;
	text-decoration: none;
}

/* EO SMCCCategoryViewBestSellers.isml */

/* IncCategoryProducts.isml */
.smcc-listing-risultati-prodotto{
	border-bottom: 1px solid #D2D2D2;
    min-height: 200px;
    float:left;
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    position: relative;
    margin-bottom: 8px;



}

.listing-border-promotion

{
	border: 2px solid #DA0015;
	/*border-left: 12px solid #0c2850;*/
}

.listing-border-promotion-with-previous-promotion
{
	border: 2px solid #DA0015;
	/*border-left: 12px solid #0c2850;*/
	/*border-top: 0px solid #0c2850;*/
}

.listing-promotion-band {
    color:#fff;
    font-size: 12px;
    position:absolute;
    background-color: #DA0015;
    background-image: url(../images/listing/InPromozione2.png);
    background-repeat: no-repeat;
    background-position: center center;
    left: 0px;
    text-align:center;
    z-index:100;
    width: 15px;
    top: 0px;
    font-family: "FuturaMdBTBold",Arial,Helvetica,sans-serif;

    min-height:100%;

}



.product-photo{
	/*width: 196px;
	height: 196px;
	float:left;*/
	position:relative;
    display:flex;
    margin: auto;
    justify-content: center;
    flex-flow: row wrap;
    }

.smcc-listing-risultati-prodotto .product-photo .vetrina_flag{
	float: right;
    right: 26px;
    position: absolute;
    top: -10px;
    width: 55px;
}
.product-text{
	float: left;
    /*width: 504px;*/
}
.product-text .first-row, .product-text .second-row{
	float: left;
    /*width: inherit;*/
}
.product-text .first-row .product-description{
	float:left;
	/*width: 320px;*/
}


.product-description div:nth-child(3){
	text-align: justify;
}
.product-text .first-row .product-price{
	float: right;
    /*margin-left: 40px;*/
    margin-top: 15px;
}

.product-text .first-col, .product-text .second-row{
	float: left;
	padding-left:15px;
}
.product-text .first-col .product-description{
	/*float:left;*/
	/*width: 320px;*/
}


.product-text .second-col{
	float:right;
	/*width: 166px;*/
	padding-left:0px;
	padding-right:3px;
}

.product-description div:nth-child(3){
	text-align: justify;
}
.product-text .first-row .product-price{
	float: right;
    /*margin-left: 40px;*/
    margin-top: 15px;
}

/*
.smcc-listing-risultati-prodotto .product-text .first-row .product-price .ish-priceContainer-valid{
	display:none !important;
}
*/


.second-row .upper-row, .second-row .lower-row{
	float: left;
    width: inherit;
}
.vai-alla-scheda{
	float:left;
	width:25%;
}
.first-col .vai-alla-scheda{
	float:left;
	clear:right;
	width:100%;
}
.vai-alla-scheda a{
	color: #5578BD;
    font-family: futuramdbtbold,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}
.vai-alla-scheda a:focus{
	text-decoration: none;
	font-weight: normal;
}
.punti-fan{
	float:left;
	width:50%;
}
.first-col .punti-fan{
	margin-top:8px;
	float:left;
	width:100%;
}

.first-col .punti-fan div{
	margin-left: 0;
    margin-right: auto;
    padding-top: 4px;

}
.punti-fan div{
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

.punti-fan div{
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

.second-col .availability{
	color: #1F2754;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 0px;
}

.second-col .availability .few{
	color: #da0015;
	float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 0px;
}

.availability{
	color: #1F2754;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 4px;
}

.vetrina_terzariga_colonna .availability{
	margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.availability .few{
	color: #da0015;
	float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.preview-link{
	float:left;
	width:25%;
}
.preview-link a{
	display:none;
	color: #5578BD;
    display: none;
    font-family: futuramdbtbold,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top:5px;
}

.preview-link a:focus{
	font-weight: normal;
	text-decoration: none;

}

.reviews{
	float:left;
	width:50%;
}

.reviews-container{
	margin-top:20px;
 	margin-left: 35px;
}

.first-col .reviews{
	float:left;
	width:100%;
	text-align: left;
	margin-top:2px;
}

.first-col .reviews-container{
	margin-top:2px;
 	margin-left: 0px;
}


.GSAResult .reviews-container{
	margin-top:10px;
 	margin-left: 0px;
}

.GSAResult .preview-link{
	display: none;
}

.reviews-container .ish-productRatingStars{
	display:inline-block;
}
.reviews-container .ish-productRating-totalRatings{
	padding:0;
}

.second-col .buy-product{
	float: left;
    margin-left: 0px;
    margin-top: 15px;
}

.buy-product{
	float: right;
    margin-left: 4px;
    margin-top: 15px;
}

.safari .buy-product{
	margin-left:0px;
}

.chrome .buy-product{
	margin-left:0px;
}

.ie .buy-product{
	float: left;
    margin-left: 0px;
    margin-top: 15px;

}

.display-product-shortdescription{
	line-height: 17px;
}

/* -------------------------*/
/* START Anteprima Prodotto */
/* -------------------------*/
.hideAnteprima{
	display:none !important;
}

.Anteprima{
	display:inline-block;
	margin-top:4px;
	width: 710px;
}

.selectedAnteprima{
	border: 1px solid #D2D2D2;
    box-shadow: 0 0 10px #D2D2D2;
    padding-bottom: 0;
   	width: 710px;
}

.Anteprima .anteprima-content{
	background-image: url(../images/listing/sfondo_anteprima.png);
	background-repeat: repeat-x;
	background-position: bottom;
	min-height: 250px;
	padding-bottom:30px;
}

.Anteprima .multiphoto{
	width: 190px;
	float:left;
}

.Anteprima .multiphoto > ul{
left: 20px;
   position: relative;
   text-align: center;
}

.Anteprima .multiphoto .list-image-product{
	float: left;
	display: block;
 }

.Anteprima .description{
	width: 275px;
	float:left;
}

.Anteprima .description-large{
	width: 465px;
	float:left;
}

.Anteprima .top-short-description{
	color: #0B284F;
    font-family: 'futuramdbtbold',Arial,Helvetica,sans-serif;
    font-size: 18px;
    text-shadow: 0 0 1px rgba(143, 181, 42, 0.3);
}

.Anteprima .bottom-long-description{
	color: #7C7C7C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-top: 30px;
}

.Anteprima .services{
	float: right;
    padding-left: 10px;
    width: 225px;
}

.Anteprima .ish-productWarranty .ish-productWarranty-widget{
	padding-top:0;
	padding-bottom: 20px;
}

.Anteprima .anteprima-footer{
	background-image: url(../images/listing/sfondo_anteprima_footer.png);
	background-repeat: repeat-x;
	height: 48px;
	border-top: solid 1px #c9c9c9;
	color: #5578bd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.ULCntnr{
	list-style-type: none;
	overflow: hidden;
	margin-top: 14px;
}

.ULCntnr li{
	float:left;
	margin:0 30px;
}

.ULCntnr li.facebook {
    margin-left: 0;
    margin-right: 0;
}

.ULCntnr li img{
	vertical-align: middle;
}

.anteprima_wishlist_button{
	border: medium none;
    color: #5578BD !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: none;
}

.anteprima_wishlist_button:hover{
	color: #d00321 !important;
}

.anteprima_confronta_button{
 	color: #5578BD;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
    text-transform: none;
}

.anteprima_recensione_button{
	color: #5578BD;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
    text-transform: none;
}

.anteprima_recensione_button:hover{
	color: #d00321;
}
/* EO Anteprima Prodotto */


/* -------------------------------------------------------*/
/* START Ricerca prodotto without Google Search Preference*/
/* -------------------------------------------------------*/
#Products .kor-tabset-content-contents {
    margin: 0 auto;
    width: 1130px;
}

#Products .ish-search-productList .smcc-listing-risultati-prodotto .upper-row .punti-fan {
    float: none;
}

#Products .ish-search-productList .smcc-listing-risultati-prodotto .upper-row .icon_puntifan {
    margin-top: 25px;
    width: 80%;
}

#Products .ish-search-productList .smcc-listing-risultati-prodotto .buy-product {
    width: 100%;
}

#Products .ish-pagination-site-list {
    display: inline-block;
    vertical-align: baseline;
    list-style-type: none;
    padding: 0;
    font-size: 0;
    margin: 30px auto 10px auto;
}

#Products .ish-search-productList .smcc-listing-risultati-prodotto .vetrina_label {
    margin-left: 25%;
}

#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .first-col,
#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row {
    padding-left: inherit;
}










@media only screen and (max-width : 480px) {
	#Products .kor-tabset-content-contents {
	    width: 98%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .first-row,
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row {
	    float: none;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row .upper-row,
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row .lower-row {
	    float: none;
	    width: inherit;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .first-row .product-description {
	    float: none;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .availability {
	    margin-left: 0;
	    float: none;
	}
	.listing_risultati_prodotto_1 {
	    margin-top: 15px;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .vetrina_label {
	    margin-left: 30%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text {
	    margin: 0 auto;
	}
}

@media only screen and (min-width : 481px) and (max-width : 767px) {
	#Products .kor-tabset-content-contents {
	    width: 98%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .availability {
	    margin-left: 0;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .vetrina_label {
	    margin-left: 15%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .first-row,
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row {
	    padding-left: 0;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row .upper-row,
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .product-text .second-row .lower-row {
	    float: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#Products .kor-tabset-content-contents {
	    margin: 0 auto;
	    width: 98%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .center-text {
	    text-align: center;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .center-text .availability {
	    float: none;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .vetrina_label {
	    margin-left: 15%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#Products .kor-tabset-content-contents {
	    width: 93%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .vetrina_label {
	    margin-left: 30%;
	}
	#Products .ish-search-productList .smcc-listing-risultati-prodotto .vetrina_label {
	    margin-left: 25%;
	}
}

/* EO Ricerca prodotto without Google Search Preference*/


@media (max-width: 767px) {

	.listing_risultati_prodotto_3{
		display:none;
		}

	.vai-alla-scheda{
		display:none;
		}

	.punti-fan{
		display:none;
		}

	.reviews{
		display:none;
		}



	.render-category-products	{
		margin-top: 0px;
		}

	.product-text .second-col{
		padding-left:15px;
		padding-right:15px;
		}

	.listing-border-promotion{
		padding-left:30px;
		}
	.listing-border-promotion-with-previous-promotion
		{
		padding-left:30px;
		}

}

@media (max-width: 493px) {
	.smcc-listing-risultati-prodotto{
	text-align: center;
	}

	.product-text .first-col .product-description{
	float: unset;
	}

	.second-col .availability{
	float: unset;
	}




}

/* EO IncCategoryProducts.isml*/